{{#file-browser/item-features-container
  browserModel=browserModel
  item=item
  features=features
  initiallyExpanded=initiallyExpanded
  as |displayed itemWithFeatures|
}}
  {{#if (contains "recallingMembership" features)}}
    {{#if displayed.recallingMembership.isShown}}
      <div
        class={{concat-classes
          "file-status-tag-group recalling-file-status-tag-group"
          (if (eq displayed.recallingMembership.membership "ancestor")
            "file-status-tag-group-fully-inherited"
          )
        }}
        onmouseover={{action "changeTagHover" "recalling" true}}
        onmouseout={{action "changeTagHover" "recalling" false}}
        onclick={{unless effRecallingDisabled (action "recallTagClicked")}}
      >
        <div
          class={{concat-classes
            "file-status-tag"
            "file-status-recalling"
            "tag-status-progress"
            (if (eq displayed.recallingMembership.membership "ancestor")
              "file-status-tag-inherited"
              "file-status-tag-success"
            )
            (if effRecallingDisabled "file-status-tag-disabled")
          }}
        >
          {{#unless archiveRecallStateProxy.isPending}}
            <div
              class="tag-progress progress-bar progress-bar-striped active"
              style={{recallingProgressStyle}}
            >
            </div>
          {{/unless}}
          <span class="tag-text">
            <span class="recalling-label">{{tt this recallingLabelKey}}</span>
            {{#unless (is-empty recallingPercent)}}
              <span class="recalling-progress">({{recallingPercent}}%)</span>
            {{/unless}}
          </span>
          {{#if (eq displayed.recallingMembership.membership "ancestor")}}
            {{one-icon
              class="tag-icon recalling-inherited-icon inherited-icon"
              icon=inheritedIcon
            }}
          {{/if}}
        </div>
      </div>
    {{else if itemWithFeatures.isRecalled}}
      {{filesystem-browser/tag-recalled
        file=itemWithFeatures
        disabled=effRecallingDisabled
        onTagClicked=(unless effRecallingDisabled (action "recallTagClicked"))
      }}
    {{/if}}
  {{/if}}
  {{#if displayed.effDatasetMembership.isShown}}
    <div
      class={{concat-classes
        "file-status-tag-group dataset-file-status-tag-group"
        (if (eq displayed.effDatasetMembership.membership "ancestor")
          "file-status-tag-group-fully-inherited"
        )
      }}
      onmouseover={{action "changeTagHover" "dataset" true}}
      onmouseout={{action "changeTagHover" "dataset" false}}
      onclick={{unless effDatasetDisabled (action "datasetTagClicked")}}
    >
      <div
        class={{concat-classes
          "file-status-tag"
          "file-status-dataset"
          (if (eq displayed.effDatasetMembership.membership "ancestor")
            "file-status-tag-inherited"
          )
          (if effDatasetDisabled "file-status-tag-disabled")
        }}
      >
        <span class="tag-text">{{tt this "status.dataset"}}</span>
        {{#if (eq displayed.effDatasetMembership.membership "ancestor")}}
          {{one-icon class="dataset-inherited-icon inherited-icon" icon=inheritedIcon}}
          {{one-tooltip title=(tt this "inheritedTip.dataset" fileType=typeText)}}
        {{/if}}
        {{#if datasetsViewForbidden}}
          {{one-tooltip title=hintDatasetsViewForbidden}}
        {{/if}}
      </div>
      {{#if hasAnyProtectionFlag}}
        <div
          class="file-status-tag file-status-tag-warning file-status-tag-icon file-status-protected"
        >
          {{#if dataIsProtected}}
            {{one-icon
              icon="provider"
              class="file-protected-icon file-data-protected-icon"
            }}
          {{/if}}
          {{#if metadataIsProtected}}
            {{one-icon
              icon="browser-attribute"
              class="file-protected-icon file-metadata-protected-icon"
            }}
          {{/if}}
          {{#if protectionFlagsInfo}}
            {{one-tooltip title=protectionFlagsInfo}}
          {{/if}}
        </div>
      {{/if}}
      {{#if (eq displayed.effDatasetMembership.membership "directAndAncestor")}}
        <div
          class={{concat-classes
            "file-status-tag file-status-tag-inherited-addon file-status-tag-icon file-status-inherited-addon"
            (if effDatasetDisabled "file-status-tag-disabled")
          }}
        >
          {{one-icon
            icon=inheritedIcon
            class="inherited-icon"
          }}
          {{one-tooltip title=(tt this "inheritedTip.dataset" fileType=typeText)}}
        </div>
      {{/if}}
    </div>
  {{/if}}
  {{#if displayed.effQosMembership.isShown}}
    <div
      class={{concat-classes
        "file-status-tag-group qos-file-status-tag-group"
        (if (eq displayed.effQosMembership.membership "ancestor")
          "file-status-tag-group-fully-inherited"
        )
      }}
      onmouseover={{action "changeTagHover" "qos" true}}
      onmouseout={{action "changeTagHover" "qos" false}}
      onclick={{unless effQosDisabled (action "qosTagClicked")}}
    >
      <div
        class={{concat-classes
          "file-status-tag"
          "file-status-qos"
          (if (eq displayed.effQosMembership.membership "ancestor")
            "file-status-tag-inherited"
          )
          (if effQosDisabled "file-status-tag-disabled")
        }}
      >
        <span class="tag-text">{{tt this "status.qos"}}</span>
        {{#if (eq displayed.effQosMembership.membership "ancestor")}}
          {{one-icon class="qos-inherited-icon inherited-icon" icon=inheritedIcon}}
          {{one-tooltip title=(tt this "inheritedTip.qos.ancestor")}}
        {{/if}}
        {{#if qosViewForbidden}}
          {{one-tooltip title=hintQosViewForbidden}}
        {{/if}}
      </div>
      {{#if (eq displayed.effQosMembership.membership "directAndAncestor")}}
        <div
          class={{concat-classes
            "file-status-tag file-status-tag-inherited-addon file-status-tag-icon file-status-inherited-addon"
            (if effQosDisabled "file-status-tag-disabled")
          }}
        >
          {{one-icon
            icon=inheritedIcon
            class="inherited-icon"
          }}
          {{one-tooltip title=(tt this "inheritedTip.qos.directAndAncestor")}}
        </div>
      {{/if}}
    </div>
  {{/if}}
  {{#if browserModel.fileFeaturesExtensionComponentName}}
    {{component browserModel.fileFeaturesExtensionComponentName
      browserModel=browserModel
      item=itemWithFeatures
      displayedState=displayed
      onChangeTagHover=(action "changeTagHover")
    }}
  {{/if}}
  {{yield displayed itemWithFeatures}}
{{/file-browser/item-features-container}}
