{{#promise-proxy-container proxy=initialRequiredDataProxy}}
  <h1 class="recall-status-header">
    {{#if (eq processStatus "scheduled")}}
      {{tt this "status.scheduled"}}
    {{else if (eq processStatus "pending")}}
      {{tt this "status.pending"}}
      {{#if recallingPercent}}
        {{tt this "percentageDone" percentage=recallingPercent}}
      {{/if}}
    {{else if (eq processStatus "succeeded")}}
      {{tt this "status.succeeded"}}
    {{else if (eq processStatus "failed")}}
      {{tt this "status.failed"}}
      {{#if recallingPercent}}
        {{tt this "percentageDone" percentage=recallingPercent}}
      {{/if}}
    {{/if}}
  </h1>
  <hr>
  <table class="table table-info table-info-collapsible">
    <tbody>
      <tr class="recall-info-row-archive">
        <td class="property-name">
          {{tt this "archive"}}:
        </td>
        <td class="property-value">
          {{#if archiveProxy.isFulfilled}}
            <a class="archive-link azure" href={{archiveUrl}} target={{navigateTarget}}>
              {{archiveName}}
            </a>
          {{else}}
            {{#if archiveId}}
              <code class="archive-id">{{archiveId}}</code>
            {{else}}
              <em>{{tt this "couldNotLoad"}}</em>
            {{/if}}
          {{/if}}
        </td>
      </tr>
      <tr class="recall-info-row-dataset">
        <td class="property-name">
          {{tt this "dataset"}}:
        </td>
        <td class="property-value">
          {{#if datasetProxy.isFulfilled}}
            <a class="dataset-link azure" href={{datasetUrl}} target={{navigateTarget}}>
              {{datasetName}}
            </a>
          {{else}}
            {{#if datasetId}}
              <code class="dataset-id">{{datasetId}}</code>
            {{else}}
              <em>{{tt this "couldNotLoad"}}</em>
            {{/if}}
          {{/if}}
        </td>
      </tr>
      <tr class="recall-info-row-target-path">
        <td class="property-name">
          {{tt this "targetPath"}}:
        </td>
        <td class="property-value">
          {{#if recallRootFileProxy.isFulfilled}}
            {{file-path file=recallRootFile}}
          {{else}}
            <em>{{tt this "couldNotLoad"}}</em>
          {{/if}}
        </td>
      </tr>

      <tr class="recall-info-row-started-at">
        <td class="property-name">
          {{tt this "startedAt"}}:
        </td>
        <td class="property-value">
          {{date-format startedAt format="report" blank="—"}}
        </td>
      </tr>
      {{#if finishedAt}}
        <tr class="recall-info-row-finished-at">
          <td class="property-name">
            {{tt this "finishedAt"}}:
          </td>
          <td class="property-value">
            {{date-format finishedAt format="report" blank="—"}}
          </td>
        </tr>
      {{/if}}

      <tr class="recall-info-row-files">
        <td class="property-name">
          {{tt this "filesRecalled"}}:
        </td>
        <td class="property-value">
          {{filesRecalled}} / {{filesToRecall}}
        </td>
      </tr>
      <tr class="recall-info-row-bytes">
        <td class="property-name">
          {{tt this "dataRecalled"}}:
        </td>
        <td class="property-value">
          {{bytesRecalledText}} / {{bytesToRecallText}}
        </td>
      </tr>

      {{#if filesFailed}}
        <tr class="recall-info-row-files-failed">
          <td class="property-name text-danger">
            {{tt this "filesFailed"}}:
          </td>
          <td class="property-value text-danger">
            {{filesFailed}}
          </td>
        </tr>
      {{/if}}
      {{#if lastError}}
        <tr class="recall-info-row-last-error">
          <td class={{concat-classes
            "property-name"
            "text-danger"
            (if showErrorTextarea "with-input")
          }}>
            {{tt this "lastError"}}:
          </td>
          <td class="property-value">
            {{#if showErrorTextarea}}
              <div class="input-group input-group-clipboard-textarea has-error">
                {{clipboard-line
                  value=lastErrorParsed.message
                  type="textarea"
                  textareaRows="4"
                  size="sm"
                  class="monospace-font compact"
                }}
              </div>
            {{else}}
              {{#if (eq lastErrorParsed.type "unknown")}}
                <em class="error-string">
                  {{tt this "unknownError"}}
                </em>
              {{else}}
                <span class="error-string text-danger">
                  {{lastErrorParsed.message}}
                </span>
              {{/if}}
            {{/if}}
          </td>
        </tr>
      {{/if}}
    </tbody>
  </table>
  {{yield}}
{{/promise-proxy-container}}