<th
  class={{concat-classes
    "fb-table-col-files"
    (if isDropBorderShown "border-dashed")
  }}
  colspan={{if (media "isMobile") "2" "1"}}
>
  <div class="fb-table-first-col-container">
    <div class="table-header-text">{{tt this "headers.files"}}</div>
    {{!--
      table-header-jump-control flex element is intentionally left rendered even
      if file-browser/jump-control component is not rendered to keep space
    --}}
    <div class="table-header-jump-control">
      {{#unless effIsJumpControlHidden}}
        {{file-browser/jump-control
          browserModel=browserModel
          inputValue=jumpControlValue
          changeInputValue=(action "changeJumpControlValue")
        }}
      {{/unless}}
    </div>
    <div class="table-header-status-bar">{{yield}}</div>
  </div>
  <div
    class="draggable-area"
    ondragover={{action "headingDragOverAction"}}
    ondragleave={{action "headingDragLeaveAction"}}
    ondrop={{action "headingDropAction" 0}}
  >
  </div>
</th>
{{#each columnsConfiguration.columnsOrder as |columnName i|}}
  {{#if (get columnsConfiguration (concat "columns." columnName ".isVisible"))}}
    <th
      class={{concat-classes
        (concat "fb-table-col-" columnName)
        "fb-table-secondary-col"
        "hidden-xs"
        (if isDropBorderShown "border-dashed")
      }}
      style={{get columnsConfiguration (concat "columnsStyle." columnName)}}
      draggable=true
      ondragstart={{action "headingDragAction" columnName}}
      ondragend={{action "headingDragEndAction"}}
    >
      <span class="column-name">
        {{one-icon icon="drag" class="column-move-icon"}}
        <span class="column-name-text">
          {{tt this (concat "headers." columnName)}}
          {{#if (or (eq columnName "ctime") (eq columnName "modification"))}}
            <div class="column-subname">
              ({{tt this (concat "headers." columnName "Subname")}})
            </div>
          {{/if}}
        </span>
        {{#if (contains columnName columnsNamesWithTooltip)}}
          {{#one-icon icon="browser-info" class="column-info-icon"}}
            {{one-tooltip
              title=(tt this
                (concat "headers." columnName "Tooltip") oneprovider=currentProviderName
              )
            }}
          {{/one-icon}}
        {{/if}}
      </span>
      <div
        class="draggable-area"
        ondragover={{action "headingDragOverAction"}}
        ondragleave={{action "headingDragLeaveAction"}}
        ondrop={{action "headingDropAction" (add i 1)}}
      >
      </div>
    </th>
  {{/if}}
{{/each}}
{{!-- hide actions th to make space for jump-control (see also colspan in first th) --}}
{{columns-configuration-cell
  columnsConfiguration=columnsConfiguration
  dragStartAction=(if (not isShareRoot) (action "checkboxDragStart"))
  dragEndAction=(if (not isShareRoot) (action "checkboxDragEnd"))
}}
