<th class="fb-table-col-files" colspan={{if (media "isMobile") "2" "1"}}>
  <div class="fb-table-first-col-container">
    <div class="table-header-text">{{tt this "files"}}</div>
    {{!--
      table-header-jump-control flex element is intentionally left rendered even
      if file-browser/jump-control component is not rendered to keep space
    --}}
    <div class="table-header-jump-control">
      {{#unless effIsJumpControlHidden}}
        {{file-browser/jump-control
          browserModel=browserModel
          inputValue=jumpControlValue
          changeInputValue=(action "changeJumpControlValue")
        }}
      {{/unless}}
    </div>
    <div class="table-header-status-bar">{{yield}}</div>
  </div>
</th>
{{#if browserModel.columns.owner.isVisible}}
  <th
    class="fb-table-col-owner fb-table-secondary-col"
    style={{browserModel.columnsStyle.owner}}
  >
    {{tt this "owner"}}
  </th>
{{/if}}
{{#if browserModel.columns.size.isVisible}}
  <th
    class="fb-table-col-size fb-table-secondary-col hidden-xs"
    style={{browserModel.columnsStyle.size}}
  >
    {{tt this "size"}}
  </th>
{{/if}}
{{#if browserModel.columns.modification.isVisible}}
  <th
    class="fb-table-col-modification fb-table-secondary-col hidden-xs"
    style={{browserModel.columnsStyle.modification}}
  >
    {{tt this "modification"}}
  </th>
{{/if}}
{{!-- hide actions th to make space for jump-control (see also colspan in first th) --}}
{{#if (media "isMobile")}}
  <th class="fb-table-col-actions-menu hidden-xs"></th>
{{else}}
  <th class="fb-table-col-actions-menu">
    <div
      class="fb-toolbar-button column-modification-button"
      {{action
        (mut columnModificationOpened)
        (not columnModificationOpened)
        bubbles=false
      }}
    >
      {{one-icon-tagged
        icon="columns"
        tagIcon=(if (not browserModel.isAnyColumnHidden) "settings")
        class="tag-right"
      }}
      {{#if browserModel.isAnyColumnHidden}}
        <div class="hidden-columns-number-container">
          <span class="hidden-columns-number">{{browserModel.hiddenColumnsCount}}</span>
        </div>
      {{/if}}
      {{one-tooltip title=(if browserModel.isAnyColumnHidden
        (tt this "hiddenColumns")
        (tt this "configureColumns")
      )}}
    </div>
    {{columns-configuration-popover
      isOpened=columnModificationOpened
      triggerSelector=(concat "#" elementId " .column-modification-button")
      browserModel=browserModel
    }}
  </th>
{{/if}}
