<span class="file-info-mobile-inner file-info-mobile-left file-info-mobile-size">
  {{#if (eq file.effFile.type "file")}}
    {{#if (or file.effFile.isShowProgress (not file.effFile.isPollingSize))}}
      <span class="{{if file.effFile.isShowProgress "infinite animated pulse-mint"}}">
        {{bytes-to-string file.effFile.size}}
      </span>
    {{else}}
      {{spin-spinner-block sizeClass="xs" class="absolute-middle-centered"}}
    {{/if}}
  {{else}}
    —
  {{/if}}
</span>
<span class="file-info-mobile-inner file-info-mobile-right file-info-mobile-modification">
  {{date-format file.effFile.modificationTime format="dateWithMinutes" blank="—"}}
</span>