{{#if (and (not previewMode) (gt hardlinksCount 1))}}
  <div
    class="file-status-tag file-status-hardlinks {{if disabled "file-status-tag-disabled"}}"
    {{action
      (if disabled
        (no-action)
        (action invokeFileAction file "info" "hardlinks")
      )
      bubbles=(bool disabled)
    }}
  >
    {{tt this "status.hardlinks" hardlinksCount=hardlinksCount}}
  </div>
{{/if}}
{{#if (and (not previewMode) (not isSymlink) isShared)}}
  <div
    class="file-status-tag file-status-shared {{if disabled "file-status-tag-disabled"}}"
    {{action
      (if disabled
        (no-action)
        (action invokeFileAction file "share")
      )
      bubbles=(bool disabled)
    }}
  >
    {{tt this "status.shared"}}
  </div>
{{/if}}
{{#if nameConflict}}
  <div class="file-status-tag file-status-tag-danger file-status-conflict">
    {{tt this "status.conflict"}}
    {{one-tooltip title=(tt this "otherFileSameName")}}
  </div>
{{/if}}
{{#if (and (not isSymlink) isForbidden)}}
  <div class="file-status-tag file-status-tag-warning file-status-forbidden">
    {{tt this "status.forbidden"}}
    {{one-tooltip title=(tt this (concat "hintForbidden." file.type))}}
  </div>
{{/if}}
{{#if (and (not isSymlink) hasMetadata)}}
  <div
    class="file-status-tag file-status-metadata {{if disabled "file-status-tag-disabled"}}"
    {{action
      (if disabled
        (no-action)
        (action invokeFileAction file "metadata")
      )
      bubbles=(bool disabled)
    }}
  >
    {{tt this "status.metadata"}}
  </div>
{{/if}}
{{#if (and (not isSymlink) hasAcl)}}
  <div
    class={{concat-classes
      "file-status-tag file-status-acl"
      (if previewMode "file-status-tag-warning")
      (if disabled "file-status-tag-disabled")
    }}
    {{action
      (if disabled
        (no-action)
        (action invokeFileAction file "permissions")
      )
      bubbles=(bool disabled)
    }}
  >
    {{tt this "status.acl"}}
    {{#if previewMode}}
      {{one-tooltip title=(tt this "hintAclPreview" fileType=typeText)}}
    {{/if}}
  </div>
{{/if}}

{{#unless previewMode}}
  {{filesystem-browser/file-features
    item=file
    spacePrivileges=browserModel.spacePrivileges
    onInvokeItemAction=(action invokeFileAction)
  }}
{{/unless}}