<span class="user-info-trigger">
  {{#truncated-string class="file-owner-line"}}
    <span
      class={{concat-classes
        "file-owner-fullname clickable"
        (if hasUnderline "has-underline")
      }}
      {{action "toggleUserInfo" bubbles=false}}
      onmouseover={{action "changeIconHover" true}}
      onmouseout={{action "changeIconHover" false}}
    >
      {{or owner.fullName "—"}}
    </span>
  {{/truncated-string}}
  {{#if owner.username}}
    {{#truncated-string class="file-owner-line"}}
      <span
        class="file-owner-username clickable"
        {{action "toggleUserInfo" bubbles=false}}
        onmouseover={{action "changeIconHover" true}}
        onmouseout={{action "changeIconHover" false}}
      >
        ({{owner.username}})
      </span>
    {{/truncated-string}}
  {{/if}}
</span>
{{#record-info-popover
  isOpened=userInfoOpened
  triggerSelector=(concat "#" elementId " .user-info-trigger")
}}
  {{user-info-content
    record=owner
    errorReason=errorReason
  }}
{{/record-info-popover}}
