<th class="fb-table-col-files" colspan={{if (media "isMobile") "2" "1"}}>
  <div class="fb-table-first-col-container">
    <div class="table-header-text">{{tt this "files"}}</div>
    {{!--
      table-header-jump-control flex element is intentionally left rendered even
      if file-browser/jump-control component is not rendered to keep space
    --}}
    <div class="table-header-jump-control">
      {{#unless effIsJumpControlHidden}}
        {{file-browser/jump-control
          browserModel=browserModel
          inputValue=jumpControlValue
          changeInputValue=(action "changeJumpControlValue")
        }}
      {{/unless}}
    </div>
    <div class="table-header-status-bar">{{yield}}</div>
  </div>
</th>
{{#each columnsConfiguration.columnsOrder as |columnName|}}
  {{#if (get columnsConfiguration (concat "columns." columnName ".isVisible"))}}
    <th
      class={{concat "fb-table-col-" columnName " fb-table-secondary-col hidden-xs"}}
      style={{get columnsConfiguration (concat "columnsStyle." columnName)}}
    >
      {{tt this columnName}}
      {{#if (eq columnName "replication")}}
        {{#one-icon icon="browser-info"}}
          {{one-tooltip
            title=(tt this "replicationTooltip" oneprovider=currentProviderName)
          }}
        {{/one-icon}}
      {{/if}}
    </th>
  {{/if}}
{{/each}}
{{!-- hide actions th to make space for jump-control (see also colspan in first th) --}}
{{columns-configuration-cell
  columnsConfiguration=columnsConfiguration
}}
