<td class="fb-table-col-size">
  <span class="file-item-text">
    {{#if (eq file.effFile.type "file")}}
      {{#if file.effFile.isPollingSize}}
        {{spin-spinner-block sizeClass="xs" class="absolute-middle-centered"}}
      {{else}}
        {{bytes-to-string file.effFile.size}}
      {{/if}}
    {{else}}
      —
    {{/if}}
  </span>
</td>
<td class="fb-table-col-modification">
  <span class="file-item-text">
    {{date-format file.effFile.modificationTime format="dateWithMinutes" blank="—"}}
  </span>
</td>
