{{#if browserModel.isOwnerVisible}}
  <td class="fb-table-col-owner multiline">
    <span class="file-item-text">
      {{#truncated-string class="file-owner-line file-owner-fullname"}}
        {{or owner.fullName "—"}}
      {{/truncated-string}}
      {{#if owner.username}}
        {{#truncated-string class="file-owner-line file-owner-username"}}
          ({{owner.username}})
        {{/truncated-string}}
      {{/if}}
    </span>
  </td>
{{/if}}

<td class={{concat "fb-table-col-size hidden-xs " (if file.effFile.isShowProgress "multiline")}}>
  <span class="file-item-text">
    {{#if (eq file.effFile.type "file")}}
      {{#if (or file.effFile.isShowProgress (not file.effFile.isPollingSize))}}
        <span class="{{if file.effFile.isShowProgress "infinite animated pulse-mint"}}">
          {{bytes-to-string file.effFile.size}}
        </span>
        {{#if file.effFile.isShowProgress}}
          <br>
          <span class="small">
            {{tt this file.effFile.currentOperation}}
          </span>
        {{/if}}
      {{else}}
        {{spin-spinner-block sizeClass="xs" class="absolute-middle-centered"}}
      {{/if}}
    {{else if (or previewMode (eq file.type "symlink"))}}
      {{#if (not-eq file.effFile.size null)}}
        {{bytes-to-string file.effFile.size}}
      {{else}}
        —
      {{/if}}
    {{else}}
      <div
        class={{concat-classes
          "dir-size-container"
          "active"
        }}
        onclick={{action "invokeFileAction" file "info" "size"}}
      >
        <span class="dir-size-value">
          {{#if (not-eq file.effFile.size null)}}
            {{bytes-to-string file.effFile.size}}
          {{else}}
            —
          {{/if}}
        </span>
        {{one-icon
          icon="overview"
          class="inline-icon-container"
        }}
      </div>
      {{#if tooltipText}}
        {{one-tooltip
          title=tooltipText
        }}
      {{/if}}
    {{/if}}
  </span>
</td>
<td class="fb-table-col-modification hidden-xs">
  <span class="file-item-text">
    {{date-format file.effFile.modificationTime format="dateWithMinutes" blank="—"}}
  </span>
</td>
