<td class={{concat "fb-table-col-size hidden-xs " (if file.effFile.isShowProgress "multiline")}}>
  <span class="file-item-text">
    {{#if (eq file.effFile.type "file")}}
      {{#if (or file.effFile.isShowProgress (not file.effFile.isPollingSize))}}
        <span class="{{if file.effFile.isShowProgress "infinite animated pulse-mint"}}">
          {{bytes-to-string file.effFile.size}}
        </span>
        {{#if file.effFile.isShowProgress}}
          <br>
          <span class="small">
            {{tt this file.effFile.currentOperation}}
          </span>
        {{/if}}
      {{else}}
        {{spin-spinner-block sizeClass="xs" class="absolute-middle-centered"}}
      {{/if}}
    {{else if (and (eq file.type "dir") (gt file.effFile.size 0) (not previewMode))}}
      <div 
        class="dir-size-container" 
        onclick={{action "invokeFileAction" file "info" "size"}}
      >
        <span class="dir-size-value">
          {{bytes-to-string file.effFile.size}}
        </span>
        {{one-icon 
          icon="overview" 
          class="inline-icon-container"
        }}
      </div>
      {{one-tooltip
        title=(tt this "sizeInfo")
      }}
    {{else if (not-eq file.effFile.size null)}}
      {{bytes-to-string file.effFile.size}}
    {{else}}
      —
      {{one-tooltip
        title=(
          tt this (if isDirSizeStatsStarted 
          "initializingSizeInfo" 
          "noSizeInfo")
        )
      }}
    {{/if}}
  </span>
</td>
<td class="fb-table-col-modification hidden-xs">
  <span class="file-item-text">
    {{date-format file.effFile.modificationTime format="dateWithMinutes" blank="—"}}
  </span>
</td>
