{{#if (and (not previewMode) (gt hardlinkCount 1))}}
  <div
    class="file-status-tag file-status-hardlinks {{if isEffDisabled "file-status-tag-disabled"}}"
    {{action
      (if isEffDisabled
        (no-action)
        (action invokeFileAction file "info" "hardlinks")
      )
      bubbles=(bool isEffDisabled)
    }}
  >
    {{tt this "status.hardlinks" hardlinkCount=hardlinkCount}}
  </div>
{{/if}}
{{#if (and (not previewMode) (not isSymlink) isShared)}}
  <div
    class="file-status-tag-group {{if (not isEffDisabled) "clickable"}}"
    {{action
      (if isEffDisabled
        (no-action)
        (action "handleShareBadgeClick" file)
      )
      bubbles=(bool isEffDisabled)
    }}
  >
    <div
      class="file-status-tag file-status-shared {{if isEffDisabled "file-status-tag-disabled"}}"
    >
      {{tt this "status.shared"}}
    </div>
    {{#if isOpenData}}
      <div
        class="file-status-tag file-status-tag-warning file-status-tag-icon file-status-open-data"
      >
        {{one-icon
          icon="globe-cursor"
          class="file-open-data-icon"
        }}
        {{one-tooltip title=(tt this "hintOpenData" fileType=typeText)}}
      </div>
    {{/if}}
  </div>
{{/if}}
{{#if nameConflict}}
  <div class="file-status-tag file-status-tag-danger file-status-conflict">
    {{tt this "status.conflict"}}
    {{one-tooltip title=(tt this "otherFileSameName")}}
  </div>
{{/if}}
{{#if (and (not isSymlink) isForbidden)}}
  <div class="file-status-tag file-status-tag-warning file-status-forbidden">
    {{tt this "status.forbidden"}}
    {{one-tooltip title=(tt this (concat "hintForbidden." file.type))}}
  </div>
{{/if}}
{{#if (and (not isSymlink) hasCustomMetadata)}}
  <div
    class="file-status-tag file-status-metadata {{if isEffDisabled "file-status-tag-disabled" "clickable"}}"
    {{action
      (if isEffDisabled
        (no-action)
        (action "handleMetadataBadgeClick" file)
      )
      bubbles=(bool isEffDisabled)
    }}
  >
    {{tt this "status.metadata"}}
  </div>
{{/if}}
{{#if (and
  (and (not isSymlink) hasAcl)
  (not browserModel.columnsConfiguration.columns.posixPermissions.isVisible)
)}}
  <div
    class={{concat-classes
      "file-status-tag file-status-acl"
      (if previewMode "file-status-tag-warning")
      (if isEffDisabled "file-status-tag-disabled")
      (if (not (or isEffDisabled previewMode)) "clickable")
    }}
    {{action
      (if (or isEffDisabled previewMode)
        (no-action)
        (action "handleAclBadgeClick" file)
      )
      bubbles=(bool isEffDisabled)
    }}
  >
    {{tt this "status.acl"}}
    {{#if previewMode}}
      {{one-tooltip title=(tt this "hintAclPreview" fileType=typeText)}}
    {{/if}}
  </div>
{{/if}}

{{#unless previewMode}}
  {{filesystem-browser/file-features
    browserModel=browserModel
    item=file
    disabled=isEffDisabled
    isFileConsumerDisabled=true
    onInvokeItemAction=(action invokeFileAction)
  }}
{{/unless}}
