{{#each columnsConfiguration.columnsOrder as |columnName|}}
  {{#if (get columnsConfiguration (concat "columns." columnName ".isVisible"))}}
    {{#if (eq columnName "size")}}
      <td class={{concat
          "fb-table-col-size hidden-xs "
          (if file.effFile.isShowProgress "multiline")
        }}
        style={{columnsConfiguration.columnsStyle.size}}
      >
        <span class="file-item-text">
          {{#if (eq file.effFile.type "file")}}
            {{#if (or file.effFile.isShowProgress (not file.effFile.isPollingSize))}}
              <span class="{{if file.effFile.isShowProgress "infinite animated pulse-mint"}}">
                {{bytes-to-string file.effFile.size}}
              </span>
              {{#if file.effFile.isShowProgress}}
                <br>
                <span class="small">
                  {{tt this file.effFile.currentOperation}}
                </span>
              {{/if}}
            {{else}}
              {{spin-spinner-block sizeClass="xs" class="absolute-middle-centered"}}
            {{/if}}
          {{else if isItemDirStatsFeatureHidden}}
            {{#if isUnknownSizeShown}}
              —
            {{else}}
              {{bytes-to-string file.effFile.size}}
            {{/if}}
          {{else}}
            <div
              class={{concat-classes
                "dir-size-container"
                "active"
                "clickable"
              }}
              onclick={{action "invokeFileAction" file "info" "size"}}
            >
              <span class="dir-size-value">
                {{#if isUnknownSizeShown}}
                  —
                {{else}}
                  {{bytes-to-string file.effFile.size}}
                {{/if}}
              </span>
              {{one-icon
                icon="overview"
                class="inline-icon-container"
              }}
            </div>
            {{#if tooltipText}}
              {{one-tooltip
                title=tooltipText
              }}
            {{/if}}
          {{/if}}
        </span>
      </td>
    {{else if (eq columnName "modification")}}
      <td
        class="fb-table-col-modification table-col-time multiline hidden-xs"
        style={{columnsConfiguration.columnsStyle.modification}}
      >
        <div class="file-item-text">
          <div class="date-text">
            {{date-format file.effFile.mtime format="date" blank="—"}}
          </div>
          <div class="time-text">
            {{date-format file.effFile.mtime format="timeWithSeconds" blank="—"}}
          </div>
        </div>
      </td>
    {{else if (eq columnName "owner")}}
      <td
        class="fb-table-col-owner multiline hidden-xs"
        style={{columnsConfiguration.columnsStyle.owner}}
      >
        <span class="file-item-text">
          {{filesystem-browser/table-cell-owner-info
            owner=owner
            errorReason=errorReasonForOwnerProxy
          }}
        </span>
      </td>
    {{else if (eq columnName "replication")}}
      <td class="fb-table-col-replication hidden-xs">
        <span
          class="file-item-text clickable"
          onclick={{action "invokeFileAction" file "info" "distribution"}}
        >
          {{#if (eq percentageReplication null)}}
            <span class="replication-rate-text empty-replication-rate">—</span>
          {{else}}
            <span class="replication-rate-text">
              {{#if isSmallReplicationRate}}
                &lt; 1%
              {{else}}
                {{percentageReplication}}%
              {{/if}}
            </span>
            <span class="replication-bar-container">
              <hr
                class={{concat-classes
                  "replication-bar"
                  (if (eq percentageReplication 100) "full")
                  (if isSmallReplicationRate "almost-empty-bar")
                }}
                style={{replicationBarStyle}}
              >
              <hr
                class={{concat-classes
                  "remain-background-bar"
                  (if (eq percentageReplication 0) "full")
                }}
                style={{emptyBarStyle}}
              >
            </span>
          {{/if}}
          {{one-tooltip title=(tt this "replicationRateTooltip")}}
        </span>
      </td>
    {{else if (eq columnName "qos")}}
      <td
        class="fb-table-col-qos hidden-xs"
        style={{browserModel.columnsStyle.qos}}
      >
        <span class={{concat-classes
            "file-item-text"
            (concat "qos-status-" qosStatus)
            (if (not qosViewForbidden) "clickable")
          }}
          onclick={{unless qosViewForbidden (action "invokeFileAction" file "info" "qos")}}
        >
          {{#if (not qosStatus)}}
            <span class="no-qos-text">—</span>
            {{one-tooltip title=(tt this "qosStatusHint.noQos" fileType=fileTypeText)}}
          {{else}}
            <span class="status-icon">
              {{one-icon icon=statusIcon class=(concat "qos-status-icon qos-status-" qosStatus)}}
              {{one-tooltip title=(tt this (concat "qosStatusHint." qosStatus) fileType=fileTypeText)}}
            </span>
          {{/if}}
        </span>
      </td>
    {{else if (eq columnName "atime")}}
      <td
        class="fb-table-col-atime table-col-time multiline hidden-xs"
        style={{columnsConfiguration.columnsStyle.atime}}
      >
        <div class="file-item-text">
          <div class="date-text">
            {{date-format file.effFile.atime format="date" blank="—"}}
          </div>
          <div class="time-text">
            {{date-format file.effFile.atime format="timeWithSeconds" blank="—"}}
          </div>
        </div>
      </td>
    {{else if (eq columnName "ctime")}}
      <td
        class="fb-table-col-ctime table-col-time multiline hidden-xs"
        style={{columnsConfiguration.columnsStyle.ctime}}
      >
        <div class="file-item-text">
          <div class="date-text">
            {{date-format file.effFile.ctime format="date" blank="—"}}
          </div>
          <div class="time-text">
            {{date-format file.effFile.ctime format="timeWithSeconds" blank="—"}}
          </div>
        </div>
      </td>
    {{else if (eq columnName "posixPermissions")}}
      <td
        class="fb-table-col-posix table-col-posix multiline hidden-xs"
        style={{columnsConfiguration.columnsStyle.posixPermissions}}
      >
        <div
          class="file-item-text"
          onclick={{action "invokeFileAction" file "info" "permissions"}}
        >
          {{#if isPosixActive}}
            <div class="string-posix-text">
              {{permissions.stringRepresentation}}
            </div>
            <div class="octal-posix-text">
              {{file.effFile.posixPermissions}}
            </div>
          {{else}}
            <div class="string-acl-text">{{tt this "acl"}}</div>
          {{/if}}
        </div>
      </td>
    {{else if (eq columnName "fileId")}}
      <td
        class="fb-table-col-file-id multiline hidden-xs"
        style={{columnsConfiguration.columnsStyle.fileId}}
      >
        <div class="file-id">
          <div class="file-id-text">
            <div>
              {{fileIdFirstPart}}
            </div>
            <div>
              {{fileIdSecondPart}}&#8230;
            </div>
            {{one-tooltip title=file.effFile.cdmiObjectId class="tooltip-text-monospace"}}
          </div>
          {{one-clipboard-line
            rawValue=file.effFile.cdmiObjectId
          }}
        </div>
      </td>
    {{/if}}
  {{/if}}
{{/each}}



