{{#if (and (not previewMode) (gt hardlinksCount 1))}}
  <div
    class="file-status-tag file-status-hardlinks {{if disabled "file-status-tag-disabled"}}"
    {{action
      (if disabled
        (no-action)
        (action invokeFileAction file "info" "hardlinks")
      )
      bubbles=(bool disabled)
    }}
  >
    {{tt this "status.hardlinks" hardlinksCount=hardlinksCount}}
  </div>
{{/if}}
{{#if (and (not previewMode) (not isSymlink) isShared)}}
  <div
    class="file-status-tag file-status-shared {{if disabled "file-status-tag-disabled"}}"
    {{action
      (if disabled
        (no-action)
        (action invokeFileAction file "share")
      )
      bubbles=(bool disabled)
    }}
  >
    {{tt this "status.shared"}}
  </div>
{{/if}}
{{#if nameConflict}}
  <div class="file-status-tag file-status-tag-danger file-status-conflict">
    {{tt this "status.conflict"}}
    {{one-tooltip title=(tt this "otherFileSameName")}}
  </div>
{{/if}}
{{#if (and (not isSymlink) isForbidden)}}
  <div class="file-status-tag file-status-tag-warning file-status-forbidden">
    {{tt this "status.forbidden"}}
    {{one-tooltip title=(tt this (concat "hintForbidden." file.type))}}
  </div>
{{/if}}
{{#if showDatasetTag}}
  <div class="file-status-tag-group dataset-file-status-tag-group">
    <div
      class={{concat-classes
        "file-status-tag"
        "file-status-dataset"
        (if (or disabled datasetsViewForbidden) "file-status-tag-disabled")
      }}
      {{action
        (if (or disabled datasetsViewForbidden)
          (no-action)
          (action invokeFileAction file "datasets")
        )
        bubbles=(bool disabled)
      }}
    >
      {{#if (eq effDatasetMembership "direct")}}
        {{tt this "status.dataset"}}
      {{else if (eq effDatasetMembership "ancestor")}}
        {{tt this "status.dataset"}}&nbsp;{{one-icon class="dataset-status-arrow dataset-inherited-icon inherited-icon" icon=inheritedIcon}}
      {{/if}}
      {{#if datasetsViewForbidden}}
        {{one-tooltip title=hintDatasetsViewForbidden}}
      {{/if}}
    </div>
    {{#if hasAnyProtectionFlag}}
      <div
        class="file-status-tag file-status-tag-warning file-status-tag-icon file-status-protected"
      >
        {{#if dataIsProtected}}
          {{one-icon
            icon="provider"
            class="file-protected-icon file-data-protected-icon"
          }}
        {{/if}}
        {{#if metadataIsProtected}}
          {{one-icon
            icon="browser-attribute"
            class="file-protected-icon file-metadata-protected-icon"
          }}
        {{/if}}
        {{#if protectionFlagsInfo}}
          {{one-tooltip title=protectionFlagsInfo}}
        {{/if}}
      </div>
    {{/if}}
  </div>
{{/if}}
{{#if (and (not isSymlink) hasMetadata)}}
  <div
    class="file-status-tag file-status-metadata {{if disabled "file-status-tag-disabled"}}"
    {{action
      (if disabled
        (no-action)
        (action invokeFileAction file "info" "metadata")
      )
      bubbles=(bool disabled)
    }}
  >
    {{tt this "status.metadata"}}
  </div>
{{/if}}
{{#if (and (not isSymlink) hasAcl)}}
  <div
    class={{concat-classes
      "file-status-tag file-status-acl"
      (if previewMode "file-status-tag-warning")
      (if disabled "file-status-tag-disabled")
    }}
    {{action
      (if disabled
        (no-action)
        (action invokeFileAction file "info" "permissions")
      )
      bubbles=(bool disabled)
    }}
  >
    {{tt this "status.acl"}}
    {{#if previewMode}}
      {{one-tooltip title=(tt this "hintAclPreview" fileType=typeText)}}
    {{/if}}
  </div>
{{/if}}
{{#if showQosTag}}
  <div
    class={{concat-classes
      "file-status-tag"
      "file-status-qos"
      (if hasDirectQos "file-status-qos-direct")
      (if (or qosViewForbidden disabled) "file-status-tag-disabled")
    }}
    {{action
      (if disabled
        (no-action)
        (action invokeFileAction file "info" "qos")
      )
      bubbles=(bool disabled)
    }}
  >
    {{#if (eq effQosMembership "direct")}}
      {{tt this "status.qos"}}
    {{else if (eq effQosMembership "ancestor")}}
      {{tt this "status.qos"}}&nbsp;{{one-icon class="qos-status-arrow qos-inherited-icon inherited-icon" icon=inheritedIcon}}
    {{/if}}
    {{#if qosViewForbidden}}
      {{one-tooltip title=hintQosViewForbidden}}
    {{/if}}
  </div>
{{/if}}