{{#if isSingleItem}}
  <div class="single-file-info details-with-icon">
    {{one-icon icon="browser-archive" class="details-icon"}}
    <div class="details-content">
      {{#truncated-string
        tagName="div"
        class="single-file-info-file-name details-title"
      }}
        {{firstItem.name}}
      {{/truncated-string}}
      <ul class="details-property-list">
        <li class="property-row">
          <span class="property-label">{{tt this "archived"}}:</span>
          {{archive-content-count archive=firstItem class="property-value"}}
        </li>
      </ul>
    </div>
  </div>
{{else}}
  <div class="row row-items-list">
    {{#each items as |item|}}
      <div class="row-item">
        <div class="browsable-item-icon">
          {{one-icon icon="browser-archive"}}
        </div>
        {{#truncated-string class="sinble-browsable-item-name"}}
          {{item.name}}
        {{/truncated-string}}
        {{#one-label-tip
          tooltipClass="browsable-items-info-tooltip"
          class="item-info-tip-trigger"
          icon="sign-info-rounded"
        }}
          <div class="text-left">
            <span class="item-info-label">
              {{tt this "archived"}}:
            </span>
            <span class="item-info-value archive-size">
              {{archive-content-count archive=item}}
            </span>
          </div>
        {{/one-label-tip}}
      </div>
    {{/each}}
  </div>
{{/if}}
