{{#one-draggable-object
  content=this
  dragStartHook=(action "dragStartAction")
  dragEndHook=(action "dragEndAction")
}}
  <OneIcon @icon="drag" class="column-move-icon" />
  {{one-checkbox
    inputId=checkboxInputId
    checked=(get columnValue "isEnabled")
    update=(action "checkboxChanged" columnName)
    class=(concat-classes
      "filter-column-checkbox"
      (concat columnName "-checkbox")
    )
  }}
  <label
    for={{checkboxInputId}}
    class="column-name-label"
  >
    <TruncatedString>
      {{#if (eq (get columnValue "type") "xattr")}}
        {{get columnValue "displayedName"}}
      {{else}}
        {{tt this (concat translationKey ".name." columnName)}}
      {{/if}}
    </TruncatedString>
    {{#if columnValue.hasSubname}}
      <span class="subname-text">
        {{#if (eq (get columnValue "type") "xattr")}}
          ({{tt this (concat translationKey ".subname.xattr")}})
        {{else}}
          ({{tt this (concat translationKey ".subname." columnName)}})
        {{/if}}
      </span>
    {{/if}}
  </label>
  <div class="icons-container">
    {{#if (eq (get columnValue "type") "xattr")}}
      <div
        class="modify-column icon-container"
        onClick={{action "openXattrModification" columnName}}
      >
        <OneIcon @icon="browser-rename" />
        <OneTooltip
          @title={{tt this "modifyTip" columnName=(get columnValue "xattrKey")}}
        />
      </div>
      <div
        class="remove-column icon-container"
        onClick={{action "removeXattrColumn" columnName}}
      >
        <OneIcon @icon="close" />
        <OneTooltip
          @title={{tt this "removeTip" columnName=(get columnValue "xattrKey")}}
        />
      </div>
    {{/if}}
    {{#if (and
      (not (get columnValue "isVisible"))
      (get columnValue "isEnabled")
    )}}
      <div class="no-view icon-container">
        <OneIcon @icon="no-view" class="no-view-icon" />
        <OneTooltip @title={{tt this "noViewTip"}} />
      </div>
    {{/if}}
    {{#if columnValue.hasTooltip}}
      <div class="column-info icon-container">
        <OneIcon @icon="browser-info" class="column-info-icon" />
        <OneTooltip
          @title={{if (eq (get columnValue "type") "xattr")
            (tt this
              (concat translationKey ".tip.xattr")
              key=(get columnValue "xattrKey")
            )
            (tt this
              (concat translationKey ".tip." columnName)
              oneprovider=currentProviderName
            )
          }}
        />
      </div>
    {{/if}}
    <div class="arrows-container">
      <span
        class="move-down-button icon-container"
        onClick={{action "moveColumnDown" columnName}}
      >
        <OneIcon
          @icon="move-down"
          class={{if isMoveDownIconDisabled "disabled-icon"}}
        />
        {{#if (and (not isMoveDownIconDisabled) isArrowTooltipVisible)}}
          <OneTooltip @title={{tt this "moveDown"}} />
        {{/if}}
      </span>
      <span
        class="move-up-button icon-container"
        onClick={{action "moveColumnUp" columnName}}
      >
        <OneIcon
          @icon="move-up"
          class={{if isMoveUpIconDisabled "disabled-icon"}}
        />
        {{#if (and (not isMoveUpIconDisabled) isArrowTooltipVisible)}}
          <OneTooltip @title={{tt this "moveUp"}} />
        {{/if}}
      </span>
    </div>
  </div>
{{/one-draggable-object}}