<td class="table-data-cell column-timestamp">
  <div class="table-data-cell-content">
    {{date-format timestamp format="report" blank="—"}}
  </div>
</td>
{{#if showFileColumn}}
  <td class="table-data-cell column-file">
    <div class="table-data-cell-content">
      {{#if fileHref}}
        <a
          class="source-file navy underlined truncate"
          target={{navigateTarget}}
          href={{fileHref}}
        >
          {{#truncated-string class="file-name"}}
            {{fileName}}
          {{/truncated-string}}
        </a>
      {{else}}
        {{#truncated-string class="file-name"}}
          {{fileName}}
        {{/truncated-string}}
      {{/if}}
    </div>
  </td>
{{/if}}
<td class="table-data-cell column-event">
  <div class="table-data-cell-content">
    {{qos-modal/audit-log/cell-content-message
      qosLogReason=qosLogReason
      qosLogStatus=qosLogStatus
      entryType=entryType
    }}
  </div>
</td>