<div class="flex-vertical-center">
  {{#if fileInfo.href}}
    <a
      class="navy underlined truncate"
      target={{navigateTarget}}
      href={{fileInfo.href}}
      onclick={{action "fileAnchorClicked"}}
    >
      <div class={{concat-classes "truncate file-name" fileInfo.className}}>
        {{fileInfo.name}}
      </div>
      {{#one-tooltip class="string-path-tooltip"}}
        {{formatted-path-string
          absolutePath=path
          browsableArchive=parentBrowsableArchive
        }}
      {{/one-tooltip}}
    </a>
  {{else}}
    <div class="truncate">
      <span class={{concat-classes "file-name" fileInfo.className}}>
        {{fileInfo.name}}
      </span>
      {{#one-tooltip class="string-path-tooltip"}}
        {{formatted-path-string
          absolutePath=path
          browsableArchive=parentBrowsableArchive
        }}
      {{/one-tooltip}}
    </div>
  {{/if}}
  {{#if fileNameHash}}
    <span class="log-filename-duplicate-hash">{{fileNameHash}}</span>
  {{/if}}
</div>
