<div class="flex-vertical-center">
  {{#if fileInfo.href}}
    <a
      class="navy underlined truncate"
      target={{navigateTarget}}
      href={{fileInfo.href}}
    >
      {{#truncated-string class=(concat-classes "file-name" fileInfo.className)}}
        {{fileInfo.name}}
      {{/truncated-string}}
      {{#one-tooltip class="string-path-tooltip"}}
        {{formatted-path-string
          absolutePath=path
          browsableArchive=parentBrowsableArchive
        }}
      {{/one-tooltip}}
    </a>
  {{else}}
    {{#truncated-string class=(concat-classes "file-name" fileInfo.className)}}
      {{fileInfo.name}}
    {{/truncated-string}}
      {{#one-tooltip class="string-path-tooltip"}}
        {{formatted-path-string
          absolutePath=path
          browsableArchive=parentBrowsableArchive
        }}
      {{/one-tooltip}}
  {{/if}}
</div>
