<div class="flex-vertical-center">
  {{#if (and isFileAccessible href)}}
    <a
      class="navy underlined truncate"
      target={{navigateTarget}}
      href={{href}}
    >
      <div class="truncate file-name">
        {{fileName}}
      </div>
      {{#one-tooltip class="string-path-tooltip"}}
        {{formatted-path-string
          absolutePath=path
          browsableArchive=parentBrowsableArchive
        }}
      {{/one-tooltip}}
    </a>
  {{else}}
    <div class="truncate">
      <span class="file-name">
        {{fileName}}
      </span>
      {{#one-tooltip class="string-path-tooltip"}}
        {{formatted-path-string
          absolutePath=path
          browsableArchive=parentBrowsableArchive
        }}
      {{/one-tooltip}}
    </div>
  {{/if}}
  {{#if fileNameHash}}
    <span class="log-filename-duplicate-hash">{{fileNameHash}}</span>
  {{/if}}
</div>
