<div class="flex-vertical-center">
  {{#if fileInfo.href}}
    <a
      class="navy underlined truncate"
      target={{navigateTarget}}
      href={{fileInfo.href}}
    >
      {{#truncated-string class=(concat-classes "file-name" fileInfo.className)}}
        {{fileInfo.name}}
      {{/truncated-string}}
      {{one-tooltip title=path class="string-path-tooltip"}}
    </a>
  {{else}}
    {{#truncated-string class=(concat-classes "file-name" fileInfo.className)}}
      {{fileInfo.name}}
    {{/truncated-string}}
    {{one-tooltip title=path class="string-path-tooltip"}}
  {{/if}}
</div>
