{{#each columns as |column|}}
  <td class="workflow-row-cell cell-{{column}}">
    {{#if (eq column "name")}}
      {{#truncated-string}}
        {{atmWorkflowExecutionSummary.name}}
      {{/truncated-string}}
    {{else if (eq column "inventory")}}
      {{#if atmWorkflowExecutionSummary.atmInventory.name}}
        {{#truncated-string}}
          {{atmWorkflowExecutionSummary.atmInventory.name}}
        {{/truncated-string}}
      {{else}}
        <em>{{tt this "unknownInventory"}}</em>
      {{/if}}
    {{else if (eq column "scheduledAt")}}
      {{date-format atmWorkflowExecutionSummary.scheduleTime
        format="report"
        blank="—"
      }}
    {{else if (eq column "startedAt")}}
      {{date-format atmWorkflowExecutionSummary.startTime
        format="report"
        blank="—"
      }}
    {{else if (eq column "finishedAt")}}
      {{date-format atmWorkflowExecutionSummary.finishTime
        format="report"
        blank="—"
      }}
    {{else if (eq column "suspendedAt")}}
      {{date-format atmWorkflowExecutionSummary.suspendTime
        format="report"
        blank="—"
      }}
    {{else if (eq column "status")}}
      {{#if statusIcon}}
        {{#one-icon
          icon=statusIcon
          class=(concat "status-icon status-" atmWorkflowExecutionSummary.status)
        }}
          {{#if statusTooltip}}
            {{one-tooltip title=statusTooltip}}
          {{/if}}
        {{/one-icon}}
      {{/if}}
    {{else if (eq column "actions")}}
      {{one-menu-toggle
        id=actionsTriggerId
        class=(concat-classes
          "atm-workflow-execution-actions-trigger clickable"
          (if areActionsOpened "active")
        )
        click=(action "toggleActionsOpen" (not areActionsOpened))
      }}
      {{#render-later triggerRender=areActionsOpened}}
        {{#one-webui-popover
          class="atm-workflow-execution-actions"
          padding=false
          popoverStyle="with-dropdown"
          triggerSelector=(concat "#" actionsTriggerId)
          open=areActionsOpened
          onToggle=(action "toggleActionsOpen")
          as |popover|
        }}
          {{#click-outside
            onClickOutside=(action (mut areActionsOpened) false)
            exceptSelector=(concat "#" actionsTriggerId)
          }}
            {{actions-popover-content
              actionsArray=atmWorkflowExecutionActions
              actionClicked=(action "toggleActionsOpen" false)
            }}
          {{/click-outside}}
        {{/one-webui-popover}}
      {{/render-later}}
    {{/if}}
  </td>
{{/each}}
{{yield}}
