{{!-- FIXME: refactor using let (array fileDistDataContainer.file) --}}
{{#promise-proxy-container proxy=oneprovidersProxy}}
  {{#one-collapsible-list class="per-file-distribution-list" as |list|}}
    {{#each fileDistributionData as |fileDistDataContainer|}}
      {{#list.item as |listItem|}}
        {{#listItem.header disableToggleIcon=true}}
          <span class="item-icon-container">
            {{one-icon
              class="item-icon"
              icon=(if (eq fileDistDataContainer.fileType "file")
                "browser-file"
                "browser-directory"
              )
            }}
            {{one-tooltip
              title=fileDistDataContainer.file.name
              placement="top"
              arrowPlacement="left"
              triggerEvents="hover"
            }}
          </span>
          <span class="file-name truncate">
            {{fileDistDataContainer.file.name}}
          </span>
          <span class="file-size">
            {{bytes-to-string fileDistDataContainer.file.size}}
          </span>
        {{/listItem.header}}
        {{#listItem.content}}
          <div class="list-content">
            {{file-distribution/oneproviders-distribution
              visible=(if (eq fileDistributionData.length 1) true listItem.isActive)
              oneproviders=oneproviders
              fileDistributionData=fileDistributionData
              space=space
              onReplicate=(action "replicate" fileDistDataContainer.file)
              onMigrate=(action "migrate" fileDistDataContainer.file)
              onEvict=(action "evict" fileDistDataContainer.file)
              getTransfersUrl=(action "getTransfersUrl")
            }}
          </div>
        {{/listItem.content}}
      {{/list.item}}
    {{/each}}
  {{/one-collapsible-list}}
{{/promise-proxy-container}}