<PromiseProxyContainer @proxy={{oneprovidersProxy}}>
  {{#if (eq activeTab "summary")}}
    <p class="batch-mode-intro">
      {{#if itemsNumber}}
        {{summaryText}}
        {{#if filesSizeDetails}}
          <OneLabelTip
            @title={{filesSizeDetails}}
            @icon="browser-info"
            class="details-size-info"
          />
        {{/if}}
      {{/if}}
    </p>
    <FileDistribution::OneprovidersDistribution
      @visible={{true}}
      @batchMode={{true}}
      @fileDistributionData={{fileDistributionData}}
      @oneproviders={{oneproviders}}
      @space={{space}}
      @onReplicate={{action "replicate" files}}
      @onMigrate={{action "migrate" files}}
      @onEvict={{action "evict" files}}
      @getTransfersUrl={{action "getTransfersUrl"}}
      @getProvidersUrl={{action "getProvidersUrl"}}
    />
  {{else if (eq activeTab "details")}}
    {{#if isMultiFile}}
      <OneCollapsibleList class="per-file-distribution-list" as |list|>
        {{#each fileDistributionData as |fileDistDataContainer|}}
          <list.item as |listItem|>
            <listItem.header @disableToggleIcon={{true}}>
              <span class="item-icon-container">
                <OneIcon
                  class="item-icon"
                  @icon={{if
                    (eq fileDistDataContainer.fileType "file")
                    "browser-file"
                    "browser-directory"
                  }}
                />
                <OneTooltip
                  @title={{fileDistDataContainer.file.name}}
                  @placement="top"
                  @triggerEvents="hover"
                />
              </span>
              <span class="file-name truncate">
                {{fileDistDataContainer.file.name}}
              </span>
              <span class="file-size">
                {{bytes-to-string fileDistDataContainer.file.size}}
              </span>
            </listItem.header>
            <listItem.content>
              <div class="list-content">
                <FileDistribution::OneprovidersDistribution
                  @visible={{listItem.isActive}}
                  @oneproviders={{oneproviders}}
                  @fileDistributionData={{array fileDistDataContainer}}
                  @space={{space}}
                  @onReplicate={{action "replicate" fileDistDataContainer.file}}
                  @onMigrate={{action "migrate" fileDistDataContainer.file}}
                  @onEvict={{action "evict" fileDistDataContainer.file}}
                  @getTransfersUrl={{action "getTransfersUrl"}}
                  @getProvidersUrl={{action "getProvidersUrl"}}
                />
              </div>
            </listItem.content>
          </list.item>
        {{/each}}
      </OneCollapsibleList>
    {{else}}
      {{#let fileDistributionData.firstObject as |fileDistDataContainer|}}
        <FileDistribution::OneprovidersDistribution
          @visible={{true}}
          @oneproviders={{oneproviders}}
          @fileDistributionData={{array fileDistDataContainer}}
          @space={{space}}
          @onReplicate={{action "replicate" fileDistDataContainer.file}}
          @onMigrate={{action "migrate" fileDistDataContainer.file}}
          @onEvict={{action "evict" fileDistDataContainer.file}}
          @getTransfersUrl={{action "getTransfersUrl"}}
          @getProvidersUrl={{action "getProvidersUrl"}}
        />
      {{/let}}
    {{/if}}
  {{/if}}
</PromiseProxyContainer>
