<div class="chunks-container">
  <div class="chunks-scale-container">
    <div class="chunks-scale lower-size">{{bytes-to-string 0}}</div>
    <div class="chunks-scale upper-size">{{bytes-to-string fileSize}}</div>
  </div>
  {{#if errorOnStorage}}
    <div class="chunks-text never-synchronized-text hidden-xs">
      {{tt this "error"}}
      {{one-icon
        icon="sign-warning-rounded"
        class="inline-icon-container error-icon"
      }}
    </div>
    <div class="chunks-background never-synchronized-background"></div>
    {{one-tooltip title=errorMessage}}
  {{else if neverSynchronized}}
    <div class="chunks-text never-synchronized-text hidden-xs">
      {{tt this "neverSynchronized"}}
    </div>
    <div class="chunks-background never-synchronized-background"></div>
    {{one-tooltip title=(tt this "neverSynchronizedTip")}}
  {{else}}
    <canvas width={{chunksRange}} height="18" class="chunks-canvas"></canvas>
    <div class="size-label">
      {{blocksSizeText}}
    </div>
  {{/if}}
</div>
<div class="percentage-text">
  {{#if (or errorOnStorage neverSynchronized)}}
    <span>{{tt this "na"}}</span>
  {{else}}
    {{percentageText}}
  {{/if}}
</div>
{{yield}}
