<div class="row share-header-row share-header-path with-menu">
  <div class="col-key">
    {{tt this "path"}}
  </div>
  <div class="col-value">
    {{#if shareRootDeleted}}
      <em class="root-file-deleted">{{tt this "pathForDeletedRootFile"}}</em>
    {{else}}
      {{#promise-proxy-container proxy=archiveInfoProxy sizeClass="xs"}}
        <div class="fb-breadcrumbs-container">
          {{file-browser/fb-breadcrumbs
            class=(if archiveInfo.isInArchive "breadcrumbs-links-disabled")
            dir=share.privateRootFile.content
            rootDir=breadcrumbsRootDir
            rootIcon=breadcrumbsRootIcon
            alwaysShowRootName=archiveInfo.isInArchive
            changeDir=(unless archiveInfo.isInArchive (action "openSpaceDir"))
          }}
        </div>
      {{/promise-proxy-container}}
    {{/if}}
  </div>
  <div class="col-menu">
    {{one-menu-toggle
      class=(concat-classes menuTriggerClass "share-menu-trigger")
      click=(disable-bubbling (action "toggleActions"))
    }}
  </div>
</div>
{{share-show/public-url-viewer
  class="row share-header-row share-header-public-url"
  compact=media.isMobile
  share=share
  showHandle=showHandle
  selectedUrlType=selectedUrlType
  changeSelectedUrlType=(action (mut selectedUrlType))
}}

{{#render-later triggerRender=actionsOpened}}
  {{#one-webui-popover
    class="share-actions transfer-actions"
    popoverStyle="with-dropdown"
    padding=false
    triggerSelector=menuTriggerSelector
    open=actionsOpened
    onToggle=(action "toggleActions")
  }}
    {{#click-outside action=(action "toggleActions" false) except-selector=menuTriggerSelector}}
      {{actions-popover-content
        actionsArray=menuActions
        actionClicked=(action "toggleActions" false)
        class="share-actions"
      }}
    {{/click-outside}}
  {{/one-webui-popover}}
{{/render-later}}

{{#render-later triggerRender=removeShareOpened}}
  {{space-shares/remove-modal
    share=share
    opened=removeShareOpened
    onShowShareList=onShowShareList
    close=(action (mut removeShareOpened) false)
  }}
{{/render-later}}

{{#render-later triggerRender=renameShareOpened}}
  {{space-shares/rename-modal
    share=share
    opened=renameShareOpened
    close=(action (mut renameShareOpened) false)
  }}
{{/render-later}}
