<div class="row share-header-row share-header-path">
  <div class="col-key">
    {{tt this "path"}}
  </div>
  <div class="col-value">
    {{#if shareRootDeleted}}
      <em class="root-file-deleted">{{tt this "pathForDeletedRootFile"}}</em>
    {{else}}
      <PromiseProxyContainer
        @sizeClass="xs"
        @proxy={{archiveInfoProxy}}
        @injectedIsError={{false}}
      >
        {{#if (or archiveInfoProxy.isRejected (not archiveInfo))}}
          <div class="archive-private-root-error">
            <span class="private-root-not-available">{{tt this "pathNotAvailable"}}</span>
          </div>
        {{else}}
          <div class="fb-breadcrumbs-container">
            <FileBrowser::FbBreadcrumbs
              @dir={{share.privateRootFile.content}}
              @rootDir={{breadcrumbsRootDir}}
              @rootIcon={{breadcrumbsRootIcon}}
              @alwaysShowRootName={{archiveInfo.isInArchive}}
              @space={{space}}
              @changeDir={{action "openSpaceDir"}}
            />
          </div>
        {{/if}}
      </PromiseProxyContainer>
    {{/if}}
  </div>
  <div class="col-menu">
    <OneMenuToggle
      class={{concat-classes menuTriggerClass "share-menu-trigger"}}
      onclick={{disable-bubbling (action "toggleActions")}}
    />
  </div>
</div>
<ShareShow::PublicUrlViewer
  class="row share-header-row share-header-public-url"
  @compact={{media "isMobile"}}
  @share={{share}}
  @showHandle={{showHandle}}
  @selectedUrlType={{selectedUrlType}}
  @changeSelectedUrlType={{action (mut selectedUrlType)}}
/>

<RenderLater @triggerRender={{actionsOpened}}>
  <OneWebuiPopover
    class="share-actions transfer-actions"
    @popoverStyle="with-dropdown"
    @padding={{false}}
    @triggerSelector={{menuTriggerSelector}}
    @open={{actionsOpened}}
    @onToggle={{action "toggleActions"}}
  >
    <ClickOutside
      @onClickOutside={{action "toggleActions" false}}
      @exceptSelector={{menuTriggerSelector}}
    >
      <ActionsPopoverContent
        @actionsArray={{menuActions}}
        @actionClicked={{action "toggleActions" false}}
        class="share-actions"
      />
    </ClickOutside>
  </OneWebuiPopover>
</RenderLater>

<RenderLater @triggerRender={{removeShareOpened}}>
  <SpaceShares::RemoveModal
    @share={{share}}
    @opened={{removeShareOpened}}
    @onShowShareList={{onShowShareList}}
    @close={{action (mut removeShareOpened) false}}
  />
</RenderLater>

<RenderLater @triggerRender={{renameShareOpened}}>
  <SpaceShares::RenameModal
    @share={{share}}
    @opened={{renameShareOpened}}
    @close={{action (mut renameShareOpened) false}}
  />
</RenderLater>
