<div class="editor-current-mode-bar">
  <div class="hidden-xs">
    <div class="inline-icon-container">
      {{one-icon icon=modeCurrentIcon}}
    </div>
    <span class="text">{{modeCurrentText}}</span>
  </div>
</div>
{{#if (eq mode "visual")}}
  {{one-markdown-to-html
    class="markdown-view markdown-preview"
    markdown=markdown
  }}
{{else}}
  <textarea
    value={{markdown}}
    oninput={{action "onMarkdownChange" value="target.value"}}
    placeholder={{placeholder}}
    class="no-resize code-textarea textarea-source-editor"
  ></textarea>
{{/if}}
<div class="share-edit-actions-toolbar btn-toolbar">
  {{#bs-button
    class="btn-sm btn-switch-editor-mode"
    type="default"
    disabled=isToggleEditorDisabled
    onClick=(action "toggleEditorMode")
  }}
    {{one-icon icon=modeSwitchIcon}}
    <span class="text">{{modeSwitchText}}</span>
  {{/bs-button}}
  {{#bs-button
    class="btn-sm"
    type="warning"
    disabled=(not isContentChanged)
    onClick=(action "onDiscard")
  }}
    {{tt this "discard"}}
  {{/bs-button}}
  {{#one-button
    type="primary"
    buttonType="submit"
    size="sm"
    disabled=(not isContentChanged)
    onClick=(action "onSave")
  }}
    {{tt this "save"}}
  {{/one-button}}
</div>
