<div class="metadata-header-section">
  <div
    class={{concat-classes
      colClassname
      "col-open-data-editor-additional metadata-header-section-content"
    }}
  >
    <h1 class="section-name">
      {{tt this (if media.isMobile "metadataMobile" "metadata")}}
      {{#if media.isMobile}}
        {{one-label-tip title=(tt this "metadataPublicHeaderTip")}}
      {{/if}}
    </h1>
    <div class="metadata-mode-switch">
      {{#bs-button-group
        value=mode
        class="dublin-core-metadata-mode-btn-group"
        type="radio"
        onChange=(action changeMode)
        as |bg|
      }}
        {{#bg.button type="default" class="btn-sm btn-visual-editor" value="visual"}}
          {{one-icon icon="visual-editor"}}
          <span class="text">{{tt this "visual"}}</span>
        {{/bg.button}}
        {{#bg.button type="default" class="btn-sm btn-xml-editor" value="xml"}}
          {{one-icon icon="xml-file"}}
          <span class="text">{{tt this "xml"}}</span>
        {{/bg.button}}
      {{/bs-button-group}}
    </div>
  </div>
</div>

{{#unless media.isMobile}}
  <div class={{concat-classes colClassname "col-open-data-editor-additional"}}>
    <p class="metadata-text">
      {{tt this "metadataText"}}
      {{one-label-tip title=(tt this "metadataTextMore")}}
    </p>
  </div>
{{/unless}}

<div class={{concat-classes colClassname "col-open-data-editor-main"}}>
  {{#one-carousel activeSlideId=mode as |carousel|}}
    {{#carousel.slide slideId="visual"}}
      <div class="row row-metadata-form {{if (eq groupedEntries.length 0) "no-entries"}}">
        {{#each groupedEntries as |group|}}
          <div class="metadata-group">
            <div class="metadata-group-header">
              <h2 class="metadata-group-name">
                {{tt this (concat "dcElementNames." group.type)}}
              </h2>
              <div class="group-add-entry">
                {{#bs-button
                  type="default"
                  class="btn-sm btn-add-entry"
                  onClick=(action "addEntry" group.type)
                }}
                  {{one-icon class="add-icon" icon="add-filled"}}
                  <span class="text">
                    {{tt this "add"}}
                    {{lowercase (tt this (concat "dcElementNames." group.type))}}
                  </span>
                {{/bs-button}}
              </div>
            </div>
            {{#each (range 0 group.values.length) as |index|}}
              <div class="entry-value-group">
                {{#if (eq group.type "description")}}
                  <textarea
                    class="form-control"
                    data-dc-element-type={{group.type}}
                    rows="4"
                    value={{get group.values index}}
                    placeholder={{tt
                      this
                      "inputPlaceholder"
                      type=(lowercase (tt this (concat "dcElementNames." group.type)))
                    }}
                    oninput={{action "setValue" group.type index}}
                  ></textarea>
                {{else}}
                  <input
                    class="form-control"
                    type="text"
                    data-dc-element-type={{group.type}}
                    value={{get group.values index}}
                    placeholder={{tt
                      this
                      "inputPlaceholder"
                      type=(lowercase (tt this (concat "dcElementNames." group.type)))
                    }}
                    oninput={{action "setValue" group.type index}}
                  >
                {{/if}}
                {{remove-icon onClick=(action "removeEntry" group.type index)}}
              </div>
            {{/each}}
          </div>
        {{/each}}
      </div>
      <div class="row-metadata-group-add">
        <h2>{{tt this "moreElements"}}</h2>
        {{#power-select
          triggerClass="add-metadata-group"
          dropdownClass="add-metadata-group-dropdown"
          options=metadataGroupAddList
          onchange=(action "addMetadataGroup")
          placeholder=(tt this "addMetadataGroup")
          as |groupType|
        }}
          <div class="option-container" data-group-type={{groupType}}>
            {{#truncated-string}}
              <span class="text">
                {{tt this (concat "dcElementNames." groupType)}}
              </span>
            {{/truncated-string}}
          </div>
        {{/power-select}}
      </div>
    {{/carousel.slide}}
    {{#carousel.slide slideId="xml"}}
      <div class="form-group open-data-xml-form-group {{if parserError "has-error"}}">
        <textarea
          value={{xml}}
          oninput={{action updateXml value="target.value"}}
          placeholder={{tt this "xmlTextareaPlaceholder"}}
          class="no-resize code-textarea open-data-xml-textarea form-control"
        ></textarea>
        <div class="form-message text-right">
          {{#if parserError}}
            {{tt this "xmlParserError"}}
          {{else}}
            {{!-- just hold space for error text --}}
            &nbsp;
          {{/if}}
        </div>
      </div>
    {{/carousel.slide}}
  {{/one-carousel}}
</div>

<div class={{concat-classes colClassname "col-open-data-editor-additional"}}>
  {{#if handleService}}
    <p class="row-publish-info">
      {{tt this "publishInfo"
        handleServiceName=handleService.name
        handleServiceId=handleService.entityId
      }}
    </p>
  {{/if}}
  <div class="row row-submit">
    <div class="col-xs-12 col-centered col-submit-center btn-toolbar">
      {{#bs-button
        class="btn-back"
        type="default"
        onClick=(action "back")
      }}
        {{one-icon icon="arrow-left"}}
        <span class="text">
          {{tt this "back"}}
        </span>
      {{/bs-button}}
      {{#one-spin-button
        action=(action "submit")
        disabled=submitDisabled
        class="btn btn-primary btn-submit"
      }}
        {{tt this "publish"}}
      {{/one-spin-button}}
    </div>
  </div>
</div>
