<BsButtonGroup
  class="dublin-core-metadata-mode-btn-group"
  @value={{mode}}
  @type="radio"
  @onChange={{action "changeMode"}}
  as |bg|
>
  <bg.button
    class="btn-sm btn-visual-editor {{if isVisualModeDisabled "disabled"}}"
    @type="default"
    @value="visual"
  >
    <OneIcon @icon="visual-editor" />
    <span class="text">{{tt this "visual"}}</span>
    {{#if visualModeTip}}
      <OneTooltip @title={{visualModeTip}} />
    {{/if}}
  </bg.button>
  <bg.button
    class="btn-sm btn-xml-editor {{if isXmlModeDisabled "disabled"}}"
    @type="default"
    @value="xml"
  >
    <OneIcon @icon="xml-file" />
    <span class="text">{{tt this "xml"}}</span>
    {{#if xmlModeTip}}
      <OneTooltip @title={{xmlModeTip}} />
    {{/if}}
  </bg.button>
</BsButtonGroup>