{{#promise-proxy-container proxy=handleProxy}}
  {{#if handle}}
    {{share-show/open-data-preview
      class="fill-flex-using-column"
      xml=xml
      handleUrl=handle.url
      handleServiceName=handle.handleService.name
    }}
  {{else}}
    {{#promise-proxy-container proxy=handleServicesProxy}}
      {{#if handleServices.length}}
        {{#one-carousel
          activeSlideId=activeSlideOfCreator
          animated=false
          class="opendata-one-carousel"
          as |carousel|
        }}
          {{#carousel.slide slideId="welcome"}}
            {{#content-info
              class="scroll-breakpoint-700 fill-flex-using-column content-info-publish-open-data-welcome"
              header=(tt this "publishWelcome.title")
              text=(tt this "publishWelcome.content")
              buttonAction=(action (mut publishOpenDataStarted) true)
              buttonLabel=(tt this "publishWelcome.publishButton")
              buttonDisabled=(not selectedHandleService)
            }}
              <p>
                {{tt this "publishWelcome.handleServiceText"}}
                {{one-label-tip title=(tt this "publishWelcome.handleServiceTextMore")}}
              </p>
              <div class="row row-handle-service-select">
                {{#one-dropdown
                  triggerClass="select-handle-service"
                  dropdownClass="select-handle-service-dropdown"
                  placeholder=(tt this "publishWelcome.selectHandleServicePlaceholder")
                  searchField="name"
                  selected=selectedHandleService
                  options=handleServices
                  onchange=(action (mut selectedHandleService))
                  as |handleService|
                }}
                  <div class="option-container" data-handle-id={{handleService.entityId}}>
                    {{#truncated-string}}
                      {{name-conflict
                        item=(hash
                          name=handleService.name
                          conflictLabel=(truncate handleService.entityId 6 false)
                        )
                        separator=" #"
                      }}
                    {{/truncated-string}}
                  </div>
                {{/one-dropdown}}
              </div>
            {{/content-info}}
          {{/carousel.slide}}
          {{#carousel.slide slideId="createMetadata"}}
            {{share-show/open-data-editor
              xml=xml
              initialData=initialData
              handleService=selectedHandleService
              updateXml=(action "updateXml")
              submit=(action "submit")
              back=(action "back")
            }}
          {{/carousel.slide}}
        {{/one-carousel}}
      {{else}}
        {{content-info
          class=(if media.isMobile "scroll-breakpoint-600" "scroll-breakpoint-500")
          header=(tt this "noHandleServices.title")
          text=(tt this "noHandleServices.content")
        }}
      {{/if}}
    {{/promise-proxy-container}}
  {{/if}}
{{/promise-proxy-container}}
