{{#if publicMode}}
  <div class="col-xs-12 col-md-7">
    {{one-markdown-to-html
      class="markdown-view"
      markdown=currentMarkdown
    }}
  </div>
  <div class="hidden-xs hidden-sm col-md-5 col-open-data-logo">
    {{#if share.hasHandle}}
      <div class="open-data-logo"></div>
    {{/if}}
  </div>
{{else}}
  {{#if noDescriptionWelcome}}
    {{content-info
      class="scroll-breakpoint-500 vertical-flex-stretch"
      header=(tt this "noDescriptionWelcome.title")
      text=(tt this "noDescriptionWelcome.content")
      buttonAction=(action "startEdit")
      buttonLabel=(tt this "noDescriptionWelcome.startButton")
    }}
  {{else}}
    {{share-show/markdown-editor
      mode=editorMode
      markdown=currentMarkdown
      placeholder=(tt this "typeDescriptionPlaceholder")
      onMarkdownChange=(action (mut currentMarkdown))
      onModeChange=(action (mut editorMode))
      discard=(action "discard")
      save=(action "save")
    }}
  {{/if}}
{{/if}}
