{{#if publicMode}}
  <div class="col-xs-12 col-md-7">
    {{one-markdown-to-html
      class="markdown-view"
      markdown=currentMarkdown
    }}
  </div>
{{else}}
  {{#if isEmptyDescriptionInfoVisible}}
    {{content-info
      class="scroll-breakpoint-500 fill-flex-using-column"
      header=(tt this "emptyDescriptionInfo.title")
      text=(tt this "emptyDescriptionInfo.content")
      buttonAction=(action "startEdit")
      buttonLabel=(tt this "emptyDescriptionInfo.startButton")
    }}
  {{else}}
    {{share-show/markdown-editor
      mode=editorMode
      markdown=currentMarkdown
      placeholder=(tt this "typeDescriptionPlaceholder")
      onMarkdownChange=(action (mut currentMarkdown))
      onModeChange=(action (mut editorMode))
      onDiscard=(action "onDiscard")
      onSave=(action "onSave")
    }}
  {{/if}}
{{/if}}
