{{#unless compact}}
  <div class="col-key">
    <OneDropdown
      @triggerClass="small text-like share-link-type-selector-trigger"
      @dropdownClass="small text-like share-link-type-selector-dropdown"
      @renderInPlace={{false}}
      @options={{availableUrlTypes}}
      @selected={{effSelectedUrlType}}
      @onChange={{action changeSelectedUrlType}}
      as |urlType|
    >
      {{tt this (concat "linkLabel." urlType)}}
    </OneDropdown>
  </div>
{{/unless}}
<div class="col-value">
  {{#loading-container
    isLoading=handleDataProxy.isPending
    centered=false
    sizeClass="xs"
  }}
    <div class="clipboard-line sm">
      <div class="input-group input-group-sm">
        {{#if compact}}
          <div
            class="input-group-addon input-group-addon-icon input-group-addon-left url-type-selector-trigger clickable"
            {{action
              (mut compactUrlTypeSelectorOpened)
              (not compactUrlTypeSelectorOpened)
            }}
          >
            <div class="compact-url-type-selector-container">
              {{one-icon class="compact-url-type-selector-icon" icon=selectedUrlTypeIcon}}
              {{one-icon
                icon=(if compactUrlTypeSelectorOpened "arrow-up" "arrow-down")
                class="compact-url-type-selector-arrow"
              }}
            </div>
          </div>

          {{#one-webui-popover
            class="compact-url-type-selector-popover"
            popoverStyle="with-dropdown"
            padding=false
            open=compactUrlTypeSelectorOpened
            triggerSelector=(concat "#" elementId " .compact-url-type-selector-arrow")
            as |popover|
          }}
            {{#click-outside
              onClickOutside=(action (mut compactUrlTypeSelectorOpened) false)
              exceptSelector=".url-type-selector-trigger, .compact-url-type-selector-actions"
            }}
              {{actions-popover-content
                actionsArray=compactUrlTypeSelectorActions
                actionClicked=(action (mut compactUrlTypeSelectorOpened) false)
                class="compact-url-type-selector-actions"
              }}
            {{/click-outside}}
          {{/one-webui-popover}}
        {{/if}}
        <div
          class="input-group-addon url-type-info-trigger input-group-addon-left clickable {{if typeInfoTriggerText "input-group-addon-text" "input-group-addon-icon"}}"
          {{action (mut urlTypeInfoOpened) (not urlTypeInfoOpened)}}
        >
          <div class="url-type-info-container">
            {{one-icon icon="browser-info" class="url-type-info-icon"}}
            {{#if typeInfoTriggerText}}
              <a class="input-handle-service-name black truncate">
                {{handleServiceProxy.name}}
              </a>
            {{/if}}
          </div>
        </div>
        {{#one-webui-popover
          class="url-type-info"
          popoverStyle="url-type-info"
          open=urlTypeInfoOpened
          triggerSelector=(concat "#" elementId " .url-type-info-trigger")
          as |popover|
        }}
          {{#click-outside
            onClickOutside=(action (mut urlTypeInfoOpened) false)
            exceptSelector=".url-type-info-trigger, .webui-popover-url-type-info"
          }}
            {{component (concat "share-show/url-info-" effSelectedUrlType)
              class=(concat-classes
                urlTypeInfoContentClass
                "url-type-info-content form-group without-margin"
              )
              share=share
            }}
          {{/click-outside}}
        {{/one-webui-popover}}
        <input
          type="text"
          class="clipboard-line-public-url-input clipboard-input form-control input-sm"
          value={{urlToCopy}}
          readonly
        >
      </div>
      {{#one-copy-button
        class="clipboard-btn clipboard-btn-input"
        clipboardTarget=(concat "#" elementId " .clipboard-line-public-url-input")
      }}
        <div class="copy-btn-background"></div>
        {{one-icon class="copy-btn-icon" icon="browser-copy"}}
      {{/one-copy-button}}
    </div>
  {{/loading-container}}
</div>
