<p>
  {{tt this "intro"}}
</p>
{{#if share.handle.handleService.name}}
  <p class="handle-service-name">
    {{tt this "handleServiceInfoText"
      handleServiceName=share.handle.handleService.name
    }}
  </p>
{{/if}}
<p>
  <label class="control-label">
    <strong>{{tt this "handleId"}}:</strong>
    {{one-label-tip title=(tt this "handleIdTip")}}
  </label>
  {{one-clipboard-line
    class="handle-id-clipboard-line"
    size="sm"
    value=share.handle.entityId
  }}
</p>
{{#if share.handle.handleService.entityId}}
  <p>
    <label class="control-label">
      <strong>{{tt this "handleServiceId"}}:</strong>
      {{one-label-tip title=(tt this "handleServiceIdTip")}}
    </label>
    {{one-clipboard-line
      class="handle-service-id-clipboard-line"
      size="sm"
      value=share.handle.handleService.entityId
    }}
  </p>
{{/if}}
<hr class="sharp">
<p class="last">
  {{tt this "selectorInfo"}}
</p>