{{#if (and posixViewActive (not filesHaveCompatiblePosixPermissions))}}
  <div class="alert alert-warning alert-simple-info">
    {{tt this "differentPosix"}}
    {{#unless posixPermissionsCompatible}}
      <div class="row alert-simple-info-btn">
        {{#bs-button
          class="btn btn-warning btn-sm open-posix-editor"
          onClick=(action "acceptPosixIncompatibility")
        }}
          {{tt this "editAnyway"}}
        {{/bs-button}}
      </div>
    {{/unless}}
  </div>
{{/if}}
{{posix-permissions-editor
  initialPermissions=initialPosixPermissions
  onChange=(action "posixPermissionsChanged")
  class=(unless (and posixViewActive posixPermissionsCompatible) "hidden")
}}
{{#render-later
  tagName="div"
  triggerRender=aclViewActive
  class=(unless aclViewActive "hidden")
}}
  {{#promise-proxy-container proxy=aclsProxy}}
    {{#if (and aclViewActive (not filesHaveCompatibleAcl))}}
      <div class="alert alert-warning alert-simple-info">
        {{tt this "differentAcl"}}
        {{#unless aclCompatible}}
          <div class="row alert-simple-info-btn">
            {{#bs-button
              class="btn btn-warning btn-sm open-acl-editor"
              onClick=(action "acceptAclIncompatibility")}}
              {{tt this "editAnyway"}}
            {{/bs-button}}
          </div>
        {{/unless}}
      </div>
    {{/if}}
    {{acl-editor
      users=spaceUsers
      groups=spaceGroups
      systemSubjects=systemSubjects
      acl=initialAcl
      context=filesType
      class=(unless aclCompatible "hidden")
    }}
  {{/promise-proxy-container}}
{{/render-later}}
