<div class="row row-share-local-url">
  <div class="text-container">
    <OneIcon @icon="browser-share" class="item-share-icon" />
    <TruncatedString>
      {{name-conflict tagName="span" item=share class="one-label share-name"}}
    </TruncatedString>
    <div class="col-separator"></div>
    <a href={{shareUrl}} class="share-local-url" target={{navigateShareTarget}}>
      {{tt this "showDetails"}} »
    </a>
  </div>
  {{#if isOpenData}}
    <span class="labels-container">
      <span class="label label-primary open-data-tag">{{tt this "openData"}}</span>
    </span>
  {{/if}}
</div>
<div class="row row-share-public-url">
  <ClipboardLine @size="sm" @value={{publicShareUrl}} />
</div>
