{{#promise-proxy-container proxy=dataLoadingProxy}}
  <div class="form-group-light search-form-group">
    <div class="input-group with-icon-addon">
      {{search-bar
        placeholder=(tt this "searchPlaceholder")
        search=(action "changeSearchValue")
        class="form-control"}}
      <div class="input-group-addon">
        {{one-icon icon="search"}}
      </div>
    </div>
  </div>
  {{#each sortedListEntries as |listEntry|}}
    {{space-automation/atm-workflow-schemas-list/list-entry
      atmWorkflowSchema=listEntry.atmWorkflowSchema
      revisionNumbersMatchingInput=listEntry.revisionNumbersMatchingInput
      onRevisionClick=onAtmWorkflowSchemaRevisionSelect
    }}
  {{else}}
    <div class="no-workflows-info">
      {{one-icon icon="checkbox-filled-x"}}
      {{tt this (if atmWorkflowSchemasProxy.length "noWorkflowsInSearch" "noWorkflows")}}
    </div>
  {{/each}}
{{/promise-proxy-container}}
{{yield}}
