{{#one-carousel activeSlideId=activeSlide as |carousel|}}
  {{#carousel.slide slideId="list"}}
    <h1 class="slide-header">{{tt this "slides.list.header"}}</h1>
    <div class="row loadable-row">
      {{space-automation/atm-workflow-schemas-list
        onAtmWorkflowSchemaRevisionSelect=(action "atmWorkflowSchemaRevisionSelected")
      }}
    </div>
  {{/carousel.slide}}
  {{#carousel.slide slideId="inputStores"}}
    {{#promise-proxy-container proxy=atmWorkflowSchemaToRunProxy}}
      <h1 class="slide-header">
        {{tt this "slides.inputStores.header"
          atmWorkflowSchemaName=atmWorkflowSchemaToRunProxy.name
        }}
      </h1>
      <div class="form-container">
        {{#if areInitialContentsNeeded}}
          {{space-automation/input-stores-form
            atmWorkflowSchema=atmWorkflowSchemaToRunProxy.content
            atmWorkflowSchemaRevisionNumber=atmWorkflowSchemaRevisionNumberToRun
            loadValuesFromLocalStorage=fillInputStores
            space=space
            onChange=(action "inputStoresChanged")
            isDisabled=isStartingWorkflow
            class="row loadable-row"
          }}
        {{else}}
          <div class="nothing-to-provide-message">
            {{one-icon icon="checkbox-filled"}}
            {{tt this "slides.inputStores.nothingToProvideMessage"}}
          </div>
        {{/if}}
        <div class="btn-toolbar footer-buttons">
          {{#if (not fillInputStores)}}
            {{#bs-button
              class="btn-back"
              disabled=isStartingWorkflow
              onClick=(action "backSlide")
            }}
              {{one-icon icon="arrow-left" class="hidden-custom-xs"}}
              <span class="text">
                {{tt this "slides.inputStores.backBtn"}}
              </span>
            {{/bs-button}}
          {{/if}}
          {{#one-button
            type="primary"
            buttonType="submit"
            class="btn-submit"
            onClick=(action "runWorkflow")
            disabled=(not areInputStoresValid)
          }}
            {{tt this "slides.inputStores.runWorkflowBtn"}}
          {{/one-button}}
        </div>
      </div>
    {{/promise-proxy-container}}
  {{/carousel.slide}}
{{/one-carousel}}
{{yield}}
