{{#one-carousel activeSlideId=activeSlide as |carousel|}}
  {{#carousel.slide slideId="list"}}
    {{#promise-proxy-container proxy=userProxy}}
      {{space-automation/atm-workflow-schemas-list
        user=user
        onAtmWorkflowSchemaSelect=(action "atmWorkflowSchemaSelected")
      }}
    {{/promise-proxy-container}}
  {{/carousel.slide}}
  {{#carousel.slide slideId="inputStores"}}
    <div class="form-container">
      {{space-automation/input-stores-form
        atmWorkflowSchema=selectedAtmWorkflowSchema
        onChange=(action "inputStoresChanged")
        isDisabled=isStartingWorkflow
      }}
      <div class="btn-toolbar footer-buttons">
        {{#bs-button
          class="btn-back"
          disabled=isStartingWorkflow
          onClick=(action "backSlide")
        }}
          {{one-icon icon="arrow-left" class="hidden-custom-xs"}}
          <span class="text">
            {{tt this "slides.inputStores.backBtn"}}
          </span>
        {{/bs-button}}
        {{#one-spin-button
          class="btn btn-primary btn-submit"
          action=(action "runWorkflow")
          disabled=(not areInputStoresValid)
        }}
          {{tt this "slides.inputStores.runWorkflowBtn"}}
        {{/one-spin-button}}
      </div>
    </div>
  {{/carousel.slide}}
{{/one-carousel}}
{{yield}}
