<div class="selection-summary">
  <div class="selection-count-summary">
    {{itemsSelectedText}}
  </div>
  {{#if validationError}}
    <div class="selection-validation-error text-danger">{{validationError}}</div>
  {{/if}}
</div>
{{#bs-button
  onClick=(action onCancel)
  type="default"
  class="close-btn"
}}
  {{tt this "cancel"}}
{{/bs-button}}
<div class="btn-tooltip-container">
  {{#one-spin-button
    action=(action onSubmit)
    class="btn btn-primary submit-selection-btn"
    disabled=submitDisabled
  }}
    {{tt this "confirmSelection"}}
  {{/one-spin-button}}
  {{#if validationError}}
    {{one-tooltip title=validationError}}
  {{/if}}
</div>