<div class="selection-summary">
  <div class="selection-count-summary {{unless selectedCount "selection-count-none"}}">
    <div class="selection-count-text">
      {{itemsSelectedText}}
      {{#if selectedCount}}
        {{#one-icon icon="browser-info" class="selection-count-tip-trigger"}}
          {{one-tooltip
            title=itemsTooltipContent.tooltipContent
            class=(concat-classes
              itemsTooltipContent.tooltipClass
              "selection-count-tip-content"
            )
            onShown=(action "onItemsTooltipShown")
          }}
        {{/one-icon}}
      {{/if}}
    </div>
  </div>
  {{#if validationError}}
    <div class="selection-validation-error text-danger">{{validationError}}</div>
  {{/if}}
</div>
{{#one-button
  onClick=onCancel
  type="default"
  class="close-btn"
}}
  {{tt this "cancel"}}
{{/one-button}}
<div class="btn-tooltip-container">
  {{#one-button
    onClick=onSubmit
    class="btn btn-primary submit-selection-btn"
    disabled=submitDisabled
  }}
    {{submitLabel}}
  {{/one-button}}
  {{#if validationError}}
    {{one-tooltip title=validationError}}
  {{/if}}
</div>