{{!-- FIXME: ignoreTouchAction=true like in original tab-bar-li --}}
<a
  class={{concat-classes
    (concat "nav-link truncate " (if isActive "active"))
    (concat "nav-link-" item.id)
    (if item.statusIcon "with-status-icon")
    item.tabClass
  }}
  role="tab"
  onclick={{action "anchorClicked"}}
>
    {{!--
      TODO: VFS-9626
      make something like navComponent in addition
      to simple title to implement custom tabs look (eg. indicators)
    --}}
    {{#if item.icon}}
      {{one-icon class="tab-icon" icon="rest"}}
    {{/if}}
    <span class="tab-name">{{item.name}}</span>
    {{#if item.statusIcon}}
      {{one-icon class="tab-status-icon" icon=item.statusIcon}}
    {{/if}}
</a>