<th class="fb-table-col-files">
  <div class="fb-table-first-col-container">
    <div class="table-header-text">{{tt this "files"}}</div>
    {{#if renderArchiveDipSwitch}}
      {{archive-dip-switch
        disabled=(not isArchiveDipAvailable)
        archiveDipMode=archiveDipMode
        onArchiveDipModeChange=onArchiveDipModeChange
      }}
    {{/if}}
    <div class="spacer"></div>
    <div class="table-header-status-bar">{{yield}}</div>
  </div>
</th>
{{#if browserModel.columns.size.isVisible}}
  <th
    class="fb-table-col-size fb-table-secondary-col hidden-xs"
    style={{browserModel.columnsStyle.size}}
  >
    {{tt this "size"}}
  </th>
{{/if}}
{{#if browserModel.columns.modification.isVisible}}
  <th
    class="fb-table-col-modification fb-table-secondary-col hidden-xs"
    style={{browserModel.columnsStyle.modification}}
  >
    {{tt this "modification"}}
  </th>
{{/if}}
{{#if browserModel.columns.owner.isVisible}}
  <th
    class="fb-table-col-owner fb-table-secondary-col"
    style={{browserModel.columnsStyle.owner}}
  >
    {{tt this "owner"}}
  </th>
{{/if}}
{{file-browser/fb-columns-configuration-cell
  browserModel=browserModel
}}