<th
  class={{concat-classes
    "fb-table-col-files"
    (if isDropBorderShown "border-dashed")
  }}
>
  <div class="fb-table-first-col-container">
    <div class="table-header-text">{{tt this "headers.files"}}</div>
    {{#if renderArchiveDipSwitch}}
      {{archive-dip-switch
        disabled=(not isArchiveDipAvailable)
        archiveDipMode=archiveDipMode
        onArchiveDipModeChange=onArchiveDipModeChange
      }}
    {{/if}}
    <div class="spacer"></div>
    <div class="table-header-status-bar">{{yield}}</div>
  </div>
  <div
    class="draggable-area"
    ondragover={{action "headingDragOverAction"}}
    ondragleave={{action "headingDragLeaveAction"}}
    ondrop={{action "headingDropAction" 0}}
  >
  </div>
</th>
{{#each columnsConfiguration.columnsOrder as |columnName i|}}
  {{#if (get columnsConfiguration (concat "columns." columnName ".isVisible"))}}
    <th
      class={{concat-classes
        (concat "fb-table-col-" columnName)
        "fb-table-secondary-col"
        "hidden-xs"
        (if isDropBorderShown "border-dashed")
      }}
      style={{get columnsConfiguration (concat "columnsStyle." columnName)}}
      draggable=true
      ondragstart={{action "headingDragAction" columnName}}
      ondragend={{action "headingDragEndAction"}}
    >
      <span class="column-name">
        {{one-icon icon="drag" class="column-move-icon"}}
        {{tt this (concat "headers." columnName)}}
        {{#if (or (eq columnName "replication") (eq columnName "qos"))}}
          {{#one-icon icon="browser-info" class="column-info-icon"}}
            {{one-tooltip
              title=(tt this (concat columnName "Tooltip") oneprovider=currentProviderName)
            }}
          {{/one-icon}}
        {{/if}}
      </span>
      <div
        class="draggable-area"
        ondragover={{action "headingDragOverAction"}}
        ondragleave={{action "headingDragLeaveAction"}}
        ondrop={{action "headingDropAction" (add i 1)}}
      >
      </div>
    </th>
  {{/if}}
{{/each}}
{{columns-configuration-cell
  columnsConfiguration=columnsConfiguration
}}