{{#one-modal
  open=open
  backdropClose=true
  keyboard=true
  class="dataset-open-modal"
  as |modal|
}}
  {{#modal.header}}
    <h1>{{tt this "header"}}</h1>
  {{/modal.header}}
  {{#modal.body}}
    <p>
      {{tt this "description"}}
    </p>
    <p class="root-file-path">
      <code>{{dataset.rootFilePath}}</code>
    </p>
  {{/modal.body}}

  {{#modal.footer class="btn-toolbar"}}
    {{#bs-button onClick=(action onHide) type="default" class="close-btn"}}
      {{tt this "close"}}
    {{/bs-button}}
    {{#bs-button
      onClick=(action "openArchivesView")
      type="primary"
    }}
      {{tt this "open"}}
    {{/bs-button}}
  {{/modal.footer}}
{{/one-modal}}
