<td class="fb-table-col-archives hidden-xs">
  <span class="file-item-text">
    {{#if (and (not archivesLinkDisabled) (gt fileRowModel.archiveCount 0))}}
      <a
        {{action (action "manageArchives") bubbles=false}}
        class="archives-count-link azure"
      >
        {{fileRowModel.archiveCount}}
      </a>
    {{else}}
      {{fileRowModel.archiveCount}}
    {{/if}}
  </span>
</td>
<td class="fb-table-col-created fb-table-secondary-col hidden-xs">
  <span class="file-item-text">
    {{date-format file.creationTime format="dateWithMinutes" blank="—"}}
  </span>
</td>
