{{#truncated-string
  class=(concat-classes
    "secondary-description"
    class
  )
  tooltipClass="tooltip-lg tooltip-text-left"
}}
  {{#if archive.description}}
    <span 
      class="secondary-description-internal"
      onmouseover={{action "changeFileNameHover" true}}
      onmouseout={{action "changeFileNameHover" false}}
    >
      {{archive.description}}
    </span>
  {{else}}
    <span 
      class="secondary-description-internal no-description"
      onmouseover={{action "changeFileNameHover" true}}
      onmouseout={{action "changeFileNameHover" false}}
    >
      {{tt this "noDescription"}}
    </span>
  {{/if}}
  {{yield}}
{{/truncated-string}}