<td
  class="fb-table-col-state fb-table-secondary-col hidden-xs {{fileRowModel.stateColClass}}"
>
  <span class="file-item-text">
    {{fileRowModel.stateText}}
  </span>
</td>
<td class="fb-table-col-incremental fb-table-secondary-col hidden-xs">
  <span
    class="file-item-text {{if fileRowModel.isIncremental "col-status-yes" "col-status-no"}}"
  >
    {{#if fileRowModel.isIncremental}}
      {{#if loadingBaseArchiveProxy.isPending}}
        {{tt this "loading"}}
      {{else if baseArchiveName}}
        <a
          class="azure base-archive-link"
          target={{navigateTarget}}
          href={{baseArchiveUrl}}
          onclick={{action "baseArchiveLinkClick"}}
          onkeydown={{invoke-on-enter (action "baseArchiveLinkClick")}}
        >
          {{#truncated-string class="base-archive-name"}}
            {{fileRowModel.baseArchiveNameProxy.content}}
          {{/truncated-string}}
        </a>
      {{else}}
        –
      {{/if}}
    {{else}}
      {{tt this "no"}}
    {{/if}}
  </span>
</td>