<td
  class="fb-table-col-state fb-table-secondary-col hidden-xs {{fileRowModel.stateColClass}}"
>
  <span class="file-item-text">
    {{fileRowModel.stateText}}
  </span>
</td>
<td class="fb-table-col-incremental fb-table-secondary-col hidden-xs">
  <span
    class="file-item-text {{if fileRowModel.isIncremental "col-status-yes" "col-status-no"}}"
  >
    {{#if fileRowModel.isIncremental}}
      {{#if loadingBaseArchiveProxy.isPending}}
        {{tt this "loading"}}
      {{else if baseArchiveName}}
        {{#if baseArchiveUrl}}
          <a
            class="azure base-archive-link"
            target={{navigateTarget}}
            href={{fileRowModel.baseArchiveHrefProxy.content}}
            onclick={{action "baseArchiveLinkClick"}}
          >
            {{#truncated-string class="base-archive-name"}}
              {{fileRowModel.baseArchiveNameProxy.content}}
            {{/truncated-string}}
          </a>
        {{else}}
          <span class="base-archive-static">
            {{#truncated-string class="base-archive-name"}}
              {{fileRowModel.baseArchiveNameProxy.content}}
            {{/truncated-string}}
          </span>
        {{/if}}

      {{else}}
        –
      {{/if}}
    {{else}}
      {{tt this "no"}}
    {{/if}}
  </span>
</td>