{{#if showBagitTag}}
  <div class="file-status-tag archive-bagit-tag">
    {{tt this "status.bagit"}}
  </div>
{{/if}}
{{#if hasDip}}
  <div
    class="file-status-tag archive-dip-tag {{if disabled "file-status-tag-disabled"}}"
    {{action
      (if disabled
        (no-action)
        (action invokeFileAction archive "browseDip")
      )
      bubbles=(bool disabled)
    }}
  >
    {{tt this "status.dip"}}
  </div>
{{else}}
  <div class="file-status-tag archive-aip-tag file-status-tag-disabled">
    {{tt this "status.aip"}}
  </div>
{{/if}}
