{{#if showFailedTag}}
  <div
    class={{concat-classes
      "file-status-tag archive-failed-tag"
      "file-status-tag-danger"
      (if isEffDisabled "file-status-tag-disabled")
    }}
    {{action
      (if isEffDisabled
        (no-action)
        (action invokeFileAction archive "showAuditLog")
      )
      bubbles=(bool isEffDisabled)
    }}
  >
    {{tt this "status.failed"}}
    {{one-tooltip title=(tt this "failedTip")}}
  </div>
{{/if}}
{{#if showBagitTag}}
  <div class={{concat-classes
    "file-status-tag archive-bagit-tag"
    (if isEffDisabled "file-status-tag-disabled")
  }}>
    {{tt this "status.bagit"}}
  </div>
{{/if}}
{{#if hasDip}}
  <div
    class={{concat-classes
      "file-status-tag archive-dip-tag"
      (if isEffDisabled "file-status-tag-disabled")
    }}
    {{action
      (if isEffDisabled
        (no-action)
        (action invokeFileAction archive "browseDip")
      )
      bubbles=(bool isEffDisabled)
    }}
  >
    {{tt this "status.dip"}}
  </div>
{{else}}
  <div class="file-status-tag archive-aip-tag file-status-tag-disabled">
    {{tt this "status.aip"}}
  </div>
{{/if}}
