{{#listItem.header class="without-menu list-item-header-flex" disableToggleIcon=true}}
  <span class="item-icon-container">
    {{one-icon class="item-icon" icon=(if (eq file.type "file") "browser-file" "browser-directory")}}
    {{one-tooltip
      title=file.name
      placement="top"
      arrowPlacement="left"
      triggerEvents="hover"
    }}
  </span>
  <span class="file-name truncate">
    {{file.name}}
  </span>
  {{#if qosItemsProxy.isFulfilled}}
    <span class="requirements-info hidden-xs">
      {{#if (gt qosItemsProxy.length 0)}}
        <span class="count">{{qosItemsProxy.length}}</span>
        {{tt this (if (gt qosItemsProxy.length 1) "requirements" "requirement")}}
      {{else}}
        <span class="no-requirements">{{tt this "noRequirements"}}</span>
      {{/if}}
    </span>
    <span class="item-icon-container item-icon-container-right">
      {{#if (eq fileQosStatus "impossible")}}
        {{one-icon-tagged
          icon="checkbox-pending"
          class=(concat
            "item-icon file-qos-status tag-right qos-status-"
            fileQosStatus
          )
          tagIcon="warning"
          shadowType="none"
        }}
      {{else}}
        {{one-icon
          icon=fileQosStatusIcon
          class=(concat
            "item-icon file-qos-status qos-status-"
            fileQosStatus
          )
        }}
      {{/if}}
      
      {{one-tooltip title=(tt
        this
        (concat "statusHint." fileQosStatus)
        fileType=(tt this (concat "fileType." file.type))
      )}}
    </span>
  {{/if}}
{{/listItem.header}}
{{#listItem.content}}
  <div class="list-content">
    {{qos-modal/file-qos-summary
      file=file
      qosItemsProxy=qosItemsProxy
      valuesBuilder=valuesBuilder
      queryProperties=queryProperties
      providers=providers
      storages=storages
      getDataUrl=getDataUrl
      evaluateQosExpression=(action "evaluateQosExpression")
      removeQosRequirement=(action "removeQosRequirement")
      closeModal=(action "closeModal")
    }}
  </div>
{{/listItem.content}}
