<div class="qos-add">
  <div class="list-content">
    <table class="table table-info table-info-large table-info-collapsible table-info-breakable">
      <tbody>
        <tr class="qos-info-row-replicas-number">
          <td class="property-name {{unless readonly "with-input"}}">
            {{tt this "replicasNumber"}}
          </td>
          <td class="property-value form-horizontal">
            <div class="form-group {{if replicasNumberValidationMessage "has-error"}}">
              <input
                type="number"
                class="form-control replicas-number-input"
                value={{replicasNumberString}}
                oninput={{action "replicasNumberChanged" value="target.value"}}
                onkeydown={{ignore-enter}}
                disabled={{disabled}}
                autofocus=true
              >
              {{#if replicasNumberValidationMessage}}
                <div class="form-message">
                  {{replicasNumberValidationMessage}}
                </div>
              {{/if}}
            </div>
          </td>
        </tr>
        <tr class="qos-info-row-expression">
          <td class="property-name {{unless readonly "with-input"}}">
            <div class="qos-label-expression">{{tt this "expression"}}</div>
          </td>
          <td class="property-value form-horizontal relative">
            {{#promise-proxy-container
              proxy=queryPropertiesProxy
              sizeClass="xs"
              spinnerBlockClass="spinner-qos-expression-editor"
              absoluteCentered=true
            }}
              {{#if (eq inputMode "visual")}}
                {{#query-builder
                  queryProperties=queryPropertiesProxy.content
                  operators=(array "and" "or" "except")
                  rootQueryBlock=rootQueryBlock
                  readonly=false
                  refreshQueryProperties=(action "refreshQueryProperties")
                }}
                  {{#unless rootQueryBlock.operands.length}}
                    <a class="enter-text-link clickable" {{action "enterTextClicked"}}>
                      {{tt this "enterText"}}
                    </a>
                  {{/unless}}
                {{/query-builder}}
              {{else if (eq inputMode "text")}}
                {{one-inline-editor
                  value=inputText
                  isEditing=true
                  onInputValueChanged=(action (mut inputText))
                  onEdit=(action "textModeOnEdit")
                  onSave=(action "textModeApply")
                  inputPlaceholder=(tt this "enterQosExpression")
                }}
              {{/if}}
              <div class="qos-subheader-container">
                <div class="qos-subheader qos-expression-info-subheader with-icon-left">
                  {{qos-evaluation-info qosEvaluationProxy=qosEvaluationProxy}}
                </div>
                {{#if rootQueryBlock.operands.length}}
                  <div class="qos-subheader qos-expression-copy-subheader">
                    {{#one-copy-button
                      copyButtonTagName="a"
                      class="clipboard-btn expression-clipboard-btn clickable"
                      clipboardTarget=(concat "#" elementId " .clipboard-raw-value.raw-expression-infix")
                    }}
                      <span class="copy-expression-text">{{tt this "copyExpression"}}</span>
                      <div
                        class="inline-icon-container copy-expression-icon-container info-icon"
                      >
                        {{one-icon icon="browser-copy"}}
                      </div>
                    {{/one-copy-button}}
                  </div>
                {{/if}}
              </div>
            {{/promise-proxy-container}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <input
    type="text"
    value={{expressionInfix}}
    class="clipboard-raw-value raw-expression-infix"
  >
</div>