<div class="one-collapsible-list-item-header row list-header-row without-menu">
  <div class="list-header-content">
    <div class="qos-main-line">
      <div class="qos-general-info">
        <span class="item-icon-container qos-status-icon-container">
          {{one-icon class=(concat "item-icon qos-status-" statusId) icon=statusIcon}}
          {{one-tooltip title=(tt this (concat "statusHint." statusId))}}
        </span>
        <div class="tags-input tags-input-replica header-element-top-fix">
          <div class="input-element tag-item tag-item-info replicas-tag-item">
            <span class="header-replicas-number">
              <span class="replicas-number">
                {{if (gt replicasNumber 99) "99+" replicasNumber}}
              </span>
              {{tt this (if (gt replicasNumber 1) "replicas" "replica")}}
              {{#if (gt replicasNumber 99)}}
                {{one-tooltip title=replicasNumber}}
              {{/if}}
            </span>
          </div>
        </div>
      </div>
      {{#clipboard-line
        type="html"
        size=(if smallContent "sm")
        rawValue=rawExpressionInfix
        class="monospace-font clipboard-line-expression qos-entry-expression"
      }}
        {{qos-expression-viewer expressionRpn=expressionRpn}}
      {{/clipboard-line}}
      <div class="qos-buttons">
        {{one-icon
          id=idInfoTriggerId
          icon="circle-id"
          class="icon-trigger id-trigger clickable header-element-top-fix"
        }}
        {{#one-webui-popover
          class="id-info"
          popoverStyle="id-info over-modals"
          triggerSelector=(concat "#" idInfoTriggerId)
          as |popover|
        }}
          <div class="form-group without-margin">
            <label class="control-label">{{tt this "qosId"}}:</label>
            {{one-clipboard-line
              size="sm"
              value=qosId
              showText=false
              btnType="default"
            }}
          </div>
        {{/one-webui-popover}}
        {{#one-icon
          id=removeTriggerId
          icon="checkbox-filled-x"
          class=(concat-classes
            "icon-trigger remove-qos-trigger header-element-top-fix"
            (if direct "clickable enabled" "disabled")
          )
        }}
          {{#if inherited}}
            {{one-tooltip title=(tt this "disabledRemoveHint")}}
          {{/if}}
        {{/one-icon}}
        {{#if direct}}
          {{#one-switchable-popover-modal
            class="qos-remove-question"
            triggersConfiguration=(concat "#" removeTriggerId)
            popoverStyle="qos-remove-question over-modals"
            submit=(action "confirmRemove")
            as |ospm|
          }}
            <h1>{{tt this "removeQuestion.header"}}</h1>
            <p>{{tt this "removeQuestion.information"}}</p>
            <div class="btn-toolbar">
              {{#bs-button class="btn btn-sm" type="info" onClick=ospm.close}}
                {{tt this "removeQuestion.cancel"}}
              {{/bs-button}}
              {{#one-spin-button
                class="btn btn-sm btn-danger"
                action=ospm.submit
              }}
                {{one-icon icon="remove"}} <span>{{tt this "removeQuestion.remove"}}</span>
              {{/one-spin-button}}
            </div>
          {{/one-switchable-popover-modal}}
        {{/if}}
      </div>
    </div>
    {{#unless direct}}
      <div class="qos-subheader qos-path-subheader">
        {{#promise-proxy-container
          proxy=qosSourceFilePathProxy
          centered=false
          spinnerBlockClass="spinner-block-path"
          sizeClass="xxs"
          inlineError=true
        }}
          <span class="inherited-text">
            <span class="inherited-icon">⬆</span>
            {{tt this "inheritedFrom"}}
          </span>
          <a
            onclick={{action "fileLinkClicked"}}
            href={{qosSourceFileHref}}
            target={{navigateDataTarget}}
            class="file-path truncate"
          >
            <span class="file-path-text truncate">
              {{qosSourceFilePathProxy.content}}
            </span>
          </a>
        {{/promise-proxy-container}}
      </div>
    {{/unless}}
  </div>
</div>
