{{#promise-proxy-container proxy=spaceProvidersProxy}}
  <div class="charts-header">
    <div class="title">
      {{tt this "header"}}
      <span class="space"></span>
      {{one-label-tip title=headerTooltip tooltipClass="tooltip-lg tooltip-text-left"}}
    </div>
    {{one-time-series-chart/toolbar
      models=(array inboundChartModel outboundChartModel)
    }}
  </div>
  <div class="charts-plots">
    {{one-time-series-chart/plot model=inboundChartModel}}
    {{one-time-series-chart/plot model=outboundChartModel}}
  </div>
{{/promise-proxy-container}}
