<div class="chunks-container">
  <div class="chunks-scale lower-size">0 B</div>
  <div class="chunks-scale upper-size">{{bytes-to-string fileSize}}</div>
  {{#if neverSynchronized}}
    <div class="never-synchronized-text hidden-xs">
      {{tt this "neverSynchronized"}}
    </div>
    <div class="never-synchronized-background"></div>
    {{one-tooltip title=(tt this "neverSynchronizedTip")}}
  {{else}}
    <canvas width={{chunksRange}} height="18" class="chunks-canvas" />
  {{/if}}
</div>
<div class="percentage-text">
  {{#if neverSynchronized}}
    <span>{{tt this "na"}}</span>
  {{else}}
    {{percentageText}}
  {{/if}}
</div>
{{yield}}
