<p class="description">{{descriptionText}}</p>
<div class="visualization-container">
  <div class="source-oneprovider-visualization">
    {{one-icon icon="provider" class="oneprovider-icon"}}
    <div class="oneprovider-name">{{sourceOneprovider.name}}</div>
  </div>
  {{#one-arrow direction=(if media.isMobile "down" "right") arrowText=(tt this "migrationArrowText")}}
    <div class="transfer-animation-positioner">
      <div class="transfer-animation-container">
        <div class="wind-container">
          <div class="wind-element"></div>
          <div class="wind-element"></div>
          <div class="wind-element"></div>
        </div>
        {{one-icon class="file-icon" icon="browser-file"}}
      </div>
    </div>
  {{/one-arrow}}
  {{#power-select
    triggerClass="small"
    dropdownClass="small"
    disabled=(not canSelectOneprovider)
    options=possibleDestinationOneproviders
    selected=destinationOneprovider
    onchange=(action "selectOneprovider")
    searchField="name"
    searchEnabled=true
    renderInPlace=true
    as |item|}}
    {{#truncated-string}}
      <div class="inline-icon-container">
        {{one-icon icon="provider"}}
      </div>
      <span class="oneprovider-name">{{item.name}}</span>
    {{/truncated-string}}
  {{/power-select}}
</div>
<div class="btn-toolbar text-right">
  {{#bs-button onClick=onCancel disabled=(not canCancel) size="sm"}}
    {{tt this "cancelButton"}}
  {{/bs-button}}
  {{#one-spin-button action=(action "migrate") class="btn btn-primary btn-sm" disabled=(not canMigrate)}}
    {{tt this "migrateButton"}}
  {{/one-spin-button}}
</div>
{{yield}}
