<div class="name-section">
  {{#truncated-string class="oneprovider-name"}}{{oneprovider.name}}{{/truncated-string}}
  <div class="transfer-actions">
    {{one-icon icon="replicate"}}
    {{one-icon icon="migrate"}}
    {{one-icon icon="invalidate"}}
  </div>
</div>
{{file-distribution-modal/chunks-visualizer
  neverSynchronized=neverSynchronized
  fileSize=filesSize
  chunks=chunksBarData
  percentage=percentage}}
