{{#if isMigrationDestinationSelectorVisible}}
  {{file-distribution-modal/destination-oneprovider-selector
    files=(map-by "file" fileDistributionData)
    oneproviders=oneproviders
    sourceOneprovider=newMigrationSourceOneprovider
    onMigrate=(action "migrate")
    onCancel=(action "cancelNewMigration")}}
{{/if}}
<ul class="{{if isMigrationDestinationSelectorVisible "hidden"}}">
  {{#each oneproviders key="id" as |oneprovider|}}
    {{file-distribution-modal/oneproviders-distribution-item
      oneprovider=oneprovider
      spaceHasSingleOneprovider=(eq oneproviders.length 1)
      fileDistributionData=fileDistributionData
      onReplicate=(action onReplicate oneprovider)
      onMigrate=(action "initializeNewMigration" oneprovider)
      onEvict=(action onEvict oneprovider)}}
  {{/each}}
  {{#unless batchMode}}
    <p class="transfers-counter-info">
      {{#if activeTransfersExist}}
        {{tt this "currentlyTransferredText" elementType=(tt this fileDistributionData.firstObject.file.type)}}
        &ndash;
        <a class="clickable" {{action "navigateToTransfers" fileDistributionData.firstObject.file}}>{{tt this "currentlyTransferredLink"}}</a>.
      {{else if endedTransfersCount}}
        {{tt this "endedTransfersText"
          elementType=(tt this fileDistributionData.firstObject.file.type)
          count=endedTransfersCount
          countUnit=(tt this (if (gt endedTransfersCount 1) "times" "time"))}}
        {{#if endedTransfersOverflow}}
          {{tt this "orMore"}}
        {{/if}}
        &ndash;
        <a class="clickable" {{action "navigateToTransfers" fileDistributionData.firstObject.file}}>{{tt this "endedTransfersLink"}}</a>.
      {{else}}
        {{tt this "noTransfersText" elementType=(tt this fileDistributionData.firstObject.file.type)}}
      {{/if}}
    </p>
  {{/unless}}
</ul>
{{yield}}
