<div class="name-section">
  {{#truncated-string class="oneprovider-name"}}{{storageName.name}} @ {{oneprovider.name}}{{/truncated-string}}
</div>
{{#one-pill-button
  menuItems=actionsArray
  popoverClass="over-modals"
  theme="light"
  useDots=true
}}
  {{#status-toolbar as |toolbar|}}
    {{toolbar.icon
      icon="data-receive"
      class=(concat-classes "replication-status-icon" (if isReplicationInProgress
        (concat-classes statusIconActiveClasses "pulse-mint")
        "inactive"
      ))
      hint=(tt this (if isReplicationInProgress "replicationInProgress" "noReplicationInProgress"))
    }}
    {{toolbar.icon
      icon="data-send"
      class=(concat-classes "migration-status-icon" (if isMigrationInProgress
        (concat-classes statusIconActiveClasses "pulse-orange")
        "inactive"
      ))
      hint=(tt this (if isMigrationInProgress "migrationInProgress" "noMigrationInProgress"))
    }}
    {{toolbar.icon
      icon="x"
      class=(concat-classes "eviction-status-icon" (if isEvictionInProgress
        (concat-classes statusIconActiveClasses "pulse-red")
        "inactive"
      ))
      hint=(tt this (if isEvictionInProgress "evictionInProgress" "noEvictionInProgress"))
    }}
  {{/status-toolbar}}
{{/one-pill-button}}
{{#if (and hasSingleFile hasOnlyFiles)}}
  {{file-distribution-modal/chunks-visualizer
    neverSynchronized=neverSynchronized
    fileSize=filesSize
    chunks=chunksBarData
    percentage=percentage
    chunksRange=chunksRange
  }}
{{else}}
  {{file-distribution-modal/progress-bar-visualizer
    neverSynchronized=neverSynchronized
    fileSize=filesSize
    percentage=percentage
  }}
{{/if}}
<div class="first-line-breaker"></div>
