<div class="chunks-container">
  <div class="chunks-scale-container"></div>
  {{#if unknownData}}
    <div class="chunks-text never-synchronized-text hidden-xs">
      {{tt this "na"}}
    </div>
    <div class="chunks-background never-synchronized-background"></div>
    {{one-tooltip title=(tt this "neverSynchronizedTip")}}
  {{else}}
    <div class="progress-bar bar" style={{_occupiedSpaceBarStyle}}>
      <div class="size-label hidden-xs">
        <span class="tmp">{{bytes-to-string fileSize}}</span>
      </div>
    </div>
  {{/if}}
</div>
  <div class="percentage-text">
    {{#if unknownData}}
      <span>{{tt this "na"}}</span>
    {{else}}
      {{percentageText}}
    {{/if}}
  </div>
{{yield}}