<div class="chunks-container">
  <div class="chunks-scale-container">
    <div class="chunks-scale lower-size">{{bytes-to-string 0}}</div>
    <div class="chunks-scale upper-size">{{bytes-to-string fileSize}}</div>
  </div>
  {{#if neverSynchronized}}
    <div class="chunks-text never-synchronized-text hidden-xs">
      {{tt this "neverSynchronized"}}
    </div>
    <div class="chunks-background never-synchronized-background"></div>
    {{one-tooltip title=(tt this "neverSynchronizedTip")}}
    {{!-- {{one-tooltip title="Directory size statistics are turn off for this provider"}} --}}
  {{else}}
    <div class="progress-bar bar" style={{_occupiedSpaceBarStyle}}></div>
  {{/if}}
</div>
  <div class="percentage-text">
    {{#if neverSynchronized}}
      <span>{{tt this "na"}}</span>
    {{else}}
      {{percentageText}}
    {{/if}}
  </div>
{{yield}}