{{#promise-proxy-container proxy=aclRulesSnapshotProxy}}
  {{#one-collapsible-list accordionMode=true as |list|}}
    {{#each aclRulesSnapshot as |aclEntry|}}
      {{#list.item as |listItem|}}
        {{acl-editor/acl-entry
          listItem=listItem
          entry=aclEntry
          context="file"
          onChange=(action "aclChanged" aclEntry)
          onMoveUp=(action "moveUp" aclEntry)
          onMoveDown=(action "moveDown" aclEntry)
          onRemove=(action "remove" aclEntry)
          isFirstEntry=(eq aclEntry aclRulesSnapshot.firstObject)
          isLastEntry=(eq aclEntry aclRulesSnapshot.lastObject)}}
      {{/list.item}}
    {{else}}
      {{#list.item class="no-acl-entry" as |listItem|}}
        {{#listItem.header isCollapsible=false}}{{tt this "noAclEntry"}}{{/listItem.header}}
      {{/list.item}}  
    {{/each}}
    {{#list.item class="add-user-group-acl" as |listItem|}}
      {{#listItem.header isCollapsible=false truncate=false}}
        <span class="item-icon-container">
          {{one-icon icon="group-invite" class="item-icon"}}
        </span>
        {{#power-select
          dropdownClass="add-user-group-acl"
          options=sortedGroupAndUserList
          onchange=(action "addEntitySelected")
          renderInPlace=true
          placeholder=(tt this "addUserOrGroup")
          matcher=(action "recordMatcher")
          as |entity|}}
          <div class="option-container">
            {{#truncated-string}}
              {{one-icon icon=(if (eq entity.constructor.modelName "user") "user" "group")}}
              <span class="text">{{entity.name}}</span>
            {{/truncated-string}}
          </div>
        {{/power-select}}
      {{/listItem.header}}
    {{/list.item}}
  {{/one-collapsible-list}}
{{/promise-proxy-container}}
