{{#one-collapsible-list accordionMode=true as |list|}}
  {{#each aceListItems key="id" as |aceItem|}}
    {{#list.item class="ace" id=(concat "ace-item-" aceItem.id) as |listItem index|}}
      {{acl-editor/ace-editor
        listItem=listItem
        ace=aceItem.ace
        context=context
        readonly=readonly
        onChange=(action "aceChanged" aceItem.ace)
        onMoveUp=(action "moveUp" aceItem.ace)
        onMoveDown=(action "moveDown" aceItem.ace)
        onRemove=(action "remove" aceItem.ace)
        isFirstAce=(eq aceItem aceListItems.firstObject)
        isLastAce=(eq aceItem aceListItems.lastObject)
      }}
    {{/list.item}}
  {{else}}
    {{#list.item class="no-ace" as |listItem|}}
      {{#listItem.header isCollapsible=false}}
        {{tt this "noAce"}}
        <br />
        <strong>{{tt this "posixPermissionsWillApply"}}</strong>
      {{/listItem.header}}
    {{/list.item}}
  {{/each}}
  {{#unless readonly}}
    {{#list.item class="add-user-group-ace" as |listItem|}}
      {{#listItem.header isCollapsible=false truncate=false}}
        <span class="item-icon-container">
          {{one-icon icon="group-invite" class="item-icon"}}
        </span>
        <OneDropdown
          @triggerClass="add-user-group-ace-trigger"
          @dropdownClass="add-user-group-ace-dropdown"
          @options={{subjectsList}}
          @onChange={{action "addEntitySelected"}}
          @placeholder={{tt this "addUserOrGroup"}}
          @searchEnabled={{true}}
          @searchField="name"
          as |entity|
        >
          <div class="option-container" data-entity-id={{entity.entityId}}>
            {{#truncated-string}}
              {{one-icon icon=(or entity.constructor.modelName entity.equivalentType)}}
              <span class="text {{if entity.isSystemSubject "system-subject-name"}}">
                {{entity.name}}
              </span>
              {{#if entity.description}}
                <span class="system-subject-description">
                  ({{entity.description}})
                </span>
              {{/if}}
            {{/truncated-string}}
          </div>
        </OneDropdown>
        {{#if hasInferredSubjectList}}
          <div class="subjects-inferred-warning">
            <OneIcon
              @icon="sign-warning-rounded"
              class="subjects-inferred-warning-icon"
            />
            <div class="subjects-inferred-warning-text">
              {{tt this "subjectListInferred"}}
            </div>
          </div>
        {{/if}}
      {{/listItem.header}}
    {{/list.item}}
  {{/unless}}
{{/one-collapsible-list}}
