{{#modal.header}}
  <div class="archives-purge-part archives-purge-header">
    <h1>{{tt this (concat "header.headerText." (if isSingleItem "single" "multi"))}}</h1>
  </div>
{{/modal.header}}

{{#modal.body}}
  {{#promise-proxy-container proxy=datasetNameProxy}}
    <div class="archives-purge-part archives-purge-body">
      <p class="purge-text-intro">
        {{tt this
          (concat "body.aboutToPurge." (if showArchivesDetails "detailed" "simpleMulti"))
          archivesText=(tt this
            (concat "body.archive." (if isSingleItem "single" "multi"))
          )
          datasetName=datasetNameProxy.content
          count=archives.length
        }}
      </p>
      {{#if showArchivesDetails}}
        <p>
          {{archives-purge/items-info items=archives}}
        </p>
      {{/if}}
      <p class="purge-text-irreversible-warning text-danger">
        {{tt this
          "body.irreversibleWarning"
          archivesText=(tt this
            (concat "body.archive." (if isSingleItem "theArchive" "selected"))
          )
        }}&nbsp;{{one-label-tip
          title=(tt this "body.nestedSharesInfo")
          icon="sign-info-rounded"
        }}
      </p>
      <p class="purge-text-retype-description">
        {{tt this "body.toContinueRetype"}}
      </p>
      <p class="purge-retype-text">
        <strong>{{confirmationSourceText}}</strong>
      </p>
      <form class="form form-horizontal">
        <input
          class="form-control confirmation-input"
          type="text"
          placeholder={{tt this "body.confirmationPlaceholder"}}
          value={{confirmationValue}}
          disabled={{if processing true}}
          oninput={{action (mut confirmationValue) value="target.value"}}
          onkeydown={{ignore-enter}}
        >
      </form>
    </div>
  {{/promise-proxy-container}}
{{/modal.body}}

{{#modal.footer}}
  <div class="archives-purge-part archives-purge-footer">
    {{#bs-button disabled=processing onClick=(action "close") class="cancel"}}
      {{tt this "footer.cancel"}}
    {{/bs-button}}
    <div class="btn-tooltip-container">
      {{#one-button
        type="danger"
        buttonType="button"
        onClick=(action "purge")
        class="proceed remove-proceed"
        disabled=purgeDisabled
      }}
        {{tt this (concat "footer.purgeSubmit." (if isSingleItem "single" "multi"))
          count=archives.length
        }}
      {{/one-button}}
      {{#if purgeTip}}
        {{one-tooltip title=purgeTip}}
      {{/if}}
    </div>
  </div>
{{/modal.footer}}
