{{#one-modal
  modalId=modalId
  class="archive-details-modal modal-content-overlay without-footer with-close-button"
  open=open
  size="xl"
  backdropClose=true
  keyboard=true
  onHide=(action "close")
  onShown=(action "onShown")
  as |modal|
}}

  {{#modal.header class="archive-details-modal-header"}}
    <h1 class="archive-details-header">
      <span class="header-text">
        {{tt this "archiveDetailsHeader"}}
      </span>
    </h1>
    {{modal-archive-subheader archives=(array browsableArchive)}}
    {{#bs-tab
      class="bs-tab-onedata bs-tab-modern file-info-tabbar"
      activeId=activeTab
      customTabs=true
      as |tab|
    }}
      {{#bs-nav
        type="tabs"
        class="nav-tabs-file-info"
        as |nav|
      }}
        {{#each availableTabs as |tabId|}}
          {{#nav.item
            active=(eq tab.activeId tabId)
          }}
            <a
              class={{concat-classes
                "nav-link"
                (concat "nav-link-" tabId)
                (if (eq tab.activeId tabId) "active")
              }}
              role="tab"
              {{action "changeTab" tabId}}
            >
              {{tt this (concat "tabNames." tabId)}}
            </a>
          {{/nav.item}}
        {{/each}}
      {{/bs-nav}}
    {{/bs-tab}}
  {{/modal.header}}

  {{#modal.body class="archive-details-modal-body"}}
    {{#if (eq activeTab "properties")}}
      {{archive-properties viewModel=archivePropertiesViewModel}}
    {{else if (eq activeTab "logs")}}
      {{archive-audit-log
        class="fill-flex-using-column"
        browsableArchive=browsableArchive
        space=space
      }}
    {{/if}}
  {{/modal.body}}

{{/one-modal}}
