{{#modal.header class="archive-settings-part archive-settings-modal-header"}}
  <h1 class="archive-settings-header">
    <span class="header-text">
      {{tt this "archiveSettingsHeader"}}
    </span>
  </h1>
  {{modal-archive-subheader archives=(array browsableArchive)}}
{{/modal.header}}

{{#modal.body class="archive-settings-part archive-settings-modal-body"}}
  {{archive-form
    id=formId
    formModel=formModel
    options=options
    isSubmitting=isSubmitting
  }}
  {{yield}}
{{/modal.body}}

{{#modal.footer class="archive-settings-part archive-settings-modal-footer"}}
  {{#bs-button
    class="close-btn"
    type="default"
    disabled=isSubmitting
    onClick=(action "close")
  }}
    {{tt this (if isModified "cancel" "close")}}
  {{/bs-button}}
  {{#if isModified}}
    {{#one-button
      type="primary"
      buttonType="submit"
      class="submit-archive-modification-btn"
      disabled=disabled
      isPending=isSubmitting
      onClick=(action "submit")
    }}
      {{tt this "submit"}}
    {{/one-button}}
  {{/if}}
{{/modal.footer}}
