{{#render-later triggerRender=isOpened}}
  {{#one-webui-popover
    popoverStyle="columns-configuration"
    open=isOpened
    triggerSelector=triggerSelector
    as |popover|
  }}
    {{#click-outside
      onClickOutside=(action (mut isOpened) false)
      exceptSelector=triggerSelector
    }}
      <ul class="columns-list">
        {{#each this.browserModel.columnsOrder as |columnName|}}
          <li class="column">
            {{one-checkbox
              inputId=(concat elementId "-" columnName "Checkbox")
              checked=(get (get browserModel.columns columnName) "isEnabled")
              update=(action "checkboxChanged" columnName)
              class=(concat-classes
                "filter-column-checkbox"
                (concat columnName "-checkbox")
              )
            }}
            <label
              for={{concat elementId "-" columnName "Checkbox"}}
              class="column-name-label"
            >
              <span class="one-label checkbox-label">
                <span>{{tt this columnName}}</span>
                {{#if (and
                  (not (get (get browserModel.columns columnName) "isVisible"))
                  (get (get browserModel.columns columnName) "isEnabled")
                )}}
                  {{#one-icon icon="no-view"}}
                    {{one-tooltip title=(tt this "noViewTip")}}
                  {{/one-icon}}
                {{/if}}
              </span>
            </label>
            <div class="arrows-container">
              <span
                class="move-down-button"
                onClick={{action "moveColumnDown" columnName}}
              >
                {{one-icon icon="move-down"}}
                {{one-tooltip title=(tt this "moveDown")}}
              </span>
              <span
                class="move-up-button"
                onClick={{action "moveColumnUp" columnName}}
              >
                {{one-icon icon="move-up"}}
                {{one-tooltip title=(tt this "moveUp")}}
              </span>
            </div>
          </li>
        {{/each}}
      </ul>
    {{/click-outside}}
  {{/one-webui-popover}}
{{/render-later}}
