{{#promise-proxy-container proxy=initialRequiredDataProxy}}
  {{#if dir}}
    {{file-browser
      browserModel=browserModel
      dir=dir
      spaceId=spaceEntityId
      spacePrivileges=spacePrivileges
      selectedFiles=selectedFiles
      selectedFilesForJump=selectedFilesForJump
      isSpaceOwned=spaceProxy.currentUserIsOwner
      changeSelectedFiles=(action "changeSelectedFiles")
      updateDirEntityId=(action "updateDirEntityId")
    }}
    <div class="upload-drop-zone {{if dir.dataIsProtected "upload-disabled"}}">
      <div class="upload-info">
        {{#if dir.dataIsProtected}}
          {{one-icon tagName="div" icon="ban-left" class="upload-watermark-icon"}}
        {{else}}
          {{one-icon tagName="div"  icon="browser-upload" class="upload-watermark-icon"}}
        {{/if}}
      </div>
    </div>
  {{/if}}

  {{#if createItemParentDir}}
    {{file-browser/fb-create-item-modal
      open=true
      parentDir=createItemParentDir
      itemType=createItemType
      onHide=(action closeCreateItemModal)
    }}
  {{/if}}

  {{#if fileToRename}}
    {{file-browser/fb-rename-modal
      open=true
      file=fileToRename
      parentDir=renameParentDir
      onHide=(action closeRenameModal)
    }}
  {{/if}}

  {{#if fileToShowInfo}}
    {{file-browser/fb-info-modal
      open=true
      file=fileToShowInfo
      initialTab=showInfoInitialTab
      space=spaceProxy.content
      getDataUrl=(action "getDataUrl")
      onHide=(action closeInfoModal)
    }}
  {{/if}}

  {{#if fileToShare}}
    {{file-browser/fb-share-modal
      open=true
      file=fileToShare
      managePrivilege=spacePrivileges.manageShares
      onHide=(action closeShareModal)
      getShareUrl=(action "getShareUrl")
    }}
  {{/if}}

  {{#if filesToRemove}}
    {{file-browser/fb-remove-modal
      open=true
      files=filesToRemove
      parentDir=removeParentDir
      spacePrivileges=spacePrivileges
      onHide=(action closeRemoveModal)
    }}
  {{/if}}

  {{#if filesToEditPermissions}}
    {{edit-permissions-modal
      files=filesToEditPermissions
      space=spaceProxy.content
      onClose=(action closeEditPermissionsModal)
    }}
  {{/if}}

  {{#if filesToShowDistribution}}
    {{file-distribution-modal
      files=filesToShowDistribution
      space=spaceProxy.content
      onClose=(action closeFileDistributionModal)
      getTransfersUrl=(action "getTransfersUrl")
    }}
  {{/if}}

  {{#if fileToShowMetadata}}
    {{file-browser/fb-metadata-modal
      open=true
      file=fileToShowMetadata
      onHide=(action closeMetadataModal)
    }}
  {{/if}}

  {{#if filesToShowDatasets}}
    {{datasets-modal
      open=true
      files=filesToShowDatasets
      editPrivilege=spacePrivileges.manageDatasets
      onHide=(action closeDatasetsModal)
      getDataUrl=(action "getDataUrl")
    }}
  {{/if}}

  {{#if filesToShowQos}}
    {{qos-modal
      open=true
      files=filesToShowQos
      space=spaceProxy.content
      showPrivilege=spacePrivileges.viewQos
      editPrivilege=spacePrivileges.manageQos
      onHide=(action closeQosModal)
      getDataUrl=(action "getDataUrl")
    }}
  {{/if}}
{{/promise-proxy-container}}
