{{#perfect-scrollbar-element
  class="split-browser-container dataset-browser-container"
  as |perfectScrollbarContainer|
}}
  {{#promise-proxy-container proxy=initialRequiredDataProxy}}
    {{file-browser
      browserModel=browserModel
      dir=currentBrowsableItem
      customFetchDirChildren=(action "fetchChildren")
      resolveFileParentFun=(action "resolveItemParent")
      spaceId=spaceId
      spacePrivileges=spacePrivileges
      selectedItems=selectedItems
      selectedItemsForJumpProxy=selectedItemsForJumpProxy
      isSpaceOwned=space.currentUserIsOwner
      contentScroll=perfectScrollbarContainer.element
      ignoreDeselectSelector=".archive-browser-container, .archive-browser-container *, .split-line, .split-line *"
      getItemByIdFun=(if (eq viewMode "files") (action getFileById))
      changeSelectedItems=(action "changeSelectedItems")
      updateDirEntityId=(action "updateDirEntityId")
    }}

    {{#if (and datasetToShowProtection fileToShowProtection)}}
      {{dataset-protection-modal
        open=true
        mode="dataset"
        file=fileToShowProtection
        browsableDataset=datasetToShowProtection
        editPrivilege=spacePrivileges.manageDatasets
        onHide=(action closeProtectionModal)
        getDataUrl=(action getDataUrl)
        getDatasetsUrl=(action getDatasetsUrl)
      }}
    {{/if}}

    {{#if fileToShowDatasetOpen}}
      {{dataset-browser/dataset-open-modal
        open=true
        dataset=fileToShowDatasetOpen
        onHide=(action closeDatasetOpenModal)
        onOpenArchivesView=(action openArchivesView)
      }}
    {{/if}}

    {{#if datasetToCreateArchive}}
      {{archive-create-modal
        open=true
        dataset=datasetToCreateArchive
        options=createArchiveOptions
        onHide=(action closeCreateArchiveModal)
        onArchiveCreate=(action submitArchiveCreate)
      }}
    {{/if}}
  {{/promise-proxy-container}}
{{/perfect-scrollbar-element}}
{{!-- FIXME: experimental split-line content --}}
<div class="split-line">░░░░░░</div>
{{!-- <div class="split-browser-container archive-browser-container"> --}}
{{!-- <div class="skrol browser-scroll-container"> --}}
{{#perfect-scrollbar-element
  class="split-browser-container archive-browser-container"
  __class="browser-scroll-container"
  as |perfectScrollbarContainer|
}}
  {{!-- FIXME: make delay before changing selectedItems count --}}
  {{#if (eq selectedItems.length 1)}}
    {{dataset-archives-browser
      space=space
      dataset=selectedItems.firstObject
      contentScroll=perfectScrollbarContainer.element
      ignoreDeselectSelector=".dataset-browser-container, .dataset-browser-container *, .split-line, .split-line *"
    }}
  {{else}}
    <div class="bottom-panel-content">
      <div class="bottom-panel-text">
        {{#if (gt selectedItems.length 1)}}
          {{tt this "multiDatasetsSelected" count=selectedItems.length}}
        {{else}}
          {{tt this "noDatasetSelected"}}
        {{/if}}
      </div>
      <div class="bottom-panel-text bottom-panel-text-secondary">
        {{tt this "selectSingleDataset"}}
      </div>
    </div>
  {{/if}}
{{/perfect-scrollbar-element}}
{{!-- </div> --}}
{{!-- </div> --}}