<div class={{concat-classes
  "dataset-browser-grid-element split-browser-grid-element"
  (if datasetContainerLowHeight "low-height")
}}>
  <PerfectScrollbarElement
    class="split-browser-container dataset-browser-container"
    as |perfectScrollbarContainer|
  >
    <PromiseProxyContainer @proxy={{initialRequiredDataProxy}}>
      <FileBrowser
        @browserModel={{browserModel}}
        @resolveFileParentFun={{action "resolveItemParent"}}
        @selectedItemsForJumpProxy={{selectedItemsForJumpProxy}}
        @contentScroll={{perfectScrollbarContainer.element}}
        @ignoreDeselectSelector={{ignoreDatasetDeselectSelector}}
        @updateDirEntityId={{action "updateDatasetId"}}
        @onRegisterApi={{action (mut datasetBrowserApi)}}
      />

      {{#if (and datasetToShowProtection fileToShowProtection)}}
        <DatasetProtectionModal
          @open={{true}}
          @mode="dataset"
          @file={{fileToShowProtection}}
          @browsableDataset={{datasetToShowProtection}}
          @editPrivilege={{spacePrivileges.manageDatasets}}
          @onHide={{action closeProtectionModal}}
          @getDataUrl={{action getDataUrl}}
          @getDatasetsUrl={{action getDatasetsUrl}}
        />
      {{/if}}

      {{#if datasetToCreateArchive}}
        <ArchiveCreateModal
          @open={{true}}
          @space={{space}}
          @dataset={{datasetToCreateArchive}}
          @options={{createArchiveOptions}}
          @onHide={{action closeCreateArchiveModal}}
          @onArchiveCreate={{action submitArchiveCreate}}
        />
      {{/if}}
    </PromiseProxyContainer>
  </PerfectScrollbarElement>
</div>
<div class="gutter-row gutter-row-1 gutter-row-selected-dataset">
  <div
    class={{concat-classes
      "gutter-label gutter-label-selected-dataset gutter-label-hideable"
      gutterLabelVisibleClass
    }}
  >
    <TruncatedString class="gutter-label-content">
      <strong>{{tt this "selectedDatasetGutterLabel"}}</strong>
      <span class="gutter-label-dataset-name">{{selectedSingleDataset.name}}</span>
    </TruncatedString>
  </div>
</div>
<div class={{concat-classes
  "archive-browser-grid-element split-browser-grid-element"
  (if archiveContainerLowHeight "low-height")
}}>
  <PerfectScrollbarElement
    @id={{archiveBrowserContainerId}}
    class="split-browser-container archive-browser-container"
    as |perfectScrollbarContainer|
  >
    <PromiseProxyContainer @proxy={{initialRequiredDataProxy}}>
      {{#if noViewArchivesPrivilege}}
        <div class="bottom-panel-content">
          <div class="bottom-panel-text">
            {{tt this "noViewPrivilege.insufficientPrivileges"}}
          </div>
          <OneImage
            class="no-archives-view-image"
            @imagePath="assets/images/no-view.svg"
          />
          <div class="bottom-panel-text bottom-panel-text-secondary">
            {{tt this "noViewPrivilege.requiresPrivilege"
              privilegeExpression=viewPrivilegeExpression
            }}
          </div>
        </div>
      {{else if singleDatasetIsSelected}}
        <DatasetArchivesBrowser
          @space={{space}}
          @browsableDataset={{selectedSingleDataset}}
          @contentScroll={{perfectScrollbarContainer.element}}
          @ignoreDeselectSelector={{ignoreArchiveDeselectSelector}}
          @navigateAfterRecall={{true}}
          @selectedIds={{selectedSecondaryIds}}
          @archiveId={{archiveId}}
          @dirId={{dirId}}
          @fileAction={{fileAction}}
          @openCreateArchiveModal={{action openCreateArchiveModal}}
          @onUpdateArchiveId={{action "updateArchiveId"}}
          @onUpdateDirId={{action "updateDirId"}}
          @onRegisterApi={{action (mut archiveBrowserApi)}}
        />
      {{else}}
        <div class="bottom-panel-content">
          <div class="bottom-panel-text">
            {{#if (gt selectedItems.length 1)}}
              {{tt this "multiDatasetsSelected" count=selectedItems.length}}
            {{else}}
              {{tt this "noDatasetSelected"}}
            {{/if}}
          </div>
          <div class="bottom-panel-text bottom-panel-text-secondary">
            {{selectSingleDatasetText}}
          </div>
        </div>
      {{/if}}
    </PromiseProxyContainer>
  </PerfectScrollbarElement>
</div>