{{log "content-space-datasets dirId changed" dirId}}

{{!-- FIXME: refactor: move ignore deselect selector to JS --}}
{{#perfect-scrollbar-element
  class="split-browser-container dataset-browser-container"
  as |perfectScrollbarContainer|
}}
  {{!-- FIXME: removed injection of getItemByIdFun --}}
  {{#promise-proxy-container proxy=initialRequiredDataProxy}}
    {{file-browser
      browserModel=browserModel
      dir=browsableDataset
      customFetchDirChildren=(action "fetchChildren")
      resolveFileParentFun=(action "resolveItemParent")
      spaceId=spaceId
      spacePrivileges=spacePrivileges
      selectedItems=selectedItems
      selectedItemsForJumpProxy=selectedItemsForJumpProxy
      isSpaceOwned=space.currentUserIsOwner
      contentScroll=perfectScrollbarContainer.element
      ignoreDeselectSelector=".archive-browser-container, .archive-browser-container *, #content-scroll, .dataset-browser-container .ps__rail-y, .dataset-browser-container .ps__rail-y *"
      changeSelectedItems=(action "changeSelectedItems")
      updateDirEntityId=(action "updateDirEntityId")
    }}

    {{#if (and datasetToShowProtection fileToShowProtection)}}
      {{dataset-protection-modal
        open=true
        mode="dataset"
        file=fileToShowProtection
        browsableDataset=datasetToShowProtection
        editPrivilege=spacePrivileges.manageDatasets
        onHide=(action closeProtectionModal)
        getDataUrl=(action getDataUrl)
        getDatasetsUrl=(action getDatasetsUrl)
      }}
    {{/if}}

    {{#if fileToShowDatasetOpen}}
      {{dataset-browser/dataset-open-modal
        open=true
        dataset=fileToShowDatasetOpen
        onHide=(action closeDatasetOpenModal)
        onOpenArchivesView=(action openArchivesView)
      }}
    {{/if}}

    {{#if datasetToCreateArchive}}
      {{archive-create-modal
        open=true
        dataset=datasetToCreateArchive
        options=createArchiveOptions
        onHide=(action closeCreateArchiveModal)
        onArchiveCreate=(action submitArchiveCreate)
      }}
    {{/if}}
  {{/promise-proxy-container}}
{{/perfect-scrollbar-element}}
<div class="gutter-row gutter-row-1 gutter-row-selected-dataset">
  <div
    class={{concat-classes
      "gutter-label gutter-label-selected-dataset gutter-label-hideable"
      gutterLabelVisibleClass
    }}
  >
    <div class="gutter-label-content">
      {{tt this "selectedDatasetGutterLabel"}}
    </div>
  </div>
</div>
{{#perfect-scrollbar-element
  id=archiveBrowserContainerId
  class="split-browser-container archive-browser-container"
  as |perfectScrollbarContainer|
}}
  {{!-- FIXME: make delay before changing selectedItems count --}}
  {{!-- FIXME: browsableDataset is ready - change implementation to allow injecting browsableDataset directly without dataset --}}
  {{#if singleDatasetIsSelected}}
    {{dataset-archives-browser
      space=space
      browsableDataset=selectedSingleDataset
      contentScroll=perfectScrollbarContainer.element
      ignoreDeselectSelector=".dataset-browser-container, .dataset-browser-container *, #content-scroll, .archive-browser-container .ps__rail-y, .archive-browser-container .ps__rail-y *"
      selectedIds=selectedSecondary
      archiveId=archiveId
      dirId=dirId
      onUpdateArchiveId=(action "updateArchiveId")
      onUpdateDirId=(action "updateDirId")
    }}
    <div class="debug" style="display: none;">dir: {{dirProxy.content}}</div>
  {{else}}
    <div class="bottom-panel-content">
      <div class="bottom-panel-text">
        {{#if (gt selectedItems.length 1)}}
          {{tt this "multiDatasetsSelected" count=selectedItems.length}}
        {{else}}
          {{tt this "noDatasetSelected"}}
        {{/if}}
      </div>
      <div class="bottom-panel-text bottom-panel-text-secondary">
        {{tt this "selectSingleDataset"}}
      </div>
    </div>
  {{/if}}
{{/perfect-scrollbar-element}}