{{!-- {{file-path class="file-path-0" file=file}} --}}
{{!-- {{file-path class="file-path-1" file=file}}
{{file-path class="file-path-2" file=file}}
{{file-path class="file-path-3" file=file}}
{{file-path class="file-path-4 transitionable" file=file}}
{{file-path class="file-path-5 transitionable" file=file}} --}}

{{!-- FIXME: create separate demo file --}}

{{!-- <a style="display:block;text-align:center;">
  <span>Hello, this is dog.</span>
  {{#one-tooltip class="string-path-tooltip" triggerEvents="" visible=true}}
    {{simple-file-path class="simple-file-path-0" absolutePath="/krk-par-p/hello/world/test/one/world/test/one/world/test/one/world/test/one/world/test/one/world/test/one/world/test/one/world/test/one/world/test/one/world/test/one/world/test/one/world/test/one/world/test/one/world/test/one/world/test/one/world/test/one/world/test/one/world/test/one"}}
  {{/one-tooltip}}
</a> --}}


<a style="display:block;text-align:center;">
  <span>Hello, this is cat.</span>
  {{#one-tooltip class="string-path-tooltip" triggerEvents="" visible=true}}
    {{simple-file-path
      class="simple-file-path-1"
      absolutePath="/krk-p-par-p/.__onedata__archive/dataset_archives_2aa19599223ab67fc5354c864290dbbdch7d43/archive_6e825b9946eb026645bbf7df90b71675ch1eb7/hello/world/test/one/world/test/one/world/test/one/world/test/one/world/test/one/world/test/one/world/test/one/world/test/one/world/test/one/world/test/one/world/test/one/world/test/one/world/test/one/world/test/one/world/test/one/world/test/one/world/test/one/world/test/one"
    }}
  {{/one-tooltip}}
</a>