{{#bs-modal
  class="edit-permissions-modal"
  open=true
  onHidden=(action "close")
  as |modal|}}
  {{#modal.header}}
    <h1>{{tt this "header"}}</h1>
  {{/modal.header}}
  {{#modal.body}}
    {{#promise-proxy-container proxy=permissionsProxy}}
      <div class="active-permissions-type-container">
        <span class="one-label">{{tt this "permissionsType"}}&nbsp;{{one-label-tip title=(tt this "permissionsTypeHint")}}</span>
        {{#bs-button-group
          class="active-permissions-type-selector"
          value=activePermissionsType
          type="radio"
          onChange=(action "activePermissionsTypeChanged") as |bg|}}
          {{#bg.button type="default" class="btn-sm permissions-type-posix" value="posix"}}
            {{tt this "permisionsTypes.posix"}}
          {{/bg.button}}
          {{#bg.button type="default" class="btn-sm permissions-type-acl" value="acl"}}
            {{tt this "permisionsTypes.acl"}}
          {{/bg.button}}
        {{/bs-button-group}}
      </div>
      {{#if (not activePermissionsTypeCompatible)}}
        <div class="alert alert-warning alert-simple-info">{{tt this "differentPermissionsTypes"}}</div>
      {{/if}}
      {{#if (and posixViewActive (not posixPermissionsCompatible))}}
        <div class="alert alert-warning alert-simple-info">
          {{tt this "differentPosix"}} {{tt this "openEditorToOverride"}}
          <div class="row alert-simple-info-btn">
            {{#bs-button
              class="btn btn-warning btn-sm open-posix-editor"
              onClick=(action "acceptPosixIncompatibility")}}
              {{tt this "openEditor"}}
            {{/bs-button}}
          </div>
        </div>
      {{/if}}
      {{posix-permissions-editor
        initialPermissions=initialPosixPermissions
        onChange=(action "posixPermissionsChanged")
        onSave=(action "save" modal.close)
        class=(if (not (and posixViewActive posixPermissionsCompatible)) "hidden")}}
      {{#if (and aclViewActive (not aclRulesCompatible))}}
        <div class="alert alert-warning alert-simple-info">
          {{tt this "differentAcl"}} {{tt this "openEditorToOverride"}}
          <div class="row alert-simple-info-btn">
            {{#bs-button
              class="btn btn-warning btn-sm open-acl-editor"
              onClick=(action "acceptAclIncompatibility")}}
              {{tt this "openEditor"}}
            {{/bs-button}}
          </div>
        </div>
      {{/if}}
      {{acl-editor
        space=space
        aclRules=initialAclRules
        onChange=(action "aclRulesChanged")
        class=(if (not (and aclViewActive aclRulesCompatible)) "hidden")}}
    {{/promise-proxy-container}}
  {{/modal.body}}
  {{#modal.footer class="btn-toolbar"}}
    {{#bs-button disabled=isSaving onClick=modal.close}}
      {{tt this "cancel"}}
    {{/bs-button}}
    {{#one-spin-button
      action=(action "save" modal.close)
      class="btn btn-primary"
      disabled=(not isSaveEnabled)}}
      {{tt this "save"}}
    {{/one-spin-button}}
  {{/modal.footer}}
{{/bs-modal}}
