{{#bs-modal
  class="edit-permissions-modal"
  open=true
  backdropClose=false
  onHide=(action "close")
  as |modal|}}
  {{#modal.header}}
    <h1>{{tt this (concat "header." (if previewMode "show" "edit"))}}</h1>
    {{modal-file-subheader files=files}}
  {{/modal.header}}
  {{#modal.body}}
    {{#if (not filesHaveCompatibleActivePermissionsType)}}
      <div class="alert alert-warning alert-simple-info">
        {{tt this (concat "differentPermissionsTypes." (if previewMode "show" "edit"))}}
      </div>
    {{/if}}
    {{#unless (and previewMode (not filesHaveCompatibleActivePermissionsType))}}
      <div class="active-permissions-type-container">
        <span class="one-label">{{tt this "permissionsType"}}{{#unless previewMode}}&nbsp;{{one-label-tip title=(tt this "permissionsTypeHint")}}{{/unless}}</span>
        {{#bs-button-group
          class=(concat-classes "active-permissions-type-selector" (if previewMode "disabled"))
          value=activePermissionsType
          type="radio"
          onChange=(action "activePermissionsTypeChanged") as |bg|
        }}
          {{#bg.button
            type="default"
            class="btn-sm permissions-type-posix"
            value="posix"
            disabled=previewMode
          }}
            {{tt this "permisionsTypes.posix"}}
          {{/bg.button}}
          {{#bg.button
            type="default"
            class="btn-sm permissions-type-acl"
            value="acl"
            disabled=previewMode
          }}
            {{tt this "permisionsTypes.acl"}}
          {{/bg.button}}
        {{/bs-button-group}}
      </div>
    {{/unless}}
    {{#if (and posixViewActive (not filesHaveCompatiblePosixPermissions))}}
      <div class="alert alert-warning alert-simple-info">
        {{tt this (concat "differentPosix." (if previewMode "show" "edit"))}}
        {{#unless (or previewMode posixPermissionsCompatible)}}
          <div class="row alert-simple-info-btn">
            {{#bs-button
              class="btn btn-warning btn-sm open-posix-editor"
              onClick=(action "acceptPosixIncompatibility")}}
              {{tt this "editAnyway"}}
            {{/bs-button}}
          </div>
        {{/unless}}
      </div>
    {{/if}}
    {{posix-permissions-editor
      initialPermissions=initialPosixPermissions
      previewMode=previewMode
      onChange=(action "posixPermissionsChanged")
      onSave=(action "save" modal.close)
      class=(if (not (and posixViewActive posixPermissionsCompatible)) "hidden")}}
    {{#render-later tagName="div" triggerRender=aclViewActive class=(unless aclViewActive "hidden")}}
      {{#if previewMode}}
        <div class="alert alert-warning alert-simple-info">
          {{tt this "previewModeAcl"}}
        </div>
      {{else}}
        {{#unless (eq filesType "mixed")}}
          {{#promise-proxy-container proxy=aclsProxy}}
            {{#if (and aclViewActive (not filesHaveCompatibleAcl))}}
              <div class="alert alert-warning alert-simple-info">
                {{tt this "differentAcl"}}
                {{#unless aclCompatible}}
                  <div class="row alert-simple-info-btn">
                    {{#bs-button
                      class="btn btn-warning btn-sm open-acl-editor"
                      onClick=(action "acceptAclIncompatibility")}}
                      {{tt this "editAnyway"}}
                    {{/bs-button}}
                  </div>
                {{/unless}}
              </div>
            {{/if}}
            {{acl-editor
              users=spaceUsers
              groups=spaceGroups
              systemSubjects=systemSubjects
              acl=initialAcl
              onChange=(action "aclChanged")
              context=filesType
              class=(unless aclCompatible "hidden")}}
          {{/promise-proxy-container}}
        {{else}}
          <div class="alert alert-warning">
            {{tt this "noAclDueToMixedFileTypes"}}
          </div>
        {{/unless}}
      {{/if}}
    {{/render-later}}
  {{/modal.body}}
  {{#modal.footer class="btn-toolbar"}}
    {{#bs-button disabled=isSaving onClick=modal.close}}
      {{tt this (if previewMode "close" "cancel")}}
    {{/bs-button}}
    {{#unless previewMode}}
      {{#one-spin-button
        action=(action "save" modal.close)
        class="btn btn-primary"
        disabled=(not isSaveEnabled)}}
        {{tt this "save"}}
      {{/one-spin-button}}
    {{/unless}}
  {{/modal.footer}}
{{/bs-modal}}
