{{#bs-modal
  class=(concat-classes
    "edit-permissions-modal"
    (if effectiveReadonly "edit-permissions-modal-readonly")
  )
  open=true
  backdropClose=false
  onHide=(action "close")
  as |modal|}}
  {{#modal.header}}
    <h1>{{tt this (if effectiveReadonly "headerReadonly" "header")}}</h1>
    {{modal-file-subheader files=files}}
  {{/modal.header}}
  {{#modal.body}}
    <div class="active-permissions-type-container">
      <span class="one-label">{{tt this "permissionsType"}}</span>
      {{#bs-button-group
        class="active-permissions-type-selector"
        value=activePermissionsType
        type="radio"
        onChange=(action "activePermissionsTypeChanged") as |bg|
      }}
        {{#bg.button
          type="default"
          class="btn-sm permissions-type-posix"
          value="posix"
        }}
          {{tt this "permisionsTypes.posix"}}
        {{/bg.button}}
        {{#bg.button
          type="default"
          class="btn-sm permissions-type-acl"
          value="acl"
        }}
          {{tt this "permisionsTypes.acl"}}
        {{/bg.button}}
      {{/bs-button-group}}
    </div>
    {{#if (and posixViewActive (not filesHaveCompatiblePosixPermissions))}}
      {{#if effectiveReadonly}}
        <div class="alert alert-warning alert-simple-info">
          {{tt this "differentPosix"}}
          {{#unless posixPermissionsCompatible}}
            <div class="row alert-simple-info-btn">
              {{#bs-button
                class="btn btn-warning btn-sm open-posix-editor"
                onClick=(action "acceptPosixIncompatibility")}}
                {{tt this "editAnyway"}}
              {{/bs-button}}
            </div>
          {{/unless}}
        </div>
      {{else}}
        <div class="alert alert-info alert-simple-info">
          {{tt this "differentPosixReadonly"}}
        </div>
      {{/if}}
    {{/if}}
    {{posix-permissions-editor
      initialPermissions=initialPosixPermissions
      readonly=effectiveReadonly
      readonlyTip=effectiveReadonlyTip
      onChange=(action "posixPermissionsChanged")
      onSave=(action "save" modal.close)
      class=(if (not (and posixViewActive posixPermissionsCompatible)) "hidden")
    }}
    {{#render-later tagName="div" triggerRender=aclViewActive class=(unless aclViewActive "hidden")}}
      {{#unless (eq filesType "mixed")}}
        {{#promise-proxy-container proxy=aclsProxy}}
          {{#if (and aclViewActive (not filesHaveCompatibleAcl))}}
            <div class="alert alert-warning alert-simple-info">
              {{tt this "differentAcl"}}
              {{#unless aclCompatible}}
                <div class="row alert-simple-info-btn">
                  {{#bs-button
                    class="btn btn-warning btn-sm open-acl-editor"
                    onClick=(action "acceptAclIncompatibility")}}
                    {{tt this "editAnyway"}}
                  {{/bs-button}}
                </div>
              {{/unless}}
            </div>
          {{/if}}
          {{acl-editor
            users=spaceUsers
            groups=spaceGroups
            systemSubjects=systemSubjects
            acl=initialAcl
            onChange=(action "aclChanged")
            context=filesType
            class=(unless aclCompatible "hidden")}}
        {{/promise-proxy-container}}
      {{else if readonly}}
        <div class="alert alert-info">
          {{tt this "noAclDueToMixedFileTypesReadonly"}}
        </div>
      {{else}}
        <div class="alert alert-warning">
          {{tt this "noAclDueToMixedFileTypes"}}
        </div>
      {{/unless}}
    {{/render-later}}
  {{/modal.body}}
  {{#modal.footer class="btn-toolbar"}}
    {{#if effectiveReadonly}}
      {{#bs-button onClick=modal.close}}
        {{tt this "close"}}
      {{/bs-button}}
    {{else}}
      {{#bs-button disabled=isSaving onClick=modal.close}}
        {{tt this "cancel"}}
      {{/bs-button}}
      {{#one-spin-button
        action=(action "save" modal.close)
        class="btn btn-primary"
        disabled=(not isSaveEnabled)}}
        {{tt this "save"}}
      {{/one-spin-button}}
    {{/if}}
  {{/modal.footer}}
{{/bs-modal}}
