{{#bs-modal
  class="file-distribution-modal"
  open=true
  onShow=(action "onShow")
  onHide=(action "close")
  size="xl"
  as |modal|}}
  {{#modal.header}}
    <h1>{{tt this "header"}}</h1>
    {{modal-file-subheader files=files multiTextPrefix=(if isAddMode (tt this "for"))}}
  {{/modal.header}}
  {{#modal.body}}
    {{#promise-proxy-container proxy=oneprovidersProxy}}
      {{#if (eq oneproviders.length 1)}}
        <div class="alert alert-info">{{tt this "onlySingleOneproviderSupport"}}</div>
      {{/if}}
      {{#if (gt files.length 1)}}
        {{#bs-tab class="bs-tab-onedata bs-tab-modern" activeId=activeTab onChange=(action "changeTab") as |tab|}}
          {{tab.pane id="distribution-summary" title=(tt this "summary")}}
          {{tab.pane id="distribution-details" title=(tt this "details")}}
        {{/bs-tab}}
      {{/if}}
      {{#if (eq activeTab "distribution-summary")}}
        <p class="batch-mode-intro">
          {{#if filesNumber}}
            {{tt this "filesBatchDescription"
              filesNumber=filesNumber
              fileNoun=(tt this (if (gt filesNumber 1) "files" "file"))
              filesSize=(bytes-to-string filesSize)
            }}{{if (not directoriesNumber) "."}}
            {{!-- {{#if directoriesNumber}}
              {{tt this "filesAndDirectioriesBatchDescriptionSuffix"}}
              {{one-label-tip title=(tt this "onlyDirectoriesDescription")}}
            {{/if}} --}}
          {{else}}
            {{tt this "onlyDirectoriesDescription"}}
          {{/if}}
        </p>
        {{file-distribution-modal/oneproviders-distribution
          visible=(eq activeTab "distribution-summary")
          batchMode=true
          fileDistributionData=fileDistributionData
          oneproviders=oneproviders
          space=space
          onReplicate=(action "replicate" files)
          onMigrate=(action "migrate" files)
          onEvict=(action "evict" files)
          getTransfersUrl=(action "getTransfersUrl")
        }}
      {{else}}
        {{#one-collapsible-list class="per-file-distribution-list" as |list|}}
          {{#each fileDistributionData as |fileDistDataContainer|}}
            {{#list.item as |listItem|}}
              {{#listItem.header disableToggleIcon=true}}
                <span class="item-icon-container">
                  {{one-icon class="item-icon" icon=(if (eq fileDistDataContainer.fileType "file") "browser-file" "browser-directory")}}
                  {{one-tooltip
                    title=fileDistDataContainer.file.name
                    placement="top"
                    arrowPlacement="left"
                    triggerEvents="hover"}}
                </span>
                <span class="file-name truncate">
                  {{fileDistDataContainer.file.name}}
                </span>
                <span class="file-size">{{bytes-to-string fileDistDataContainer.file.size}}</span>
              {{/listItem.header}}
              {{#listItem.content}}
                <div class="list-content">
                  {{file-distribution-modal/oneproviders-distribution
                    visible=(if (eq fileDistributionData.length 1) true listItem.isActive)
                    oneproviders=oneproviders
                    fileDistributionData=(array fileDistDataContainer)
                    space=space
                    onReplicate=(action "replicate" (array fileDistDataContainer.file))
                    onMigrate=(action "migrate" (array fileDistDataContainer.file))
                    onEvict=(action "evict" (array fileDistDataContainer.file))
                    getTransfersUrl=(action "getTransfersUrl")
                  }}
                </div>
              {{/listItem.content}}
            {{/list.item}}
          {{/each}}
        {{/one-collapsible-list}}
      {{/if}}
    {{/promise-proxy-container}}
  {{/modal.body}}  
  {{#modal.footer class="btn-toolbar"}}
    {{#bs-button type="primary" onClick=modal.close}}
      {{tt this "close"}}
    {{/bs-button}}
  {{/modal.footer}}
{{/bs-modal}}
