{{#modal.header class="file-datasets-part file-datasets-modal-header"}}
  {{file-datasets/summary-header
    file=file
    mode="file"
    fileDatasetSummaryProxy=fileDatasetSummaryProxy
    editPrivilege=editPrivilege
    insufficientEditPrivilegesMessage=insufficientEditPrivilegesMessage
  }}
  <div class="file-datasets-header-lower header-with-tags">
    {{file-datasets/tab-bar
      activeTab=activeTab
      tabsSpec=tabsSpec
      onActiveTabChange=(action "changeActiveTab")
    }}
    {{#if (eq activeTab "settings")}}
      {{dataset-protection/effective-info
        class="header-tags-container"
        file=file
        mode="file"
        fileDatasetSummaryProxy=fileDatasetSummaryProxy
      }}
    {{/if}}
  </div>
{{/modal.header}}

{{#modal.body id=modalBodyId class="file-datasets-part file-datasets-modal-body"}}
  {{#promise-proxy-container proxy=belongsToSomeDatasetProxy}}
    {{#unless belongsToSomeDataset}}
      {{content-info
        class="scroll-breakpoint-700 fill-flex-using-column content-info-no-dataset"
        header=(tt this "noDataset.header" fileType=fileTypeText)
        text=(tt this "noDataset.text" fileType=fileTypeText)
        buttonAction=(action "establishDataset")
        buttonLabel=(tt this "noDataset.buttonEstablish")
        buttonClass="establish-dataset-btn"
        buttonDisabled=establishButtonDisabled
        buttonTip=establishButtonDisabledTip
      }}
    {{else}}
      {{#if (eq activeTab "settings")}}
        {{file-datasets/direct-dataset-control
          file=file
          spacePrivileges=space.privileges
          directDatasetProxy=directDatasetProxy
          onOpenCreateArchive=(action "openCreateArchive")
          onEstablishDirectDataset=(action "establishDataset")
        }}
        {{dataset-protection/table
          fileDatasetSummaryProxy=fileDatasetSummaryProxy
          directDatasetProxy=directDatasetProxy
          ancestorDatasetsProxy=ancestorDatasetsProxy
          file=file
          mode="file"
          editPrivilege=editPrivilege
          insufficientEditPrivilegesMessage=insufficientEditPrivilegesMessage
          close=close
          getDataUrl=getDataUrl
          getDatasetsUrl=getDatasetsUrl
        }}
      {{else if (eq activeTab "archives")}}
        {{#promise-proxy-container proxy=browsableDatasetProxy}}
          {{file-datasets/archives-tab
            class="in-modal-item-browser-container"
            parentModalDialogSelector=parentModalDialogSelector
            space=space
            modalBodyId=modalBodyId
            browsableDataset=browsableDatasetProxy.content
            options=tabOptions.archives
            onCloseAllModals=onCloseAllModals
          }}
        {{/promise-proxy-container}}
      {{/if}}
    {{/unless}}
  {{/promise-proxy-container}}
{{/modal.body}}

{{#if renderFooter}}
  {{#modal.footer class="file-datasets-part file-datasets-modal-footer"}}
    <a class="btn btn-default dataset-link" href={{datasetLink}} target={{navigateTarget}}>
      <span class="text">{{tt this "showInBrowser"}}</span>
      {{one-icon icon="link-external"}}
    </a>
  {{/modal.footer}}
{{/if}}
