{{#modal.header}}
  <div class="modal-header-text">
    <h1 class="datasets-modal-header">
      <span class="header-text">
        {{tt this "datasets"}}
      </span>
    </h1>
    {{modal-file-subheader files=files}}
  </div>
  <div class="modal-header-effective-info datasets-effective-protection-info">
    {{#if isEffDataProtected}}
      <div class="labels-container data-protection-enabled">
        <span class="label label-warning data-protected-tag">
          <div class="inline-icon-container">
            {{one-icon icon="provider"}}
          </div>
          <span class="protected-text">
            {{tt this "dataProtectedTag"}}
          </span>
          {{one-tooltip title=(tt this "dataProtectedTooltip")}}
        </span>
      </div>
    {{/if}}
    {{#if isEffMetadataProtected}}
      <div class="labels-container metadata-protection-enabled">
        <span class="label label-warning metadata-protected-tag">
          <div class="inline-icon-container">
            {{one-icon icon="browser-attribute"}}
          </div>
          <span class="protected-text">
            {{tt this "metadataProtectedTag"}}
          </span>
          {{one-tooltip title=(tt this "metadataProtectedTooltip")}}
        </span>
      </div>
    {{/if}}
  </div>
{{/modal.header}}

{{#modal.body}}
  {{#promise-proxy-container
    proxy=fileDatasetSummaryProxy
    tagName="div"
    class="loadable-row"
  }}
    {{#if hasDirectDatasetEstablished}}
      <div class="items-group direct-dataset-items-group">
        {{file-datasets/direct-dataset-section
          class="datasets-item"
          file=file
          fileDatasetSummary=fileDatasetSummary
        }}
      </div>
    {{else}}
      <div class="items-group no-direct-dataset-items-group">
        <div class="datasets-item">
          {{#one-spin-button
            action=(action "establishDirectDataset")
            class="btn btn-primary"
          }}
            {{tt this "establishDataset"}}
          {{/one-spin-button}}
        </div>
      </div>
    {{/if}}
  {{/promise-proxy-container}}
  {{#promise-proxy-container
    proxy=inheritedDatasetsProxy
    tagName="div"
    class="loadable-row"
  }}
    {{#if inheritedDatasets.length}}
      <div class="items-group inherited-datasets-items-group">
        <h2>{{tt this "inheritedDatasets"}}</h2>
        {{#file-datasets/datasets-list datasets=inheritedDatasets as |sortedDataList|}}
          {{log sortedDataList}}
          {{#each sortedDataList as |data|}}
            {{file-datasets/inherited-dataset
              class="datasets-item"
              dataset=data.dataset
              filePath=data.filePath
              getDataUrl=(action getDataUrl)
              close=(action close)
            }}
          {{/each}}
        {{/file-datasets/datasets-list}}
      </div>
    {{else}}
      <div class="items-group no-inherited-datasets-group">
        <div class="datasets-item">
          {{tt this "noInheritedDatasets"
            fileType=(tt this (concat "fileType." file.type))
          }}
        </div>
      </div>
    {{/if}}
  {{/promise-proxy-container}}
{{/modal.body}}

{{#modal.footer}}
  {{#bs-button
    onClick=(action close)
    type="default"
    class="close-btn"
  }}
    {{tt this "close"}}
  {{/bs-button}}
{{/modal.footer}}