<div class="upload-drop-zone {{if dir.dataIsProtected "upload-disabled"}}">
  <div class="upload-info">
    {{#if dir.dataIsProtected}}
      {{one-icon tagName="div" icon="ban-left" class="upload-watermark-icon"}}
    {{else}}
      {{one-icon tagName="div"  icon="browser-upload" class="upload-watermark-icon"}}
    {{/if}}
  </div>
</div>

{{#if selectorModel.filesToShowInfo}}
  <FileInfoModal
    @open={{true}}
    @space={{selectorModel.space}}
    @previewMode={{false}}
    @browserModel={{browserModel}}
    @files={{selectorModel.filesToShowInfo}}
    @initialTab={{selectorModel.showInfoInitialTab}}
    @dirStatsServiceState={{selectorModel.dirStatsServiceStateProxy.content}}
    @onHide={{action closeInfoModal}}
  />
{{/if}}

{{#if createItemParentDir}}
  {{file-browser/fb-create-item-modal
    open=true
    parentDir=createItemParentDir
    itemType=createItemType
    onHide=(action closeCreateItemModal)
  }}
{{/if}}

{{#if fileToRename}}
  {{file-browser/fb-rename-modal
    open=true
    file=fileToRename
    onHide=(action closeRenameModal)
  }}
{{/if}}