<div class="file-browser-head-container">
  <div class="fb-upload-trigger"></div>
  <div class="fb-head-inner">
    <div class="fb-breadcrumbs-container">
      {{file-browser/fb-breadcrumbs
        dir=dir
        rootDir=customRootDir
        menuButtons=currentDirMenuButtons
        resolveFileParentFun=resolveFileParentFun
        previewMode=previewMode
        changeDir=(action "changeDir")
        clearSelection=(action "changeSelectedFiles" (array))
      }}
    </div>
    <div class="text-right fb-toolbar-container hidden-xs">
      {{#unless (or media.isMobile previewMode)}}
        {{file-browser/fb-selection-toolkit
          itemsCount=(if isOnlyCurrentDirSelected 0 selectedFiles.length)
          selectionContext=selectionContext
          allButtonsArray=allButtonsArray
        }}
      {{/unless}}
      {{file-browser/fb-toolbar
        dir=dir
        previewMode=previewMode
        fileClipboardMode=fileClipboardMode
        fileClipboardFiles=fileClipboardFiles
        selectionContext=selectionContext
        allButtonsArray=allButtonsArray
        selectCurrentDir=(action "selectCurrentDir")
      }}
    </div>
  </div>
</div>
<div class="fb-table-container">
  {{file-browser/fb-table
    dir=dir
    selectedFiles=selectedFiles
    selectedFilesForJump=selectedFilesForJump
    selectionContext=selectionContext
    allButtonsArray=allButtonsArray
    fileClipboardMode=fileClipboardMode
    fileClipboardFiles=fileClipboardFiles
    customFetchDirChildren=customFetchDirChildren
    previewMode=previewMode
    isSpaceOwned=isSpaceOwned
    spacePrivileges=spacePrivileges
    invokeFileAction=(action "invokeFileAction")
    changeSelectedFiles=(action "changeSelectedFiles")
    changeDir=(action "changeDir")
    containerScrollTop=(action "containerScrollTop")
    registerApi=(action (mut fbTableApi))
  }}
</div>

{{#if showCurrentDirActions}}
  {{#one-webui-popover
    class="current-dir-actions-popover"
    popoverStyle="with-dropdown"
    padding=false
    triggerSelector=(concat "#" elementId " .current-dir-actions-trigger")
    open=currentDirActionsOpen
    as |popover|
  }}
    {{#click-outside action=(action "toggleCurrentDirActions" false)}}
      {{#popover-content-limit opened=popover.visible}}
        {{actions-popover-content
          actionsArray=currentDirMenuButtons
          actionClicked=(action "toggleCurrentDirActions" false)
          class="current-dir-actions ps--focus"
        }}
      {{/popover-content-limit}}
    {{/click-outside}}
  {{/one-webui-popover}}
  <div class="current-dir-actions-trigger floating-actions-trigger"></div>
{{/if}}

{{#if (and media.isMobile (not previewMode))}}
  {{file-browser/fb-selection-toolkit
    mobileMode=true
    itemsCount=(if isOnlyCurrentDirSelected 0 selectedFiles.length)
    selectionContext=selectionContext
    allButtonsArray=allButtonsArray
  }}
{{/if}}
