<div class="file-browser-head-container">
  <div class="fb-upload-trigger"></div>
  <div class="fb-head-inner">
    <div class="fb-breadcrumbs-container">
      {{file-browser/fb-breadcrumbs
        dir=dir
        rootDir=customRootDir
        allButtonsArray=allButtonsArray
        clipboardReady=clipboardReady
        menuButtons=currentDirMenuButtons
        resolveFileParentFun=resolveFileParentFun
        previewMode=previewMode
        dirActionsToggled=(action "selectCurrentDir")
        changeDir=(action "changeDir")
      }}
    </div>
    <div class="text-right fb-toolbar-container hidden-xs">
      {{#unless (or previewMode media.isMobile)}}
        {{file-browser/fb-selection-toolkit
          itemsCount=(if isOnlyCurrentDirSelected 0 selectedFiles.length)
          selectionContext=selectionContext
          allButtonsArray=allButtonsArray
        }}
      {{/unless}}
      {{#unless previewMode}}
        {{file-browser/fb-toolbar
          dir=dir
          clipboardReady=clipboardReady
          selectionContext=selectionContext
          allButtonsArray=allButtonsArray
          selectCurrentDir=(action "selectCurrentDir")
        }}
      {{/unless}}
    </div>
  </div>
</div>
<div class="fb-table-container">
  {{file-browser/fb-table
    dir=dir
    selectedFiles=selectedFiles
    selectionContext=selectionContext
    allButtonsArray=allButtonsArray
    fileClipboardMode=fileClipboardMode
    fileClipboardFiles=fileClipboardFiles
    customFetchDirChildren=customFetchDirChildren
    previewMode=previewMode
    invokeFileAction=(action "invokeFileAction")
    changeSelectedFiles=(action "changeSelectedFiles")
    changeDir=(action "changeDir")
  }}
</div>

{{#unless previewMode}}
  {{#one-webui-popover
    class="current-dir-actions-popover"
    popoverStyle="with-dropdown"
    padding=false
    triggerSelector=(concat "#" elementId " .current-dir-actions-trigger")
    open=currentDirActionsOpen
  }}
    {{#click-outside action=(action "toggleCurrentDirActions" false)}}
      {{actions-popover-content
        actionsArray=currentDirMenuButtons
        actionClicked=(action "toggleCurrentDirActions" false)
        class="current-dir-actions"
      }}
    {{/click-outside}}
  {{/one-webui-popover}}
  <div class="current-dir-actions-trigger floating-actions-trigger"></div>
{{/unless}}

{{#if (and (not previewMode) media.isMobile)}}
  {{file-browser/fb-selection-toolkit
    mobileMode=true
    itemsCount=(if isOnlyCurrentDirSelected 0 selectedFiles.length)
    selectionContext=selectionContext
    allButtonsArray=allButtonsArray
  }}
{{/if}}
