{{#each pathItems as |item|}}
  {{#if item.separator}}
    <div class={{concat-classes
      "path-item path-separator"
      item.className
    }}>
      {{item.separator}}
    </div>
  {{/if}}
  {{#if item.icon}}
    <div class={{concat-classes
      "path-item path-icon-container"
      item.className
    }}>
      {{one-icon icon=item.icon class="path-icon"}}
    </div>
  {{/if}}
  <div class={{concat-classes
    "path-item path-label"
    item.className
  }}>
    {{item.record.name}}
  </div>
{{/each}}