<div class="path-container"
  {{!-- An UGLY hack to activate observers, this action is dummy --}}
  onload={{no-action allNames}}
>
  {{#if isLoading}}
    <span class="path-loading">{{tt this "loading"}}</span>
  {{else if isError}}
    <span class="path-error">
      <span class="text-danger">{{tt this "error"}}</span>
      {{allPathItemsProxy.reason}}, {{filesViewContextProxy.reason}}
    </span>
  {{else}}
    {{#file-path/internal-container
      tagName=internalTagName
      class=(concat-classes "path" anchorClassName)
      linkHref=href
      linkTarget=target
      onLinkClicked=onLinkClicked
      onLinkKeydown=onLinkKeydown
    }}
      {{file-path-renderer pathItems=displayedPathItems}}
      {{yield}}
      {{#if renderTooltip}}
        {{one-tooltip
          class="string-path-tooltip"
          title=tooltipText
        }}
      {{/if}}
    {{/file-path/internal-container}}
  {{/if}}
</div>
