{{#bs-modal
  class="file-distribution"
  open=true
  onShow=(action "onShow")
  onHide=(action "close")
  size="xl"
  as |modal|}}
  {{#modal.header}}
    <h1>{{tt this "header"}}</h1>
    {{modal-file-subheader files=files}}
  {{/modal.header}}
  {{#modal.body}}
    {{#promise-proxy-container proxy=oneprovidersProxy}}
      {{#if (eq oneproviders.length 1)}}
        <div class="alert alert-info">{{tt this "onlySingleOneproviderSupport"}}</div>
      {{/if}}
      {{#if (gt files.length 1)}}
        {{#bs-tab class="bs-tab-onedata bs-tab-modern" activeId=activeTab onChange=(action "changeTab") as |tab|}}
          {{tab.pane id="distribution-summary" title=(tt this "summary")}}
          {{tab.pane id="distribution-details" title=(tt this "details")}}
        {{/bs-tab}}
      {{/if}}
      {{#if (eq activeTab "distribution-summary")}}
        <p class="batch-mode-intro">
          {{#if itemsNumber}}
            {{summaryText}}
            {{#if filesSizeDetails}}
              {{one-label-tip
                title=filesSizeDetails
                icon="browser-info"
                class="details-size-info"
              }}
            {{/if}}
          {{/if}}
        </p>
        {{file-distribution/oneproviders-distribution
          visible=(eq activeTab "distribution-summary")
          batchMode=true
          fileDistributionData=fileDistributionData
          oneproviders=oneproviders
          space=space
          onReplicate=(action "replicate" files)
          onMigrate=(action "migrate" files)
          onEvict=(action "evict" files)
          getTransfersUrl=(action "getTransfersUrl")
        }}
      {{else}}

      {{/if}}
    {{/promise-proxy-container}}
  {{/modal.body}}
{{/bs-modal}}
