<div class="path-container"
  {{!-- An UGLY hack to activate observers, this action is dummy --}}
  onload={{no-action allNames}}
>
  {{#if isLoading}}
    <span class="path-loading">{{tt this "loading"}}</span>
  {{else if isError}}
    <span class="path-error">
      <span class="text-danger">{{tt this "error"}}</span>
      {{allPathItemsProxy.reason}}, {{filesViewContextProxy.reason}}
    </span>
  {{else}}
    {{#file-path/internal-container
      tagName=internalTagName
      class=(concat-classes "path" anchorClassName)
      linkHref=href
      linkTarget=target
      onLinkClicked=onLinkClicked
      onLinkKeydown=onLinkKeydown
    }}
      {{#each displayedPathItems as |item|}}
        {{#if item.separator}}
          <div class="path-item path-separator">{{item.separator}}</div>
        {{/if}}
        {{#if item.icon}}
          <div class="path-item path-icon-container">
            {{one-icon icon=item.icon class="path-icon"}}
          </div>
        {{/if}}
        <div class="path-item path-label">{{item.record.name}}</div>
      {{/each}}
      {{yield}}
      {{#if renderTooltip}}
        {{one-tooltip
          class="string-path-tooltip"
          title=tooltipText
        }}
      {{/if}}
    {{/file-path/internal-container}}
  {{/if}}
</div>
