{{#modal.header class="file-datasets-part file-datasets-modal-header"}}
  {{file-datasets/summary-header
    file=file
    mode="file"
    fileDatasetSummaryProxy=fileDatasetSummaryProxy
    editPrivilege=editPrivilege
    insufficientEditPrivilegesMessage=insufficientEditPrivilegesMessage
  }}
  <div class="file-datasets-header-lower header-with-tags">
    {{file-datasets/tab-bar
      activeTab=activeTab
      disabledTabs=disabledTabs
      archiveCount=directDatasetProxy.archiveCount
      onActiveTabChange=(action (mut activeTab))
    }}
    {{dataset-protection/effective-info
      class="header-tags-container"
      file=file
      mode="file"
      fileDatasetSummaryProxy=fileDatasetSummaryProxy
    }}
  </div>
{{/modal.header}}

{{#modal.body id=modalBodyId class="file-datasets-part file-datasets-modal-body"}}
  {{#if (eq activeTab "settings")}}
    {{#dataset-protection/table
      fileDatasetSummaryProxy=fileDatasetSummaryProxy
      directDatasetProxy=directDatasetProxy
      file=file
      mode="file"
      editPrivilege=editPrivilege
      insufficientEditPrivilegesMessage=insufficientEditPrivilegesMessage
      close=close
      getDataUrl=getDataUrl
      getDatasetsUrl=getDatasetsUrl
    }}
      {{file-datasets/direct-dataset-control
        file=file
        directDatasetProxy=directDatasetProxy
        readonly=(not editPrivilege)
        togglesReadonlyMessage=insufficientEditPrivilegesMessage
      }}
    {{/dataset-protection/table}}
  {{else if (eq activeTab "archives")}}
    {{#promise-proxy-container proxy=directDatasetProxy}}
      {{file-datasets/archives-tab
        class="in-modal-item-browser-container"
        parentModalDialogSelector=parentModalDialogSelector
        space=space
        modalBodyId=modalBodyId
        dataset=directDatasetProxy.content
      }}
    {{/promise-proxy-container}}
  {{/if}}
{{/modal.body}}
