{{#modal.header}}
  <div class="modal-header-text">
    <h1 class="datasets-modal-header">
      <span class="header-text">
        {{tt this "datasets"}}
      </span>
    </h1>
    {{modal-file-subheader files=files}}
  </div>
  <div class="modal-header-effective-info datasets-effective-protection-info">
    {{#if isEffDataProtected}}
      <div class="labels-container data-protection-enabled">
        <span class="label label-warning data-protected-tag">
          <div class="inline-icon-container">
            {{one-icon icon="provider"}}
          </div>
          <span class="protected-text">
            {{tt this "dataProtectedTag"}}
          </span>
          {{one-tooltip title=(tt this "dataProtectedTooltip")}}
        </span>
      </div>
    {{/if}}
    {{#if isEffMetadataProtected}}
      <div class="labels-container metadata-protection-enabled">
        <span class="label label-warning metadata-protected-tag">
          <div class="inline-icon-container">
            {{one-icon icon="browser-attribute"}}
          </div>
          <span class="protected-text">
            {{tt this "metadataProtectedTag"}}
          </span>
          {{one-tooltip title=(tt this "metadataProtectedTooltip")}}
        </span>
      </div>
    {{/if}}
  </div>
{{/modal.header}}

{{#modal.body}}
  {{#promise-proxy-container
    proxy=fileDatasetSummaryProxy
    tagName="div"
    class="loadable-row file-dataset-summary-loadable-row"
    sizeClass="sm"
  }}
    <table class="table table-striped datasets-table">
      <thead>
        <th class="col-dataset-info">
          {{#promise-proxy-container proxy=directDatasetProxy}}
            {{file-datasets/direct-dataset-section
              file=file
              directDataset=directDataset
              readonlyMessage=insufficientEditPrivilegesMessage
            }}
          {{/promise-proxy-container}}
        </th>
        {{#each (array "data" "metadata") as |protectionType|}}
          <th class="col-dataset-protection col-dataset-protection-{{protectionType}}">
            {{tt this (concat "tableHeaders." protectionType)}}
          </th>
        {{/each}}
      </thead>
      <tbody class="loadable-row inherited-datasets-loadable-row">
        {{#promise-proxy-container
          proxy=inheritedDatasetsProxy
          sizeClass="sm"
        }}
          {{#if inheritedDatasets.length}}
            {{#file-datasets/inherited-dataset
              class="datasets-item parent-datasets-item"
              dataset=virtualParentDataset
              readonly=true
              readonlyMessage=(tt this "summaryParentsReadonlyFlags")
              click=(action "toggleParentDatasetsCollapse")
            }}
              <span class="parents-collapse-text">
                <span>{{tt this "parentDatasets"}} ({{inheritedDatasets.length}})</span>
                <div class={{concat-classes
                  "inline-icon-container collapse-icon-container"
                   (if parentDatasetsCollapsed "closed" "opened")
                }}>
                  {{one-icon
                    class="collapse-icon"
                    icon="arrow-down"
                  }}
                </div>
              </span>
              
            {{/file-datasets/inherited-dataset}}
            {{#file-datasets/datasets-list-container
              tagName=""
              datasets=inheritedDatasets
              as |sortedDataList|
            }}
              {{#each sortedDataList as |data|}}
                {{file-datasets/inherited-dataset
                  class=(concat-classes
                    "datasets-item parent-dataset-item"
                    (if parentDatasetsCollapsed "closed" "opened")
                  )
                  dataset=data.dataset
                  filePath=data.filePath
                  readonly=false
                  readonlyMessage=insufficientEditPrivilegesMessage
                  getDataUrl=(action getDataUrl)
                }}
              {{/each}}
            {{/file-datasets/datasets-list-container}}
          {{else}}
            <tr class="datasets-item inherited-dataset no-parent-datasets-row">
              <td class="no-parent-datasets-cell col-dataset-info" colspan="3">
                <span class="no-parents-collapse-text">
                  <div class="path-section">
                    {{#one-icon
                      class="path-icon no-dataset-icon"
                      icon="browser-info"
                    }}
                      {{one-tooltip title=(tt this "noParentDatasetsTip")}}
                    {{/one-icon}}
                    <div class="dataset-label no-parent-datasets-text">
                      {{tt this "noParentDatasets"}}
                    </div>
                  </div>
                </span>
              </td>
            </tr>
          {{/if}}
        {{/promise-proxy-container}}
        {{#promise-proxy-container proxy=directDatasetProxy}}
          {{#file-datasets/inherited-dataset
            class=(concat-classes
              "datasets-item direct-dataset-item"
              (if directDataset.isAttached
                "direct-dataset-item-attached"
                "direct-dataset-item-detached"
              )
            )
            dataset=directDataset
            readonly=(not directDataset.isAttached)
            readonlyMessage=directDatasetFlagsReadonlyMessage
          }}
            <div class="path-section">
              {{one-icon
                class="path-icon direct-dataset-icon"
                icon=directDatasetRowIcon
              }}
              <div class="dataset-label direct-dataset-name">{{file.name}}</div>
            </div>            
          {{/file-datasets/inherited-dataset}}
        {{/promise-proxy-container}}
      </tbody>
    </table>
  {{/promise-proxy-container}}
{{/modal.body}}

{{#modal.footer}}
  {{#bs-button
    onClick=(action close)
    type="default"
    class="close-btn"
  }}
    {{tt this "close"}}
  {{/bs-button}}
{{/modal.footer}}