{{#one-modal
  class=(concat-classes
    "file-info-modal modal-content-overlay with-close-button"
    effModalClass
  )
  open=open
  size="xl"
  id=modalId
  backdropClose=true
  keyboard=true
  onHide=(action "close")
  as |modal|
}}
  {{#modal.header class="file-info-modal-header"}}
    <h1>{{headerText}}</h1>
    {{modal-file-subheader files=files}}
    {{one-tab-bar
      class="nav-tabs-file-info"
      items=visibleTabsItems
      selectedItem=activeTabItem
      selectDefaultOnInit=true
      selectedItemChanged=(action "changeTab")
      tabBarLiComponentName="file-info-modal/tab-bar-li"
      tabsRenderMode="always"
      dropdownRenderMode="never"
      isSorted=false
    }}
    {{#if activeTabModel.headerComponent}}
      {{component activeTabModel.headerComponent
        class="file-info-header-extension"
        viewModel=activeTabModel.viewModel
      }}
    {{/if}}
  {{/modal.header}}
  {{#modal.body class="file-info-modal-body"}}
    {{#if (eq activeTab "general")}}
      <table
        class="table table-info table-info-large table-info-collapsible table-file-info"
      >
        <tbody>
          <tr class="file-info-row-name">
            <td class="property-name with-input{{if smallContent "-sm"}}">
              {{tt this "name" type=typeTranslation}}
            </td>
            <td class="property-value">
              {{clipboard-line
                value=fileName
                size=(if smallContent "sm")
              }}
            </td>
          </tr>
          <tr class="file-info-row-path">
            <td class="property-name with-input{{if smallContent "-sm"}}">
              {{tt this "path" type=typeTranslation}}
            </td>
            <td class="property-value">
              {{#promise-proxy-container
                proxy=filePathProxy
                sizeClass="xs"
                centered=false
                spinnerBlockClass="loading-file-path"
              }}
                {{clipboard-line
                  value=filePathProxy.content
                  size=(if smallContent "sm")
                }}
              {{/promise-proxy-container}}
            </td>
          </tr>
          {{#if (and (eq itemType "file") (not previewMode))}}
            <tr class="file-info-row-storage-location">
              <td class="property-name with-input{{if smallContent "-sm"}}">
                {{tt this "storageLocations"}}
                {{one-label-tip title=(tt this "storageLocationsTooltip")}}
              </td>
              <td class="property-value">
                {{#promise-proxy-container
                  proxy=storageLocationRequiredDataProxy
                  sizeClass="xs"
                  centered=false
                  spinnerBlockClass="loading-file-path"
                }}
                  <table class="storage-locations-table">
                    {{file-browser/storage-location-per-provider-table
                      spaceId=spaceId
                      locations=(get
                        storageLocationsPerProviderProxy
                        firstProviderDisplayedId
                      )
                      currentProviderId=currentProviderId
                    }}
                    {{#if (and
                      (gt storageLocationsPerProviderLength 1)
                      areStorageLocationsExpanded
                    )}}
                      {{#each storageLocationsPerProviderOrder as |locations|}}
                        {{#if (not-eq
                          locations.firstObject.provider.entityId
                          firstProviderDisplayedId
                        )}}
                          <tbody class="space-between-providers"><tr><td></td></tr></tbody>
                          {{file-browser/storage-location-per-provider-table
                            spaceId=spaceId
                            locations=locations
                            currentProviderId=currentProviderId
                          }}
                        {{/if}}
                      {{/each}}
                    {{/if}}
                  </table>
                  {{#if (and
                    (gt storageLocationsPerProviderLength 1)
                    (not areStorageLocationsExpanded)
                  )}}
                    <div class="storage-locations-expand">
                      <a
                        class="toggle-expand clickable"
                        onClick={{action "toggleStorageLocations"}}
                      >
                        {{tt this "showMore"}}
                      </a>
                    </div>
                  {{/if}}
                {{/promise-proxy-container}}
              </td>
            </tr>
          {{/if}}
          {{#if (eq itemType "symlink")}}
            <tr class="file-info-row-target-path">
              <td class="property-name with-input{{if smallContent "-sm"}}">{{tt this "symlinkTargetPath"}}</td>
              <td class="property-value">
                {{clipboard-line
                  value=symlinkTargetPath
                  size=(if smallContent "sm")
                }}
              </td>
            </tr>
          {{/if}}
          {{#if availableFileLinkModels.length}}
            <tr class="file-info-row-gui-url">
              <td class="property-name with-input-sm">
                {{tt this "fileLink" type=typeTranslation}}
              </td>
              <td class="property-value">
                {{#each availableFileLinkModels as |fileLinkModel|}}
                  <div class="clipboard-line sm file-link-clipboard-line">
                    <div class="input-group input-group-sm">
                      <div
                        class="input-group-addon input-group-addon-text file-link-group-addon truncate input-group-addon-left"
                      >
                        <div class="file-link-group-addon-inner">
                          <span>{{fileLinkModel.label}}</span>
                          {{one-label-tip title=fileLinkModel.tip}}
                        </div>
                      </div>
                      <input
                        type="text"
                        class={{concat-classes
                          "file-link-clipboard-line-input clipboard-input form-control input-sm"
                          (concat fileLinkModel.type "-file-link-clipboard-line-input")
                        }}
                        value={{fileLinkModel.url}}
                        readonly
                      >
                    </div>
                    {{#one-copy-button
                      class="clipboard-btn clipboard-btn-input"
                      clipboardTarget=(local-selector
                        modalId
                        (concat "." fileLinkModel.type "-file-link-clipboard-line-input")
                      )
                    }}
                      <div class="copy-btn-background"></div>
                      {{one-icon class="copy-btn-icon" icon="browser-copy"}}
                    {{/one-copy-button}}
                  </div>
                {{/each}}
              </td>
            </tr>
          {{/if}}
          <tr id={{cdmiRowId}} class="file-info-row-cdmi-object-id">
            <td class="property-name with-input">
              {{tt this "cdmiObjectId"}}
            </td>
            <td class="property-value">
              <div class="input-group-clipboard-textarea">
                {{clipboard-line
                  value=cdmiObjectId
                  type="textarea"
                  textareaRows="3"
                  size=(if smallContent "sm")
                  class="monospace-font compact"
                }}
              </div>
            </td>
          </tr>
          {{#if space.entityId}}
            <tr class="file-info-row-space-id">
              <td class="property-name with-input{{if smallContent "-sm"}}">{{tt this "spaceId"}}</td>
              <td class="property-value">
                {{clipboard-line
                  value=space.entityId
                  class="monospace-font"
                  size=(if smallContent "sm")
                }}
              </td>
            </tr>
          {{/if}}
          {{#if (eq itemType "file")}}
            <tr class="file-info-row-size">
              <td class="property-name">{{tt this "size"}}</td>
              <td class="property-value">
                {{#truncated-string}}
                  <span class="file-info-size">{{bytes-to-string fileSize}}</span>
                  {{#if (gte fileSize 1024)}}
                    <span class="file-info-detail-size">({{fileSize}} B)</span>
                  {{/if}}
                {{/truncated-string}}
              </td>
            </tr>
          {{/if}}
          <tr class="file-info-row-modification-time">
            <td class="property-name">
              <div>
                {{tt this "mtime"}}
                {{one-label-tip title=(tt this "tip.modification")}}
              </div>
              <div class="property-subname">
                ({{tt this "mtimeSubname"}})
              </div>
            </td>
            <td class="property-value">
              {{#truncated-string}}
                {{date-format mtime format="dateWithSeconds" blank="—"}}
              {{/truncated-string}}
            </td>
          </tr>
          <tr class="file-info-row-atime-time">
            <td class="property-name">
              {{tt this "atime"}}
              {{one-label-tip title=(tt this "tip.atime")}}
            </td>
            <td class="property-value">
              {{#truncated-string}}
                {{date-format atime format="dateWithSeconds" blank="—"}}
              {{/truncated-string}}
            </td>
          </tr>
          <tr class="file-info-row-ctime-time">
            <td class="property-name">
              <div>
                {{tt this "ctime"}}
                {{one-label-tip title=(tt this "tip.ctime")}}
              </div>
              <div class="property-subname">
                ({{tt this "ctimeSubname"}})
              </div>
            </td>
            <td class="property-value">
              {{#truncated-string}}
                {{date-format ctime format="dateWithSeconds" blank="—"}}
              {{/truncated-string}}
            </td>
          </tr>
          {{#if isOwnerVisible}}
            <tr class="file-info-row-owner">
              <td class="property-name">{{tt this "owner"}}</td>
              <td class="property-value">
                {{#loading-container
                  isLoading=ownerProxy.isPending
                  centered=false
                  sizeClass="xs"
                  spinnerBlockClass="loading-owner-full-name"
                }}
                  {{record-info-with-icon
                    record=owner
                    errorReason=errorReasonForOwnerProxy
                  }}
                {{/loading-container}}
              </td>
            </tr>
          {{/if}}
        </tbody>
      </table>
    {{else if (eq activeTab "hardlinks")}}
      {{#promise-proxy-container tagName="div" class="loadable-row" proxy=fileHardlinksProxy}}
        {{#if (and hardlinksLimitExceeded fileHardlinks.hardlinks.length)}}
          <p class="shows-first-n-hardlinks text-center">
            <em>{{tt this "tabs.hardlinks.showingOnlyNFirst" limit=hardlinksLimit}}</em>
          </p>
        {{/if}}
        <ul class="file-hardlinks-list">
          {{#each fileHardlinks.hardlinks as |fileHardlink|}}
            {{file-info-modal/hardlink-entry
              class="file-hardlink"
              file=fileHardlink.file
              fileUrl=fileHardlink.fileUrl
              path=fileHardlink.path
              closeModal=modal.close
            }}
          {{else}}
            <li class="file-hardlink extra-hardlink-description">
              <em>{{tt this "tabs.hardlinks.noAccessToAll"
                fileType=(tt this (concat "fileType." itemType))
              }}</em>
              {{#if hardlinksFetchError}}
                {{one-label-tip title=hardlinksFetchError}}
              {{/if}}
            </li>
          {{/each}}
          {{#if (and
            (gt fileHardlinks.hardlinks.length 0)
            (lt fileHardlinks.hardlinks.length fileHardlinks.hardlinkCount)
          )}}
            <li class="file-hardlink extra-hardlink-description">
              <em>{{tt this "tabs.hardlinks.andNMoreYouHaveNoAccess"
                count=(sub fileHardlinks.hardlinkCount fileHardlinks.hardlinks.length)
              }}</em>
              {{#if hardlinksFetchError}}
                {{one-label-tip title=hardlinksFetchError}}
              {{/if}}
            </li>
          {{/if}}
        </ul>
      {{/promise-proxy-container}}
    {{else if (eq activeTab "apiSamples")}}
      {{#promise-proxy-container
        proxy=apiSamplesProxy
        sizeClass="sm"
        centered=false
        spinnerBlockClass="loading-api-command absolute-middle-centered"
      }}
        {{api-samples
          apiSamples=apiSamples
          apiSubject=(if previewMode "filePublic" "filePrivate")
        }}
      {{/promise-proxy-container}}
    {{else}}
      {{component activeTabModel.bodyComponent viewModel=activeTabModel.viewModel}}
    {{/if}}
  {{/modal.body}}
  {{#if isFooterShown}}
    {{#modal.footer class="file-info-modal-footer"}}
      {{component activeTabModel.footerComponent viewModel=activeTabModel.viewModel}}
    {{/modal.footer}}
  {{/if}}
{{/one-modal}}
