{{#if lastResolvedDir}}
  {{!-- TODO: VFS-9454 Introduce @ember/render-modifiers and replace code below --}}
  {{evaluate-function (action "onInsertHeaderElements")}}
  <div class="file-browser-head-container">
    <div class="fb-upload-trigger"></div>
    <div class="fb-head-inner">
      <div class="fb-breadcrumbs-container">
        <FileBrowser::FbBreadcrumbs
          @dir={{lastResolvedDir}}
          @rootDir={{customRootDir}}
          @menuButtons={{currentDirMenuButtons}}
          @parentsCache={{parentsCache}}
          @getItemByIdFun={{getItemByIdFun}}
          @resolveFileParentFun={{resolveFileParentFun}}
          @rootIcon={{rootIcon}}
          @space={{space}}
          @changeDir={{action "changeDir"}}
          @selectCurrentDir={{action "selectCurrentDir"}}
        />
      </div>
      <div class="text-right fb-toolbar-container hidden-xs">
        {{#if renderSelectionToolkitDesktop}}
          <FileBrowser::FbSelectionToolkit
            @items={{selectionToolkitItems}}
            @selectionContext={{browserModel.selectionContext}}
            @allButtonsArray={{allButtonsArray}}
          />
        {{/if}}
        <FileBrowser::FbToolbar
          @browserModel={{browserModel}}
          @dir={{lastResolvedDir}}
          @buttons={{toolbarButtons}}
          @fileClipboardMode={{fileClipboardMode}}
          @fileClipboardFiles={{fileClipboardFiles}}
          @selectionContext={{browserModel.selectionContext}}
          @allButtonsArray={{allButtonsArray}}
          @selectCurrentDir={{action "selectCurrentDir"}}
        />
      </div>
    </div>
  </div>
{{/if}}
<div class="fb-table-container">
  <FileBrowser::FbTable
    @browserModel={{browserModel}}
    @contentScroll={{contentScroll}}
    @allButtonsArray={{allButtonsArray}}
    @noItemsActions={{noItemsActions}}
    @fileClipboardMode={{fileClipboardMode}}
    @fileClipboardFiles={{fileClipboardFiles}}
    @dirStatsServiceState={{dirStatsServiceState}}
    @loadingIconFileIds={{loadingIconFileIds}}
    @isItemDisabledFunction={{isItemDisabledFunction}}
    @invokeFileAction={{action "invokeFileAction"}}
    @openFile={{action "openFile"}}
    @changeDir={{action "changeDir"}}
    @containerScrollTop={{action "containerScrollTop"}}
    @registerApi={{action (mut fbTableApi)}}
  />
</div>

<OneWebuiPopover
  class="current-dir-actions-popover"
  @popoverStyle="with-dropdown"
  @padding={{false}}
  @triggerSelector={{concat "#" elementId " .current-dir-actions-trigger"}}
  @open={{and currentDirActionsOpen showCurrentDirActions}}
  as |popover|
>
  <ClickOutside @onClickOutside={{action "toggleCurrentDirActions" false}}>
    <PopoverContentLimit @opened={{popover.visible}}>
      <ActionsPopoverContent
        @actionsArray={{blankAreaContextMenuButtons}}
        @actionClicked={{action "toggleCurrentDirActions" false}}
        class="current-dir-actions ps--focus"
      />
    </PopoverContentLimit>
  </ClickOutside>
</OneWebuiPopover>
<div class="current-dir-actions-trigger floating-actions-trigger"></div>

{{#if renderSelectionToolkitMobile}}
  <FileBrowser::FbSelectionToolkit
    @mobileMode={{true}}
    @items={{selectionToolkitItems}}
    @selectionContext={{browserModel.selectionContext}}
    @allButtonsArray={{allButtonsArray}}
  />
{{/if}}
