{{#if dir}}
  <div class="file-browser-head-container">
    <div class="fb-upload-trigger"></div>
    <div class="fb-head-inner">
      <div class="fb-breadcrumbs-container">
        {{file-browser/fb-breadcrumbs
          dir=dir
          rootDir=customRootDir
          menuButtons=currentDirMenuButtons
          parentsCache=parentsCache
          getItemByIdFun=getItemByIdFun
          resolveFileParentFun=resolveFileParentFun
          previewMode=previewMode
          isInModal=isInModal
          rootIcon=rootIcon
          space=space
          changeDir=(action "changeDir")
          selectCurrentDir=(action "selectCurrentDir")
        }}
      </div>
      <div class="text-right fb-toolbar-container hidden-xs">
        {{#if renderSelectionToolkitDesktop}}
          {{file-browser/fb-selection-toolkit
            items=selectionToolkitItems
            selectionContext=selectionContext
            allButtonsArray=allButtonsArray
            isInModal=isInModal
          }}
        {{/if}}
        {{file-browser/fb-toolbar
          dir=dir
          buttons=toolbarButtons
          previewMode=previewMode
          isInModal=isInModal
          fileClipboardMode=fileClipboardMode
          fileClipboardFiles=fileClipboardFiles
          selectionContext=selectionContext
          allButtonsArray=allButtonsArray
          selectCurrentDir=(action "selectCurrentDir")
        }}
      </div>
    </div>
  </div>
{{/if}}
<div class="fb-table-container">
  {{file-browser/fb-table
    browserModel=browserModel
    dirProxy=dirProxy
    isInModal=isInModal
    contentScroll=contentScroll
    selectedItems=selectedItems
    selectedItemsForJump=selectedItemsForJump
    selectionContext=selectionContext
    allButtonsArray=allButtonsArray
    noItemsActions=noItemsActions
    fileClipboardMode=fileClipboardMode
    fileClipboardFiles=fileClipboardFiles
    customFetchDirChildren=customFetchDirChildren
    previewMode=previewMode
    dirStatsServiceState=dirStatsServiceState
    isSpaceOwned=isSpaceOwned
    spacePrivileges=spacePrivileges
    loadingIconFileIds=loadingIconFileIds
    isItemDisabledFunction=isItemDisabledFunction
    invokeFileAction=(action "invokeFileAction")
    changeSelectedItems=(action "changeSelectedItems")
    openFile=(action "openFile")
    changeDir=(action "changeDir")
    containerScrollTop=(action "containerScrollTop")
    registerApi=(action (mut fbTableApi))
  }}
</div>

{{#one-webui-popover
  class="current-dir-actions-popover"
  popoverStyle=(concat-classes
    "with-dropdown"
    (if isInModal "over-modals")
  )
  padding=false
  triggerSelector=(concat "#" elementId " .current-dir-actions-trigger")
  open=(and currentDirActionsOpen showCurrentDirActions)
  as |popover|
}}
  {{#click-outside onClickOutside=(action "toggleCurrentDirActions" false)}}
    {{#popover-content-limit opened=popover.visible}}
      {{actions-popover-content
        actionsArray=blankAreaContextMenuButtons
        actionClicked=(action "toggleCurrentDirActions" false)
        class="current-dir-actions ps--focus"
      }}
    {{/popover-content-limit}}
  {{/click-outside}}
{{/one-webui-popover}}
<div class="current-dir-actions-trigger floating-actions-trigger"></div>

{{#if renderSelectionToolkitMobile}}
  {{file-browser/fb-selection-toolkit
    mobileMode=true
    items=selectionToolkitItems
    selectionContext=selectionContext
    allButtonsArray=allButtonsArray
    isInModal=isInModal
  }}
{{/if}}
