{{#modal.header class="file-recall-part file-recall-modal-header"}}
  <h1>{{tt this "header"}}</h1>
  {{modal-file-subheader files=(array file)}}
{{/modal.header}}
{{#modal.body class="file-recall-part file-recall-modal-body"}}
  {{#promise-proxy-container proxy=initialRequiredDataProxy}}
    {{#unless archiveRecallState}}
      <div class="alert alert-warning">
        <p>
          {{tt this "stateNotAvailableAlert.intro"}}
        </p>
        {{#if recallingProvider}}
          <p>
            {{tt this "stateNotAvailableAlert.providerInfoHead"}}
            <a
              class="navy underlined"
              href={{recallingProviderHref}}
              target={{navigateTarget}}
            >{{recallingProviderName}}</a>
            {{tt this "stateNotAvailableAlert.providerInfoTail"}}
          </p>
        {{/if}}
      </div>
    {{/unless}}

    {{#bs-tab
      fade=false
      class="bs-tab-onedata bs-tab-modern fill-flex-using-column main-recall-tab-bar"
      customTabs=true
      activeId=activeTab
      onChange=(action "changeTab")
      as |tab|
    }}
      {{#bs-nav type="tabs" as |nav|}}
        {{#nav.item class="nav-tab" active=(eq activeTab "status")}}
          <a
            class="nav-link status-nav-link"
            role="tab"
            {{action (mut activeTab) "status"}}
          >
            {{tt this "tabs.status"}}
          </a>
        {{/nav.item}}
        {{#nav.item
          active=(eq activeTab "logs")
          class=(concat-classes "nav-tab" (unless showLogsTab "disabled"))
        }}
          <a
            role="tab"
            class="nav-link logs-nav-link"
            onclick={{if showLogsTab (action (mut activeTab) "logs")}}
          >
            {{tt this "tabs.logs"}}
          </a>
        {{/nav.item}}
      {{/bs-nav}}
      <div class="tab-content fill-flex-using-column">
        {{#tab.pane id="status"}}
          {{#if (eq activeTab "status")}}
            {{file-recall/info-table
              file=file
              recallRootFile=recallRootFile
              processStatus=processStatus
              recallingPercent=recallingPercent
              archive=archive
              archiveUrl=archiveUrl
              dataset=dataset
              datasetUrl=datasetUrl
              archiveRecallInfo=archiveRecallInfo
              archiveRecallState=archiveRecallState
              relativePath=relativePath
              lastError=lastError
              recallingProviderInfo=recallingProviderInfo
              onClose=onClose
              onOpenErrorLog=(action (mut activeTab) "logs")
            }}
          {{/if}}
        {{/tab.pane}}
        {{#tab.pane
          id="logs"
          title=(tt this "tabs.logs")
          class="file-flex-using-column"
        }}
          {{#if (eq activeTab "logs")}}
            {{file-recall/event-log
              class="fill-flex-using-column"
              recallRootFile=recallRootFile
              archive=archive
              dataset=dataset
            }}
          {{/if}}
        {{/tab.pane}}
      </div>
    {{/bs-tab}}
    {{yield}}
  {{/promise-proxy-container}}
{{/modal.body}}
{{#if showFooter}}
  {{#modal.footer class="file-recall-part file-recall-modal-footer"}}
    {{#one-button
      class="cancel-recall-btn"
      size="sm"
      type="danger"
      disabled=isCancelling
      onClick=(action "cancelRecallClicked")
    }}
      {{tt this (if isCancelling "cancellingRecallBtn" "cancelRecall")}}
    {{/one-button}}
    {{#render-later triggerRender=cancelRecallOpened}}
      {{file-recall/cancel-recall-modal
        opened=cancelRecallOpened
        file=file
        onCancelInvoked=(action "cancelInvoked")
        onClose=(action "closeCancelRecallModal")
      }}
    {{/render-later}}
  {{/modal.footer}}
{{/if}}
