{{#modal.header}}
  <div class="modal-header-text">
    <h1 class="datasets-modal-header">
      <span class="header-text">
        {{tt this "datasets"}}
      </span>
    </h1>
    {{modal-file-subheader files=files}}
  </div>
  <div class="modal-header-effective-info datasets-effective-protection-info">
    {{#if isEffDataProtected}}
      <div class="labels-container data-protection-enabled">
        <span class="label label-warning data-protected-tag">
          <div class="inline-icon-container">
            {{one-icon icon="provider"}}
          </div>
          <span class="protected-text">
            {{tt this "dataProtectedTag"}}
          </span>
          {{one-tooltip title=(tt this "dataProtectedTooltip")}}
        </span>
      </div>
    {{/if}}
    {{#if isEffMetadataProtected}}
      <div class="labels-container metadata-protection-enabled">
        <span class="label label-warning metadata-protected-tag">
          <div class="inline-icon-container">
            {{one-icon icon="browser-attribute"}}
          </div>
          <span class="protected-text">
            {{tt this "metadataProtectedTag"}}
          </span>
          {{one-tooltip title=(tt this "metadataProtectedTooltip")}}
        </span>
      </div>
    {{/if}}
  </div>
{{/modal.header}}

{{#modal.body}}
  <table class="table table-striped datasets-table">
    <thead>
      <th class="col-dataset-info">
        {{#promise-proxy-container
          proxy=fileDatasetSummaryProxy
          tagName="div"
          class="loadable-row file-dataset-summary-loadable-row"
          sizeClass="sm"
        }}
          {{file-datasets/direct-dataset-section
            file=file
            fileDatasetSummary=fileDatasetSummary
            readonlyMessage=insufficientEditPrivilegesMessage
          }}
        {{/promise-proxy-container}}
      </th>
      {{#each (array "data" "metadata") as |protectionType|}}
        <th class="col-dataset-protection col-dataset-protection-{{protectionType}}">
          {{tt this (concat "tableHeaders." protectionType)}}
        </th>
      {{/each}}
    </thead>
    <tbody class="loadable-row inherited-datasets-loadable-row">
      {{#promise-proxy-container
        tagName=""
        proxy=inheritedDatasetsProxy
        sizeClass="sm"
      }}
        {{#if inheritedDatasets.length}}
          {{#file-datasets/inherited-dataset
            class="datasets-item"
            dataset=virtualParentDataset
            readonly=true
            readonlyMessage="You can only edit protection flags of specific parent datasets"
          }}
            <a class="black" {{action "toggleParentDatasetsCollapse"}}>
              <span>Parent datasets ({{inheritedDatasets.length}})</span>
              <div class="inline-icon-container">
                {{!-- FIXME: arrow animation --}}
                {{one-icon icon=(if parentDatasetsCollapsed "arrow-down" "arrow-up")}}
              </div>
            </a>
            
          {{/file-datasets/inherited-dataset}}
          {{#if renderParentDatasets}}
            {{#file-datasets/datasets-list-container
              tagName=""
              datasets=inheritedDatasets
              as |sortedDataList|
            }}
              {{#each sortedDataList as |data|}}
                {{file-datasets/inherited-dataset
                  class="datasets-item"
                  dataset=data.dataset
                  filePath=data.filePath
                  readonly=false
                  readonlyMessage=insufficientEditPrivilegesMessage
                  getDataUrl=(action getDataUrl)
                }}
              {{/each}}
            {{/file-datasets/datasets-list-container}}
          {{/if}}
          {{#file-datasets/inherited-dataset
            class="datasets-item"
            dataset=fileDatasetSummary.directDataset
            readonly=false
            readonlyMessage=insufficientEditPrivilegesMessage
          }}
            <span class="direct-dataset-name">{{file.name}}</span>
          {{/file-datasets/inherited-dataset}}
        {{else}}
          <div>
            No parent datasets
          </div>
        {{/if}}
      {{/promise-proxy-container}}
    </tbody>
  </table>
{{/modal.body}}

{{#modal.footer}}
  {{#bs-button
    onClick=(action close)
    type="default"
    class="close-btn"
  }}
    {{tt this "close"}}
  {{/bs-button}}
{{/modal.footer}}