{{#modal.header class="file-datasets-part file-datasets-modal-header"}}
  {{file-datasets/summary-header
    file=file
    protectionIcons=protectionIcons
  }}
{{/modal.header}}

{{#modal.body class="file-datasets-part file-datasets-modal-body"}}
  {{#promise-proxy-container
    proxy=fileDatasetSummaryProxy
    tagName="div"
    class="loadable-row file-dataset-summary-loadable-row"
    customErrorMessage=(tt this "cannotLoadFileDatasetSummary")
  }}
    <table class="table table-striped datasets-table">
      <thead class="datasets-table-head">
        <th class="col-dataset-info">
          {{file-datasets/direct-dataset-control
            file=file
            directDatasetProxy=directDatasetProxy
            readonly=(not editPrivilege)
            readonlyMessage=insufficientEditPrivilegesMessage
          }}
        </th>
        {{#each (array "data" "metadata") as |protectionType|}}
          <th class="col-dataset-protection col-dataset-protection-{{protectionType}}">
            <span class="protection-header-label">
              {{tt this (concat "tableHeaders." protectionType)}}
            </span>
            {{#one-icon
              icon="sign-question-rounded"
              class="hint-trigger protection-label-hint-trigger clickable"
            }}
              {{one-tooltip
                title=(tt this (concat "protectionHeaderHint." protectionType))
              }}
            {{/one-icon}}
          </th>
        {{/each}}
      </thead>
      {{file-datasets/ancestor-datasets
        ancestorDatasetsProxy=ancestorDatasetsProxy
        protectionIcons=protectionIcons
        readonly=(not editPrivilege)
        insufficientEditPrivilegesMessage=insufficientEditPrivilegesMessage
        getDataUrl=(action getDataUrl)
      }}
      {{file-datasets/direct-dataset
        file=file
        directDatasetProxy=directDatasetProxy
        readonly=(not editPrivilege)
        protectionIcons=protectionIcons
        insufficientEditPrivilegesMessage=insufficientEditPrivilegesMessage
      }}
    </table>
  {{/promise-proxy-container}}
{{/modal.body}}

{{#modal.footer class="file-datasets-part file-datasets-modal-footer"}}
  {{#bs-button
    onClick=(action close)
    type="default"
    class="close-btn"
  }}
    {{tt this "close"}}
  {{/bs-button}}
{{/modal.footer}}