{{#if multi}}
  {{#if multiTextPrefix}}
    {{multiTextPrefix}}
  {{/if}}
  {{tt this "selectedItems" count=filesCount}}
{{else}}
  {{#truncated-string}}
    {{#if icon}}
      <div class={{concat "inline-icon-container file-item-icon-container file-item-icon-container-" type}}>
        {{one-icon icon=icon class=(concat "file-item-icon file-item-icon-" type)}}
      </div>
    {{/if}}
    {{file-name-conflict file=firstFile}}
  {{/truncated-string}}
{{/if}}
