{{#truncated-string}}
  {{#if icon}}
    <div class={{concat-classes
      "inline-icon-container"
      "file-item-icon-container"
      (concat "file-item-icon-container-" type)
    }}>
      {{one-icon icon=icon class=(concat "file-item-icon file-item-icon-" type)}}
    </div>
  {{/if}}
  {{#if multi}}
    <span class="multi-text">
      {{#if multiTextPrefix}}
        {{multiTextPrefix}}
      {{/if}}
      {{tt this "selectedItems" count=filesCount}}:
    </span>
    <span class="item-names">
      {{selectedNamesText}}
    </span>
  {{else}}
    {{file-name-conflict class="file-name" file=firstFile}}
  {{/if}}
  {{yield}}
{{/truncated-string}}