{{#bs-modal
  class="qos-modal"
  open=open
  size="lg"
  backdropClose=false
  keyboard=false
  onShow=(action "onShow")
  onHide=(action "onHide")
  as |modal|
}}
  {{#modal.header}}
    <h1>
      <span>{{tt this "header"}}</span>
      {{#if qosRecords.length}}
        {{#one-icon
          icon=fileQosStatusIcon
          class=(concat "file-qos-status file-qos-status-" fileQosStatus)
        }}
          {{one-tooltip title=(tt this (concat "fileQosStatusHint." fileQosStatus))}}
        {{/one-icon}}
      {{/if}}
    </h1>
    <h2 class="filename">
      {{#truncated-string}}
        {{file.name}}
      {{/truncated-string}}
    </h2>
  {{/modal.header}}
  {{#modal.body}}
    <div class="loadable-row">
      {{#promise-proxy-container proxy=qosItemsProxy}}
        {{#one-collapsible-list class="qos-list" as |list|}}
          {{#each sortedQosItems key="entityId" as |qosItem|}}
            {{qos-modal/qos-entry
              collapsibleList=list
              qosItem=qosItem
              removeQos=(action "removeQos")
              getDataUrl=(action "getDataUrl")
              closeModal=(action "onHide")
            }}
          {{/each}}
          {{qos-modal/qos-add
            collapsibleList=list
            isActive=addNewEntryActive
            addEntry=(action "addEntry")
          }}
        {{/one-collapsible-list}}
      {{/promise-proxy-container}}
    </div>
  {{/modal.body}}
  
  {{#modal.footer}}
    {{#bs-button
      onClick=(action "onHide")
      type="default"
    }}
      {{tt this "close"}}
    {{/bs-button}}
  {{/modal.footer}}
{{/bs-modal}}
