{{#one-modal
  class="qos-modal modal-content-overlay"
  open=open
  size="xl"
  backdropClose=false
  keyboard=false
  onHide=(action "onHide")
  as |modal|
}}
  {{#modal.header}}
    <h1 class="qos-modal-header">
      <div class="qos-modal-header-text">
        {{#truncated-string tagName="span" class="header-text"}}
          {{tt this (if (media "isMobile") "headerAddMobile" "headerAdd")}}
        {{/truncated-string}}
        {{one-icon
          icon="sign-question-rounded"
          class="qos-header-hint-trigger qos-add-hint-trigger hint-trigger clickable"
        }}
        {{#one-switchable-popover-modal
          class="qos-add-hint qos-hint"
          triggersConfiguration=".qos-add-hint-trigger"
          popoverStyle="qos-add-hint-info over-modals"
          modalClass="modal-compact-help"
          layoutType="modal"
          as |ospm|
        }}
          {{#ospm.modal.header}}
            <h1>{{tt this "addHintTitle"}}</h1>
          {{/ospm.modal.header}}
          {{#ospm.modal.body}}
            <p>{{tt this "addHint"}}</p>
          {{/ospm.modal.body}}
          {{#ospm.modal.footer}}
            <div class="btn-toolbar text-right visible-xs-block">
              {{#bs-button class="btn btn-sm" type="info" onClick=ospm.close}}
                {{tt this "hintClose"}}
              {{/bs-button}}
            </div>
          {{/ospm.modal.footer}}
        {{/one-switchable-popover-modal}}
      </div>
    </h1>
    {{modal-file-subheader files=files multiTextPrefix=(tt this "for")}}
  {{/modal.header}}

  {{#modal.body}}
    {{file-qos/qos-add
      spaceId=spaceId
      valuesBuilder=valuesBuilder
      queryPropertiesProxy=queryPropertiesProxy
      storages=storages
      providers=providers
      evaluateQosExpression=(action "evaluateQosExpression")
      refreshQueryProperties=(action "refreshQueryProperties")
      update=(action "changeNewEntry")
    }}
  {{/modal.body}}

  {{#modal.footer}}
    {{#bs-button
      onClick=(action "onHide")
      type="default"
    }}
      {{tt this "cancel"}}
    {{/bs-button}}
    <div class="btn-tooltip-container">
      {{#one-button
        type="primary"
        buttonType="submit"
        disabled=saveDisabled
        onClick=(action "save")
      }}
        {{tt this "save"}}
      {{/one-button}}
      {{#if (and (not saveDisabled) multipleFiles)}}
        {{one-tooltip title=(tt this "addMultiHint" count=files.length)}}
      {{/if}}
    </div>
  {{/modal.footer}}
{{/one-modal}}
