{{#bs-modal
  class="qos-modal"
  open=open
  size="lg"
  backdropClose=false
  keyboard=false
  onShow=(action "onShow")
  onHide=(action "onHide")
  as |modal|
}}
  {{#modal.header}}
    <h1>
      <span>
        {{tt this
          (concat (if isAddMode "headerAdd" "headerShow") (if media.isMobile "Mobile" ""))
        }}
      </span>
      {{#if isAddMode}}
        <div class="inline-icon-container">
          {{one-icon
            icon="sign-question-rounded"
            class="qos-header-hint-trigger qos-add-hint-trigger clickable"
          }}
        </div>
        {{#one-switchable-popover-modal
          class="qos-add-hint qos-hint"
          triggersConfiguration=".qos-add-hint-trigger"
          popoverStyle="qos-add-hint-info over-modals"
          as |ospm|
        }}
          <h1>{{tt this "addHintTitle"}}</h1>
          <p>{{tt this "addHint" fileType=(tt this (concat "fileType." file.type))}}</p>
          <div class="btn-toolbar text-right visible-xs-block">
            {{#bs-button class="btn btn-sm" type="info" onClick=ospm.close}}
              {{tt this "hintClose"}}
            {{/bs-button}}
          </div>
        {{/one-switchable-popover-modal}}
      {{else}}
        <div class="inline-icon-container">
          {{one-icon
            icon="sign-question-rounded"
            class="qos-header-hint-trigger qos-show-hint-trigger clickable"
          }}
        </div>
        {{#one-switchable-popover-modal
          class="qos-show-hint qos-hint"
          triggersConfiguration=".qos-show-hint-trigger"
          popoverStyle="qos-show-hint-info over-modals"
          as |ospm|
        }}
          <h1>{{tt this "showHintTitle"}}</h1>
          <p>{{tt this "showHintIntro"}}</p>
          <p>{{tt this "showHintTransfers"}}</p>
          <p>{{tt this "showHintRemoving"}}</p>
          <div class="btn-toolbar text-right visible-xs-block">
            {{#bs-button class="btn btn-sm" type="info" onClick=ospm.close}}
              {{tt this "hintClose"}}
            {{/bs-button}}
          </div>
        {{/one-switchable-popover-modal}}
        {{#if qosRecords.length}}
          {{#one-icon
            icon=fileQosStatusIcon
            class=(concat "header-icon file-qos-status file-qos-status-" fileQosStatus)
          }}
            {{one-tooltip title=(tt
              this
              (concat "fileQosStatusHint." fileQosStatus)
              fileType=(tt this (concat "fileType." file.type))
            )}}
          {{/one-icon}}
        {{/if}}
      {{/if}}
    </h1>
    <h2 class="filename normal-case">
      {{#if multipleFiles}}
        {{files.length}} {{tt this "selectedItems"}}
      {{else}}
        {{#truncated-string}}
          {{file.name}}
        {{/truncated-string}}
      {{/if}}
    </h2>
  {{/modal.header}}
  {{#modal.body}}
    {{#if isAddMode}}
      {{qos-modal/qos-add
        update=(action "changeNewEntry")
      }}
    {{else}}
      <div class="loadable-row">
        {{#promise-proxy-container proxy=qosItemsProxy}}
          <div class="one-collapsible-list qos-list hide-final-border">
            {{#each sortedQosItems key="entityId" as |qosItem|}}
              {{qos-modal/qos-entry
                collapsibleList=list
                qosItem=qosItem
                removeQos=(action "removeQos")
                getDataUrl=(action "getDataUrl")
                closeModal=(action "onHide")
              }}
            {{/each}}
          </div>
        {{/promise-proxy-container}}
      </div>
    {{/if}}
  {{/modal.body}}
  
  {{#modal.footer}}
    {{#bs-button
      onClick=(if
        (and isAddMode qosItems.length)
        (action (mut mode "show"))
        (action "onHide")
      )
      type="default"
    }}
      {{tt this (if isAddMode "cancel" "close")}}
    {{/bs-button}}
    
    {{#if isAddMode}}
      {{#one-spin-button
        class="btn btn-primary"
        disabled=(not newEntryIsValid)
        action=(action "save")
      }}
        {{tt this "save"}}
      {{/one-spin-button}}
    {{else}}
      {{#bs-button
        onClick=(action (mut mode) "add")
        type="primary"
      }}
        {{tt this "add"}}
      {{/bs-button}}
    {{/if}}
  {{/modal.footer}}
{{/bs-modal}}
