{{#bs-modal
  class="qos-modal"
  open=open
  size="lg"
  backdropClose=false
  keyboard=false
  onHide=(action "onHide")
  as |modal|
}}
  {{#modal.header}}
    <h1>
      <span>
        {{tt this
          (concat (if isAddMode "headerAdd" "headerShow") (if media.isMobile "Mobile" ""))
        }}
      </span>
      {{#if isAddMode}}
        <div class="inline-icon-container">
          {{one-icon
            icon="sign-question-rounded"
            class="qos-header-hint-trigger qos-add-hint-trigger clickable"
          }}
        </div>
        {{#one-switchable-popover-modal
          class="qos-add-hint qos-hint"
          triggersConfiguration=".qos-add-hint-trigger"
          popoverStyle="qos-add-hint-info over-modals"
          as |ospm|
        }}
          <h1>{{tt this "addHintTitle"}}</h1>
          <p>{{tt this "addHint"}}</p>
          <div class="btn-toolbar text-right visible-xs-block">
            {{#bs-button class="btn btn-sm" type="info" onClick=ospm.close}}
              {{tt this "hintClose"}}
            {{/bs-button}}
          </div>
        {{/one-switchable-popover-modal}}
      {{else}}
        <div class="inline-icon-container">
          {{one-icon
            icon="sign-question-rounded"
            class="qos-header-hint-trigger qos-show-hint-trigger clickable"
          }}
        </div>
        {{#one-switchable-popover-modal
          class="qos-show-hint qos-hint"
          triggersConfiguration=".qos-show-hint-trigger"
          popoverStyle="qos-show-hint-info over-modals"
          as |ospm|
        }}
          <h1>{{tt this "showHintTitle"}}</h1>
          <p>{{tt this "showHintIntro"}}</p>
          <p>{{tt this "showHintTransfers"}}</p>
          <p>{{tt this "showHintRemoving"}}</p>
          <div class="btn-toolbar text-right visible-xs-block">
            {{#bs-button class="btn btn-sm" type="info" onClick=ospm.close}}
              {{tt this "hintClose"}}
            {{/bs-button}}
          </div>
        {{/one-switchable-popover-modal}}
        {{#if allQosStatusIcon}}
          {{#if (eq allQosStatus "impossible")}}
            {{#one-icon-tagged
              icon="checkbox-pending"
              class=(concat "all-qos-status tag-right qos-status-" allQosStatus)
              iconClass="header-icon"
              tagIcon="warning"
              shadowType="none"
            }}
              {{one-tooltip title=(tt
                this
                (concat "fileQosStatusHint.impossible")
                fileType=fileTypeText
              )}}
            {{/one-icon-tagged}}
          {{else}}
            {{#one-icon
              icon=allQosStatusIcon
              class=(concat "header-icon all-qos-status qos-status-" allQosStatus)
            }}
              {{one-tooltip title=(tt
                this
                (concat "fileQosStatusHint." allQosStatus)
                fileType=fileTypeText
              )}}
            {{/one-icon}}
          {{/if}}
        {{/if}}
      {{/if}}
    </h1>
    {{modal-file-subheader files=files multiTextPrefix=(if isAddMode (tt this "for"))}}
  {{/modal.header}}
  
  {{#modal.body}}
    {{#if isAddMode}}
      {{qos-modal/qos-add
        update=(action "changeNewEntry")
      }}
    {{else}}
      {{#if multipleFiles}}
        {{#one-collapsible-list class="hide-final-border" as |list|}}
          {{#each fileItems key="entityId" as |fileItem|}}
            {{#list.item as |listItem|}}
              {{qos-modal/file-entry
                listItem=listItem
                fileItem=fileItem
                removeQosRequirement=(action "removeQosRequirement")
                getDataUrl=(action "getDataUrl" (hash fileId=file.entityId))
                closeModal=(action "onHide")
              }}
            {{/list.item}}
          {{/each}}
        {{/one-collapsible-list}}
      {{else}}
        {{qos-modal/file-qos-summary
          file=fileItems.firstObject.file
          qosItemsProxy=fileItems.firstObject.qosItemsProxy
          removeQosRequirement=(action "removeQosRequirement")
          getDataUrl=(action "getDataUrl" (hash fileId=file.entityId))
          closeModal=(action "onHide")
        }}
      {{/if}}
    {{/if}}
  {{/modal.body}}
  
  {{#modal.footer}}
    {{#bs-button
      onClick=(if isAddMode
        (action (mut mode "show"))
        (action "onHide")
      )
      type="default"
    }}
      {{tt this (if isAddMode "cancel" "close")}}
    {{/bs-button}}
    
    {{#if isAddMode}}
      <div class="btn-tooltip-container">
        {{#one-spin-button
          class="btn btn-primary"
          disabled=(or (not newEntryIsValid) (not editPrivilege))
          action=(action "save")
        }}
          {{tt this "save"}}
        {{/one-spin-button}}
        {{#if multipleFiles}}
          {{one-tooltip title=(tt this "addMultiHint" count=files.length)}}
        {{/if}}
      </div>
    {{else}}
      <div class="btn-tooltip-container">
        {{#bs-button
          onClick=(action (mut mode) "add")
          type="primary"
          disabled=(not editPrivilege)
        }}
          {{tt this "add"}}
        {{/bs-button}}
        {{#unless editPrivilege}}
          {{one-tooltip title=(tt this "noEditHint")}}
        {{/unless}}
      </div>
    {{/if}}
  {{/modal.footer}}
{{/bs-modal}}
