{{one-icon icon=fileIcon class="details-icon"}}
<div class="details-content">
  {{#if (eq nameDisplayMode "name")}}
    <div class="details-title">
      {{#truncated-string class="single-file-info-file-name"}}
        {{file-name-conflict file=file}}
      {{/truncated-string}}
    </div>
  {{else if (eq nameDisplayMode "link")}}
    <div class="details-title">
      {{file-path
        class="single-file-info-file-link"
        file=file
        onLinkClicked=(action "linkClicked")
        onLinkKeydown=(action "linkClicked")
      }}
    </div>
  {{/if}}
  <ul class="details-property-list">
    {{#if (and showArchiveInfo archiveInfo)}}
      <li class="property-row">
        <span class="property-label">{{tt this "dataset"}}:</span>
        <a
          class="dataset-link navy underlined property-value"
          href={{archiveInfo.datasetUrl}}
          target={{navigateTarget}}
          onclick={{action "linkClicked"}}
        >
          {{archiveInfo.dataset.name}}
        </a>
      </li>
      <li class="property-row">
        <span class="property-label">{{tt this "archive"}}:</span>
        <a
          class="archive-link navy underlined property-value"
          href={{archiveInfo.archiveUrl}}
          target={{navigateTarget}}
          onclick={{action "linkClicked"}}
        >
          {{archiveInfo.archive.name}}
        </a>
      </li>
    {{/if}}
    {{#if isSizeShown}}
      <li class="property-row">
        <span class="property-label">{{tt this "size"}}:</span>
        <span class="download-file-size property-value">
          {{bytes-to-string effFileSize}}
        </span>
      </li>
    {{/if}}
    <li class="property-row">
      <span class="property-label">{{tt this "mtime"}}:</span>
      <span class="download-file-modification property-value">
        {{date-format mtime format="dateWithMinutes" blank="—"}}
      </span>
    </li>
  </ul>
</div>
