<div class="row loadable-row row-transfers-data-container">
  {{#loading-container isLoading=(not generalDataLoaded)}}
    {{space-transfers/transfers-overview
      space=space
      providers=providers
      transfersActiveChannels=transfersActiveChannels
      destinationProviderIds=destinationProviderIds
      sourceProviderIds=sourceProviderIds
      providersColors=providersColors
      providersLoaded=providersLoaded
    }}
    
    <div class="row row-transfers-tables">
      <h2>
        {{tt this "transferJobsHistory"}}
      </h2>
      {{#bs-tab
        class="bs-tab bs-tab-onedata bs-tab-modern s-tab-transfer-list-types"
        fade=false
        customTabs=true
        activeId=activeTabId
        as |tab|
      }}
        {{#bs-nav
          type="tabs"
          class="nav-tabs-transfers nav-tabs-with-loading"
          as |nav|
        }}
          {{!-- FIXME: file tab --}}
          {{!-- {{#if fileProxy.isSettled}}
            {{#nav.item active=(eq tab.activeId "file")}}
              <a href="#file"
                class="nav-link nav-link-file"
                role="tab"
                {{action tab.select "file"}}
              >
                <span class="tab-label">
                  {{#unless (eq tabJustChangedId "file")}}
                    {{one-icon class="tab-icon" icon=_fileTabIcon}}
                  {{/unless}}
                  {{#if fileProxy.isFulfilled}}
                    {{#truncated-string class="one-label tab-name"}}
                      {{file.name}}
                    {{/truncated-string}}
                  {{else}}
                    ?
                  {{/if}}
                </span>
                {{#if (eq tabJustChangedId "file")}}
                  {{spin-spinner-block sizeClass="xs" class="tab-spinner tab-spinner-left"}}
                {{/if}}
                <span class="tab-close clickable" {{action "closeFileTab"}}>
                  {{one-icon icon="close"}}
                </span>
              </a>
            {{/nav.item}}
          {{/if}} --}}
          {{#nav.item active=(eq tab.activeId "waiting")}}
            <a href="#waiting"
              class="nav-link"
              role="tab"
              {{action (mut activeTabId) "waiting"}}
            >
              <span class="tab-label">
                {{tt this "waitingTransfers"}}
              </span>
              {{!-- FIXME: implement --}}
              {{!-- {{#if (eq tabJustChangedId "waiting")}}
                {{spin-spinner-block sizeClass="xs" class="tab-spinner"}}
              {{/if}} --}}
            </a>
          {{/nav.item}}
          {{#nav.item active=(eq tab.activeId "ongoing")}}
            <a href="#ongoing"
              class="nav-link"
              role="tab"
              {{action (mut activeTabId) "ongoing"}}
            >
              <span class="tab-label">
                {{tt this "ongoingTransfers"}}
              </span>
              {{!-- FIXME: implement --}}
              {{!-- {{#if (eq tabJustChangedId "ongoing")}}
                {{spin-spinner-block sizeClass="xs" class="tab-spinner"}}
              {{/if}} --}}
            </a>
          {{/nav.item}}
          {{#nav.item active=(eq tab.activeId "ended")}}
            <a href="#ended"
              class="nav-link"
              role="tab"
              {{action (mut activeTabId) "ended"}}
            >
              <span class="tab-label">
                {{tt this "endedTransfers"}}
              </span>
              {{!-- FIXME: implement --}}
              {{!-- {{#if (eq tabJustChangedId "ended")}}
                {{spin-spinner-block sizeClass="xs" class="tab-spinner"}}
              {{/if}} --}}
            </a>
          {{/nav.item}}
        {{/bs-nav}}
        <div class="tab-content tab-content-transfers-list">
          {{!-- FIXME: file tab --}}
          {{!-- {{#if fileId}}
            {{#tab.pane elementId="file"}}
              {{#if (eq tab.activeId "file")}}
                <div class="row row-file-transfers">
                  <div class="col-xs-12 col-file-transfers">
                    <div class="row loadable-row">
                      {{#loading-container isLoading=(or
                          (not providersLoaded)
                          fileTransferList.isPending
                        )
                        class="loading-file-table"
                      }}
                        {{#if fileProxy.isFulfilled}}
                          {{space-transfers/live-stats-table
                            transfers=fileTransfers
                            transferType="file"
                            providers=providers
                            providersColors=providersColors
                            updaterId=(concat transfersUpdater.updaterId "-file-" file.id)
                            notifyTransferListChanged=(action "transferListChanged")
                            justOpened=(eq tabJustChangedId "file")
                            clearJustOpened=(action "clearJustChangedTabId" "file")
                            rerunTransfer=(action "rerunTransfer")
                            cancelTransfer=(action "cancelTransfer")
                          }}
                          {{#if _fileHistoryLimitReached}}
                            <p class="file-history-limit-message">
                              {{tt this "fileHistoryLimitReached"}}
                            </p>
                          {{/if}}
                        {{else}}
                          <p>{{tt this "fileNotExists"}}</p>
                        {{/if}}
                      {{/loading-container}}
                    </div>
                  </div>
                </div>
              {{/if}}
            {{/tab.pane}}
          {{/if}} --}}
          {{#tab.pane elementId="waiting"}}
            {{#if (eq tab.activeId "waiting")}}
              <div class="row row-waiting-transfers">
                <div class="col-xs-12 col-waiting-transfers">
                  <div class="row loadable-row">
                    {{#loading-container isLoading=(or
                        (not providersLoaded)
                        waitingTransfersArray.isLoading
                      )
                      class="loading-waiting-table"
                    }}
                      {{space-transfers/transfers-table
                        transfers=waitingTransfersArray
                        transferType="waiting"
                        providers=providers
                        providersColors=providersColors
                        spaceId=spaceId
                        updaterId=(concat transfersUpdater.updaterId "-waiting")
                        notifyTransferListChanged=(action "transferListChanged")
                        justOpened=(eq tabJustChangedId "waiting")
                        clearJustOpened=(action "clearJustChangedTabId" "waiting")
                        rerunTransfer=(action "rerunTransfer")
                        cancelTransfer=(action "cancelTransfer")
                      }}
                    {{/loading-container}}
                  </div>
                  {{#if waitingTransfersLoadingMore}}
                    {{!-- FIXME: loading more spinner --}}
                  {{/if}}
                </div>
              </div>
            {{/if}}
          {{/tab.pane}}
          {{#tab.pane elementId="ongoing"}}
            {{#if (eq tab.activeId "ongoing")}}
              <div class="row row-active-transfers-table">
                <div class="col-xs-12 col-active-transfers">
                  <div class="row loadable-row">
                    {{#loading-container isLoading=(or
                        (not providersLoaded)
                        ongoingTransfersArray.isLoading
                      )
                      class="loading-active-table"
                    }}
                      {{space-transfers/transfers-table
                        transfers=ongoingTransfersArray
                        transferType="ongoing"
                        providers=providers
                        providersColors=providersColors
                        spaceId=spaceId
                        updaterId=(concat transfersUpdater.updaterId "-ongoing")
                        notifyTransferListChanged=(action "transferListChanged")
                        justOpened=(eq tabJustChangedId "ongoing")
                        clearJustOpened=(action "clearJustChangedTabId" "ongoing")
                        rerunTransfer=(action "rerunTransfer")
                        cancelTransfer=(action "cancelTransfer")
                      }}
                    {{/loading-container}}
                  </div>
                  {{#if ongoingTransfersLoadingMore}}
                    {{!-- FIXME: loading more spinner --}}
                  {{/if}}
                </div>
              </div>
            {{/if}}
          {{/tab.pane}}
          {{#tab.pane elementId="ended"}}
            {{#if (eq tab.activeId "ended")}}
              <div class="row row-ended-transfers">
                <div class="col-xs-12 col-ended-transfers">
                  <div class="row loadable-row">
                    {{#loading-container isLoading=(or
                        (not providersLoaded)
                        endedTransfersArray.isLoading
                      )
                      class="loading-ended-table"
                    }}
                      {{space-transfers/transfers-table
                        transfers=endedTransfersArray
                        transferType="ended"
                        providers=providers
                        providersColors=providersColors
                        spaceId=spaceId
                        updaterId=(concat transfersUpdater.updaterId "-ended")
                        notifyTransferListChanged=(action "transferListChanged")
                        justOpened=(eq tabJustChangedId "ended")
                        clearJustOpened=(action "clearJustChangedTabId" "ended")
                        rerunTransfer=(action "rerunTransfer")
                        cancelTransfer=(action "cancelTransfer")
                      }}
                    {{/loading-container}}
                  </div>
                  {{#if endedTransfersLoadingMore}}
                    {{!-- FIXME: loading more spinner --}}
                  {{/if}}
                </div>
              </div>
            {{/if}}
          {{/tab.pane}}
        </div>
      {{/bs-tab}}
    </div>
  {{/loading-container}}
</div>
{{yield}}
