{{#render-later triggerRender=userInfoOpened}}
  {{#one-webui-popover
    popoverStyle="user-info"
    open=userInfoOpened
    triggerSelector=triggerSelector
    as |popover|
  }}
    {{#click-outside
      onClickOutside=(action (mut userInfoOpened) false)
      exceptSelector=".user-info-trigger, .webui-popover-user-info"
    }}
      <h1 class="popup-title">
        <span class="one-label">
          {{tt this "title"}}
        </span>
      </h1>
      <table class="table table-condensed table-info">
        <tr>
          <td class="property-name">{{tt this "fullName"}}</td>
          <td class="property-value">{{or owner.fullName "—"}}</td>
        </tr>
        <tr>
          <td class="property-name">{{tt this "username"}}</td>
          <td class="property-value">{{or owner.username "—"}}</td>
        </tr>
        <tr>
          <td class="property-name">{{tt this "userId"}}</td>
          <td class="property-value">
            {{one-clipboard-line
              size="sm"
              value=owner.entityId
              showText=false
              btnType="success"
            }}
          </td>
        </tr>
      </table>
    {{/click-outside}}
  {{/one-webui-popover}}
{{/render-later}}
