{{#truncated-string}}
  <span
    class={{concat-classes
      "inline-icon-container"
      (if userInfoOpened "not-animation" "animation")
      (if (not (media "isMobile")) "user-info-trigger")
    }}
    {{action
      (mut userInfoOpened)
      (not userInfoOpened)
      bubbles=false
    }}
  >
    {{one-icon icon="user" color=iconColor}}
    {{one-icon icon="browser-info"}}
  </span>
  <span class="file-owner-fullname">{{or owner.fullName "—"}}</span>
  {{#if owner.username}}
    <span class="file-owner-username">
      ({{owner.username}})
    </span>
  {{/if}}
  {{user-info-popover
    user=owner
    isOpened=userInfoOpened
    triggerSelector=(concat "#" elementId " .user-info-trigger")
  }}
{{/truncated-string}}
