<ul class="visual-edm-object-list">
  {{#each viewModel.objects as |objectViewModel|}}
    <VisualEdm::Object @viewModel={{objectViewModel}} />
  {{/each}}
  {{#if viewModel.validator.isError}}
    <VisualEdm::ValidationError
      class="edm-metadata-invalid"
      @text={{tt this "notValid"}}
      @validator={{viewModel.validator}}
      @viewType="visual"
    />
  {{/if}}
  {{#if viewModel.hasExtraData}}
    <VisualEdm::ExtraDataInfo @model={{model}}/>
  {{/if}}
  {{#unless viewModel.isReadOnly}}
    <div class="objects-list-buttons">
      <OneButton
        class="add-web-resource-btn"
        @type="default"
        @onClick={{action "addWebResource"}}
        @disabled={{viewModel.isDisabled}}
      >
        <OneIcon @icon="plus" />
        <span class="text">
          {{tt this "listButtons.addWebResource"}}
        </span>
      </OneButton>
    </div>
  {{/unless}}
</ul>
