<div class="fb-breadcrumbs-inner {{if breadcrumbsRecomputing "breadcrumbs-recomputing"}}">
  {{#each filteredBreadcrumbsItemsProxy as |item i|}}
    <div class="fb-breadcrumbs-dir fb-breadcrumbs-element {{if (eq i 0) "fb-breadcrumbs-dir-root"}}">
      <a
        {{action "changeDir" item.file}}
        class="fb-breadcrumbs-dir-link fb-breadcrumbs-dir-name"
        data-dir-guid={{item.file.entityId}}
      >
        {{#if (eq i 0)}}
          {{#if (eq rootIcon "space")}}
            <div 
              class="inline-icon-container root-icon-container icon-info-trigger"
              {{action
                (mut itemInfoOpened)
                (not itemInfoOpened)
                bubbles=false
              }}
              onmouseover={{action "itemInfoHovered" true}}
              onmouseleave={{action "itemInfoHovered" false}}
            >
              {{flippable-icons
                iconName=rootIcon
                iconColor=iconColor
                isHovered=hasItemInfoHovered
                suppressFlipping=itemInfoOpened
              }}
            </div>
          {{else}}
            <div class="inline-icon-container root-icon-container">
              {{one-icon icon=rootIcon}}
              {{one-tooltip title=filteredBreadcrumbsItemsProxy.firstObject.file.name}}
            </div>
          {{/if}}
          {{#if (or (eq rootIcon "space") alwaysShowRootName)}}
            <span 
              class="dir-name"
              onmouseover={{if (eq rootIcon "space") (action "itemInfoHovered" true)}}
              onmouseleave={{if (eq rootIcon "space") (action "itemInfoHovered" false)}}
            >
              {{#truncated-string}}
                {{item.name}}
              {{/truncated-string}}
              {{one-tooltip title=filteredBreadcrumbsItemsProxy.firstObject.file.name}}
            </span>
          {{/if}}
          {{#record-info-popover
            isOpened=itemInfoOpened
            triggerSelector=(concat "#" elementId " .icon-info-trigger")
          }}
            {{space-info-content
              space=space.content
              openRestApiModal=(action "openRestApiModal")
            }}
          {{/record-info-popover}}
        {{else}}
          <span class="dir-name">{{item.name}}</span>
        {{/if}}
      </a>
      {{#if item.extraName}}
        {{one-label-tip
          class="extra-name-label-tip"
          tooltipClass=extraNameTooltipClass
          icon=extraNameIcon
          title=item.extraName
        }}
      {{/if}}
    </div>
    <div class="fb-breadcrumbs-separator fb-breadcrumbs-element"></div>
  {{/each}}
  {{!-- last element - current dir --}}
  {{#if menuButtons.length}}
    <a class="fb-breadcrumbs-dir fb-breadcrumbs-element fb-breadcrumbs-current-dir-button black truncate {{if dirActionsOpen "active"}} {{if areItemsEmpty "fb-breadcrumbs-dir-root"}}"  
      data-dir-guid={{currentItem.file.entityId}}
      style={{lastItemStyle}}
    >
      {{#if areItemsEmpty}}
        {{#if (eq rootIcon "space")}}
          <div 
            class="inline-icon-container root-icon-container icon-info-last-element-trigger"
            onclick={{action
              (mut itemInfoOpened)
              (not itemInfoOpened)
              bubbles=false
            }}
            onmouseover={{action "itemInfoHovered" true}}
            onmouseleave={{action "itemInfoHovered" false}}
          >
            {{flippable-icons
              iconName=rootIcon
              iconColor=iconColor
              isHovered=hasItemInfoHovered
              suppressFlipping=itemInfoOpened
            }}
          </div>
          {{#record-info-popover
            isOpened=itemInfoOpened
            triggerSelector=(concat "#" elementId " .icon-info-last-element-trigger")
          }}
            {{space-info-content
              space=space.content
              openRestApiModal=(action "openRestApiModal")
            }}
          {{/record-info-popover}}
        {{else}}
          <div class="inline-icon-container root-icon-container">
            {{one-icon icon=rootIcon}}
          </div>
        {{/if}}
      {{/if}}
      <span 
        class="fb-breadcrumbs-dir-name"
        onclick={{disable-bubbling (action "toggleDirActions")}}
      >
        <span 
          class="dir-name"
          onmouseover={{if areItemsEmpty (action "itemInfoHovered" true)}}
          onmouseleave={{if areItemsEmpty (action "itemInfoHovered" false)}}
        >{{currentItem.name}}</span>
        {{#if currentItem.extraName}}
          {{one-label-tip
            class="extra-name-label-tip"
            tooltipClass=extraNameTooltipClass
            icon=extraNameIcon
            title=currentItem.extraName
          }}
        {{/if}}
        <div class="inline-icon-container breadcrumbs-current-dir-actions-trigger">
          {{one-icon icon="arrow-down"}}
        </div>
        {{#one-webui-popover
          popoverStyle=(concat-classes
            "with-dropdown webui-popover-in-fb-head"
            (if isInModal "over-modals")
          )
          padding=false
          popoverTrigger="manual"
          triggerSelector=(concat "#" elementId " .breadcrumbs-current-dir-actions-trigger")
          open=dirActionsOpen
          placement="bottom"
          as |popover|
        }}
          {{#click-outside onClickOutside=(action "toggleDirActions" false)}}
            {{#popover-content-limit opened=popover.visible}}
              {{actions-popover-content
                actionsArray=menuButtons
                actionsArg=(array currentItem.file)
                actionClicked=(action "actionClicked")
                class="dir-actions ps--focus"
              }}
            {{/popover-content-limit}}
          {{/click-outside}}
        {{/one-webui-popover}}
      </span>
    </a>
  {{else}}
    <div class="fb-breadcrumbs-dir fb-breadcrumbs-element fb-breadcrumbs-current-dir-button {{if areItemsEmpty "fb-breadcrumbs-dir-root"}}">
      <a class="fb-breadcrumbs-dir-link fb-breadcrumbs-dir-name truncate {{if (eq currentItem.file.type "file") "fake-text"}}"
        data-dir-guid={{currentItem.file.entityId}}
        {{action "changeDir" currentItem.file}}
      >
        {{#if areItemsEmpty}}
          <div class="inline-icon-container root-icon-container">
            {{one-icon icon=rootIcon}}
          </div>
        {{/if}}
        {{currentItem.name}}
        {{#if currentItem.isRoot}}
          {{one-tooltip title=currentItem.name}}
        {{/if}}
      </a>
      {{#if currentItem.extraName}}
        {{one-label-tip
          class="extra-name-label-tip"
          tooltipClass=extraNameTooltipClass
          icon=extraNameIcon
          title=currentItem.extraName
        }}
      {{/if}}
    </div>
  {{/if}}
</div>
