{{#bs-modal
  open=open
  onHide=(action "close")
  as |modal|
}}
  {{#modal.header}}
    <h1>{{tt this "header" type=typeTranslation}}</h1>
  {{/modal.header}}
  {{#modal.body}}
    <table class="table table-info table-info-large">
      <tbody>
        <tr class="file-info-row-name">
          <td class="property-name with-input{{if smallContent "-sm"}}">
            {{tt this "name" type=typeTranslation}}
          </td>
          <td class="property-value">
            {{clipboard-line
              value=fileName
              size=(if smallContent "sm")
            }}
          </td>
        </tr>
        <tr class="file-info-row-path">
          <td class="property-name">{{tt this "path" type=typeTranslation}}</td>
          <td class="property-value">
            {{clipboard-line
              value=filePathProxy.content
              size=(if smallContent "sm")
            }}
          </td>
        </tr>
        <tr class="file-info-row-space-id">
          <td class="property-name with-input{{if smallContent "-sm"}}">{{tt this "spaceId"}}</td>
          <td class="property-value">
            {{clipboard-line
              value=spaceEntityId
              class="monospace-font"
              size=(if smallContent "sm")
            }}
          </td>
        </tr>
        <tr id={{cdmiRowId}} class="file-info-row-cdmi-object-id">
          <td class="property-name with-input">
            {{tt this "cdmiObjectId"}}
          </td>
          <td class="property-value">
            <div class="input-group input-group input-group-clipboard-textarea">
              {{clipboard-line
                value=cdmiObjectId
                type="textarea"
                size=(if smallContent "sm")
                class="monospace-font"
              }}
            </div>
          </td>
        </tr>
        {{#if (eq itemType "file")}}
          <tr class="file-info-row-size">
            <td class="property-name">{{tt this "size"}}</td>
            <td class="property-value">
              {{bytes-to-string fileSize}}
            </td>
          </tr>
        {{/if}}
        <tr class="file-info-row-modification-time">
          <td class="property-name">{{tt this "modificationTime"}}</td>
          <td class="property-value">
            {{#truncated-string}}
              {{date-format modificationTime format="dateWithMinutes" blank="—"}}
            {{/truncated-string}}
          </td>
        </tr>
        <tr class="file-info-row-owner">
          <td class="property-name">{{tt this "owner"}}</td>
          <td class="property-value">
            {{#truncated-string}}
              {{ownerFullNameProxy.content}}
            {{/truncated-string}}
          </td>
        </tr>
      </tbody>
    </table>
  {{/modal.body}}
  {{#modal.footer}}
    {{#bs-button onClick=modal.close}}
      {{tt this "close"}}
    {{/bs-button}}
  {{/modal.footer}}
{{/bs-modal}}
