{{#bs-modal
  class="fb-info-modal"
  open=open
  onHide=(action "close")
  size="lg"
  as |modal|
}}
  {{#modal.header}}
    <h1>{{tt this "header" type=typeTranslation}}</h1>
    {{modal-file-subheader files=(array file)}}
  {{/modal.header}}
  {{#modal.body}}
    <table class="table table-info table-info-large table-info-collapsible">
      <tbody>
        <tr class="file-info-row-name">
          <td class="property-name with-input{{if smallContent "-sm"}}">
            {{tt this "name" type=typeTranslation}}
          </td>
          <td class="property-value">
            {{clipboard-line
              value=fileName
              size=(if smallContent "sm")
            }}
          </td>
        </tr>
        <tr class="file-info-row-path">
          <td class="property-name">{{tt this "path" type=typeTranslation}}</td>
          <td class="property-value">
            {{#promise-proxy-container
              proxy=filePathProxy
              sizeClass="xs"
              centered=false
              spinnerBlockClass="loading-file-path"
            }}
              {{clipboard-line
                value=filePathProxy.content
                size=(if smallContent "sm")
              }}
            {{/promise-proxy-container}}
          </td>
        </tr>
        {{#if spaceEntityId}}
          <tr class="file-info-row-space-id">
            <td class="property-name with-input{{if smallContent "-sm"}}">{{tt this "spaceId"}}</td>
            <td class="property-value">
              {{clipboard-line
                value=spaceEntityId
                class="monospace-font"
                size=(if smallContent "sm")
              }}
            </td>
          </tr>
        {{/if}}
        <tr id={{cdmiRowId}} class="file-info-row-cdmi-object-id">
          <td class="property-name with-input">
            {{tt this "cdmiObjectId"}}
          </td>
          <td class="property-value">
            <div class="input-group input-group input-group-clipboard-textarea">
              {{clipboard-line
                value=cdmiObjectId
                type="textarea"
                textareaRows="3"
                size=(if smallContent "sm")
                class="monospace-font compact"
              }}
            </div>
          </td>
        </tr>
        {{#if previewMode}}
          <tr id={{cdmiRowId}} class="file-info-row-rest-url">
            <td class="property-name with-input">
              {{tt this "rest"}}
            </td>
            <td class="property-value">
              <div class="rest-url-type-row">
                {{#one-dropdown
                  triggerClass="small rest-url-type-selector-trigger"
                  dropdownClass="small rest-url-type-selector-dropdown"
                  renderInPlace=false
                  options=availableRestUrlTypes
                  selected=effSelectedRestUrlType
                  searchEnabled=false
                  onchange=(action (mut selectedRestUrlType))
                  as |urlType|
                }}
                  {{#if (eq urlType "downloadSharedFileContent")}}
                    {{tt this (concat "restUrlType.downloadSharedFileContent." itemType)}}
                  {{else}}
                    {{tt this (concat "restUrlType." urlType)}}
                  {{/if}}
                {{/one-dropdown}}
                <div
                  class="inline-icon-container rest-url-type-info-trigger-container"
                  {{action (mut restUrlTypeInfoOpened) (not restUrlTypeInfoOpened)}}
                >
                  {{one-icon
                    id=restUrlInfoTriggerId
                    icon="browser-info"
                    class="rest-url-type-info-trigger"
                  }}
                </div>
                {{#one-webui-popover
                  popoverStyle="rest-url-type-info over-modals"
                  padding=true
                  open=restUrlTypeInfoOpened
                  triggerSelector=(concat "#" restUrlInfoTriggerId)
                  as |popover|
                }}
                  {{#click-outside
                    action=(action (mut restUrlTypeInfoOpened) false)
                    except-selector=".rest-url-type-info-trigger, .webui-popover-rest-url-type-info"
                  }}
                    <p class="rest-tip-intro">
                      {{tt this "restTipIntro"}}
                      {{one-doc-see-more
                        linkName=(tt this "restTipLinkName")
                        href=(one-api-doc-url
                          product="onezone"
                          version="latest"
                          anchor="operation/get_shared_data"
                        )
                      }}
                    </p>
                    <hr class="sharp">
                    <p class="last rest-tip-specific rest-tip-{{effSelectedRestUrlType}}">
                      {{tt this "restTipSpecificIntro" typeDescription=(if
                        (eq effSelectedRestUrlType "downloadSharedFileContent")
                        (tt this (concat
                          "restTipSpecificType.downloadSharedFileContent."
                          itemType
                        ))
                        (tt this (concat "restTipSpecificType." effSelectedRestUrlType))
                      )}}
                    </p>
                  {{/click-outside}}
                {{/one-webui-popover}}
                <span class="labels-container hidden-xs">
                  <span class="label label-info rest-tag-label">
                    <span class="bracket-fix">{</span>
                    {{tt this "restTag"}}
                    <span class="bracket-fix">}</span>
                  </span>
                </span>

              </div>
              <div class="input-group input-group input-group-clipboard-textarea">
                {{clipboard-line
                  value=publicRestUrl
                  textareaRows="4"
                  type="textarea"
                  size=(if smallContent "sm")
                  class="monospace-font compact"
                }}
              </div>
            </td>
          </tr>
        {{/if}}
        {{#if (eq itemType "file")}}
          <tr class="file-info-row-size">
            <td class="property-name">{{tt this "size"}}</td>
            <td class="property-value">
              {{bytes-to-string fileSize}}
            </td>
          </tr>
        {{/if}}
        <tr class="file-info-row-modification-time">
          <td class="property-name">{{tt this "modificationTime"}}</td>
          <td class="property-value">
            {{#truncated-string}}
              {{date-format modificationTime format="dateWithMinutes" blank="—"}}
            {{/truncated-string}}
          </td>
        </tr>
        <tr class="file-info-row-owner">
          <td class="property-name">{{tt this "owner"}}</td>
          <td class="property-value">
            {{#promise-proxy-container
              proxy=ownerFullNameProxy
              sizeClass="xs"
              centered=false
              spinnerBlockClass="loading-owner-full-name"
            }}
              {{#truncated-string}}
                {{or ownerFullNameProxy.content "—"}}
              {{/truncated-string}}
            {{/promise-proxy-container}}
          </td>
        </tr>
      </tbody>
    </table>
  {{/modal.body}}
  {{#modal.footer}}
    {{#bs-button onClick=modal.close}}
      {{tt this "close"}}
    {{/bs-button}}
  {{/modal.footer}}
{{/bs-modal}}
