{{#one-modal
  class=(concat-classes 
    "fb-info-modal modal-content-overlay without-footer with-close-button" 
    modalClass
  )
  open=open
  onHide=(action "close")
  size="xl"
  backdropClose=true
  keyboard=true
  as |modal|
}}
  {{#modal.header}}
    <h1>{{tt this "header" type=typeTranslation}}</h1>
    {{modal-file-subheader files=(array file)}}
  {{/modal.header}}
  {{#modal.body}}
    {{#bs-tab
      class="bs-tab-onedata bs-tab-modern"
      activeId=activeTab
      onChange=(action "changeTab")
      as |tab|
    }}
      {{tab.pane id="general" title=(tt this "tabs.general.tabTitle")}}
      {{#if (gt hardlinksCount 1)}}
        {{tab.pane
          id="hardlinks"
          title=(tt this "tabs.hardlinks.tabTitle" hardlinksCount=(if
            hardlinksLimitExceeded
            (concat hardlinksLimit "+")
            hardlinksCount
          ))
        }}
      {{/if}}
      {{#if (and showApiSection (not-eq itemType "symlink"))}}
        {{tab.pane id="apiSamples" title=(tt this "tabs.apiSamples.tabTitle")}}
      {{/if}}
    {{/bs-tab}}
    {{#if (eq activeTab "general")}}
      <table class="table table-info table-info-large table-info-collapsible">
        <tbody>
          <tr class="file-info-row-name">
            <td class="property-name with-input{{if smallContent "-sm"}}">
              {{tt this "name" type=typeTranslation}}
            </td>
            <td class="property-value">
              {{clipboard-line
                value=fileName
                size=(if smallContent "sm")
              }}
            </td>
          </tr>
          <tr class="file-info-row-path">
            <td class="property-name with-input{{if smallContent "-sm"}}">{{tt this "path" type=typeTranslation}}</td>
            <td class="property-value">
              {{#promise-proxy-container
                proxy=filePathProxy
                sizeClass="xs"
                centered=false
                spinnerBlockClass="loading-file-path"
              }}
                {{clipboard-line
                  value=filePathProxy.content
                  size=(if smallContent "sm")
                }}
              {{/promise-proxy-container}}
            </td>
          </tr>
          {{#if (eq itemType "symlink")}}
            <tr class="file-info-row-target-path">
              <td class="property-name with-input{{if smallContent "-sm"}}">{{tt this "symlinkTargetPath"}}</td>
              <td class="property-value">
                {{clipboard-line
                  value=symlinkTargetPath
                  size=(if smallContent "sm")
                }}
              </td>
            </tr>
          {{/if}}
          {{#if space.entityId}}
            <tr class="file-info-row-space-id">
              <td class="property-name with-input{{if smallContent "-sm"}}">{{tt this "spaceId"}}</td>
              <td class="property-value">
                {{clipboard-line
                  value=space.entityId
                  class="monospace-font"
                  size=(if smallContent "sm")
                }}
              </td>
            </tr>
          {{/if}}
          {{#if fileGuiUrl}}
            <tr class="file-info-row-gui-url">
              <td class="property-name with-input{{if smallContent "-sm"}}">
                {{tt this "guiUrl" type=typeTranslation}}
              </td>
              <td class="property-value">
                {{clipboard-line
                  value=fileGuiUrl
                  size=(if smallContent "sm")
                }}
              </td>
            </tr>
          {{/if}}
          <tr id={{cdmiRowId}} class="file-info-row-cdmi-object-id">
            <td class="property-name with-input">
              {{tt this "cdmiObjectId"}}
            </td>
            <td class="property-value">
              <div class="input-group-clipboard-textarea">
                {{clipboard-line
                  value=cdmiObjectId
                  type="textarea"
                  textareaRows="3"
                  size=(if smallContent "sm")
                  class="monospace-font compact"
                }}
              </div>
            </td>
          </tr>
          {{#if (eq itemType "file")}}
            <tr class="file-info-row-size">
              <td class="property-name">{{tt this "size"}}</td>
              <td class="property-value">
                {{bytes-to-string fileSize}}
              </td>
            </tr>
          {{/if}}
          <tr class="file-info-row-modification-time">
            <td class="property-name">{{tt this "modificationTime"}}</td>
            <td class="property-value">
              {{#truncated-string}}
                {{date-format modificationTime format="dateWithMinutes" blank="—"}}
              {{/truncated-string}}
            </td>
          </tr>
          <tr class="file-info-row-owner">
            <td class="property-name">{{tt this "owner"}}</td>
            <td class="property-value">
              {{#promise-proxy-container
                proxy=ownerFullNameProxy
                sizeClass="xs"
                centered=false
                spinnerBlockClass="loading-owner-full-name"
              }}
                {{#truncated-string}}
                  {{or ownerFullNameProxy.content "—"}}
                {{/truncated-string}}
              {{/promise-proxy-container}}
            </td>
          </tr>
        </tbody>
      </table>
    {{else if (eq activeTab "hardlinks")}}
      {{#promise-proxy-container tagName="div" class="loadable-row" proxy=fileHardlinksProxy}}
        {{#if (and hardlinksLimitExceeded fileHardlinks.hardlinks.length)}}
          <p class="shows-first-n-hardlinks text-center">
            <em>{{tt this "tabs.hardlinks.showingOnlyNFirst" limit=hardlinksLimit}}</em>
          </p>
        {{/if}}
        <ul class="file-hardlinks-list">
          {{#each fileHardlinks.hardlinks as |fileHardlink|}}
            {{file-browser/fb-info-modal/hardlink-entry
              class="file-hardlink"
              file=fileHardlink.file
              fileUrl=fileHardlink.fileUrl
              path=fileHardlink.path
              closeModal=modal.close
            }}
          {{else}}
            <li class="file-hardlink extra-hardlink-description">
              <em>{{tt this "tabs.hardlinks.noAccessToAll"
                fileType=(tt this (concat "fileType." itemType))
              }}</em>
              {{#if hardlinksFetchError}}
                {{one-label-tip title=hardlinksFetchError}}
              {{/if}}
            </li>
          {{/each}}
          {{#if (and
            (gt fileHardlinks.hardlinks.length 0)
            (lt fileHardlinks.hardlinks.length fileHardlinks.hardlinksCount)
          )}}
            <li class="file-hardlink extra-hardlink-description">
              <em>{{tt this "tabs.hardlinks.andNMoreYouHaveNoAccess"
                count=(sub fileHardlinks.hardlinksCount fileHardlinks.hardlinks.length)
              }}</em>
              {{#if hardlinksFetchError}}
                {{one-label-tip title=hardlinksFetchError}}
              {{/if}}
            </li>
          {{/if}}
        </ul>
      {{/promise-proxy-container}}
    {{else if (eq activeTab "apiSamples")}}
      {{#if (and showApiSection (not-eq itemType "symlink"))}}
        {{content-api-samples
          file=file
        }}
      {{/if}}
    {{/if}}
  {{/modal.body}}
{{/one-modal}}
