{{#one-modal
  open=open
  backdropClose=(not processing)
  keyboard=(not processing)
  class="proceed-modal fb-remove-modal"
  as |modal|
}}
  {{#modal.header}}
    <h1>{{tt this "delete"}}</h1>
  {{/modal.header}}
  {{#modal.body}}
    <div class="row row-delete-question">
      {{tt this "questionPrefix"}}
      {{tt this (concat "questionSuffix." itemsType) count=files.length
      }}{{#if filesContainDirectory}}&nbsp;{{one-label-tip
        title=(tt this "questionNestedSharesInfo")
        icon="sign-info-rounded"
      }}{{/if}}
    </div>
    <div class="browsable-items-info">
      {{#if (eq files.length 1)}}
        {{single-file-info class="single-item" file=firstFile}}
      {{else if (lte files.length maxDisplayFiles)}}
        <div class="row row-delete-files-list row-items-list">
          {{#each files as |file|}}
            <div class="row-delete-file-item row-item">
              <div class="file-item-icon browsable-item-icon">
                {{one-icon
                  icon=(if (eq file.type "dir") "browser-directory" "browser-file")
                }}
              </div>
              {{#truncated-string class="delete-file-name"}}
                {{file-name-conflict file=file}}
              {{/truncated-string}}
              {{#one-label-tip
                tooltipClass="fb-remove-modal-file-tooltip browsable-items-info-tooltip"
                class="file-info-tip-trigger item-info-tip-trigger"
                icon="sign-info-rounded"
              }}
                {{#if (eq file.type "file")}}
                  <div class="text-left">
                    <span class="file-info-label item-info-label">
                      {{tt this "info.size"}}:
                    </span>
                    <span class="file-info-value item-info-value delete-file-size">
                      {{bytes-to-string file.size}}
                    </span>
                  </div>
                {{/if}}
                <div class="text-left">
                  <span class="file-info-label item-info-label">
                    {{tt this "info.modification"}}:
                  </span>
                  <span class="file-info-value item-info-value delete-file-modification">
                    {{date-format
                      file.modificationTime
                      format="dateWithMinutes"
                      blank="—"
                    }}
                  </span>
                </div>
              {{/one-label-tip}}
            </div>
          {{/each}}
        </div>
      {{/if}}
      {{#if (and canViewShares sharesToRemoveCount)}}
        <p class="shares-info text-danger">
          {{sharesCountInfo}}<br/>
          {{removingSharesInfo}}
        </p>
      {{/if}}
    </div>
  {{/modal.body}}

  {{#modal.footer class="btn-toolbar"}}
    {{#bs-button disabled=processing onClick=(action "close") class="cancel"}}
      {{tt this "no"}}
    {{/bs-button}}
    {{#one-button
      type="danger"
      buttonType="submit"
      onClick=(action "remove")
      class="proceed remove-proceed"
      disabled=processing
    }}
      {{tt this "yes"}}
      {{#if (and processing (gt filesToRemoveCount 1))}}
        ({{filesProcessedCount}}/{{filesToRemoveCount}})
      {{/if}}
    {{/one-button}}
  {{/modal.footer}}
{{/one-modal}}
