{{#bs-modal
  open=open
  backdropClose=false
  keyboard=false
  onShow=(action "onShow")
  onHide=(action "onHide")
  onHidden=(action "onHidden")
  as |modal|
}}
  {{#modal.header}}
    <h1>{{tt this (concat "header." itemType)}}</h1>
  {{/modal.header}}
  {{#modal.body}}
    <p>{{tt this (concat "intro." itemType)}}</p>
    <div class="row">
      <input
        id={{inputId}}
        type="text"
        class="form-control new-item-name"
        value={{editValue}}
        oninput={{action (mut editValue) value="target.value"}}
        onkeydown={{invoke-on-enter (action "submit")}}
        disabled={{isSaving}}
        autofocus=true
      >
    </div>
  {{/modal.body}}
  {{#modal.footer class="btn-toolbar"}}
    {{#bs-button disabled=processing onClick=modal.close}}
      {{tt this "cancel"}}
    {{/bs-button}}
    {{#one-button
      type="primary"
      buttonType="submit"
      onClick=(action "submit")
      isPending=processing
      disabled=submitDisabled
    }}
      {{tt this "submit"}}
    {{/one-button}}
  {{/modal.footer}}
{{/bs-modal}}
