{{#bs-modal
  class="fb-share-modal"
  open=open
  backdropClose=false
  onShow=(action "onShow")
  onHide=(action "onHide")
  as |modal|
}}
  {{#modal.header}}
    <h1>{{tt this "header" fileType=(tt this (concat "fileType." file.type))}}</h1>
    {{modal-file-subheader files=(array file)}}
    {{#if isViewForOtherForbidden}}
      <div class="alert alert-warning">{{tt this (concat "warning." file.type)}}</div>
    {{/if}}
  {{/modal.header}}
  {{#modal.body}}
    <div class="share-modal-loadable-row loadable-row">
      {{#promise-proxy-container proxy=contentProxy}}
        <p>{{tt this "setName"}}:</p>
        <div class="row">
          {{#bs-form class="form-horizontal without-labels" as |form|}}
            {{#form.group
              validation=(if validationError "error")
              class=(concat-classes
                "new-share-name-form-group"
                (if validationError "has-message")
              )
            }}
              <input
                id={{inputId}}
                type="text"
                class="form-control new-share-name"
                value={{newShareName}}
                oninput={{action (mut newShareName) value="target.value"}}
                onkeydown={{invoke-on-enter (action "submitNew")}}
                disabled={{isSaving}}
                autofocus=true
              >
              <div class="form-message form-message-name {{unless validationError "transparent"}}">
                {{validationErrorMessage}}
                {{#if (eq validationError "regexp")}}
                  <div class="inline-icon-container hint-trigger clickable">
                    {{one-label-tip title=(tt this "regexpHint") class="share-name-regexp-hint"}}
                  </div>
                {{/if}}
              </div>
            {{/form.group}}
          {{/bs-form}}
        </div>
      {{/promise-proxy-container}}
    </div>
  {{/modal.body}}
  {{#modal.footer}}
    {{#bs-button
      onClick=(if addAnotherOneMode (action (mut addAnotherOneMode) false) modal.close)
    }}
      {{tt this (if addAnotherOneMode "cancel" "close")}}
    {{/bs-button}}
    {{#if (eq mode "new")}}
      {{#one-button
        type="primary"
        buttonType="submit"
        onClick=(action "submitNew")
        isPending=isSaving
        disabled=submitNewDisabled
      }}
        {{tt this "createNew"}}
      {{/one-button}}
    {{else if (eq mode "show")}}
      <div class="btn-tooltip-container">
        {{#bs-button
          type="primary"
          disabled=(not managePrivilege)
          onClick=(action (mut addAnotherOneMode) true)
        }}
          {{tt this "createAnotherOne"}}
        {{/bs-button}}
        {{#unless managePrivilege}}
          {{one-tooltip title=noManageHint}}
        {{/unless}}
      </div>
    {{/if}}
  {{/modal.footer}}
{{/bs-modal}}
