<div class="toolbar-buttons">
  {{#each toolbarButtons as |button|}}
    <div
      onclick={{action "buttonClicked" button}}
      class="fb-toolbar-button {{if button.disabled "disabled"}} {{button.class}}"
      disabled={{button.disabled}}
    >
      {{#one-icon icon=button.icon}}
        {{#if (or button.tip button.title)}}
          {{one-tooltip title=(or button.tip button.title)}}
        {{/if}}
      {{/one-icon}}
    </div>
  {{/each}}
</div>
