{{#each toolbarButtons as |button|}}
  <div
    {{action "buttonClicked" button}}
    class="fb-toolbar-button {{if button.disabled "disabled"}} {{button.elementClass}}"
    disabled={{button.disabled}}
  >
    {{one-icon icon=button.icon}}
    {{#if button.title}}
      {{one-tooltip title=button.title}}
    {{/if}}
  </div>
{{/each}}