{{#if isInvalidated}}
  <td colspan="9999" class="special-row-cell invalidated-row-cell">
    {{spin-spinner-block
      sizeClass="xs"
      class="absolute-middle-centered"
    }}
  </td>
{{else}}
  <td class={{concat-classes "fb-table-col-files" (if multilineInfo "multiline")}}>
    <div
      class={{concat-classes
        "file-info-container file-icon-container"
        (if infoIconActionName "flip-animated")
      }}
    >
      {{#if isLoadingOnIcon}}
        <div class="inline-icon-container">
          {{spin-spinner-block
            sizeClass="xs"
            class="on-icon-loading-spinner"
          }}
        </div>
      {{else}}
        <div
          class="inline-icon-container-file" 
          onclick={{action "handleInfoIconClick"}}
          style={{cursorStyleForIcon}}
          onmouseover={{action "changeFileNameHover" true}}
          onmouseout={{action "changeFileNameHover" false}}
        >
          {{#if infoIconActionName}}
            {{flippable-icons
              iconTaggedClass=iconTaggedClass
              iconTag=iconTag
              iconName=icon
              isHovered=isFileNameHovered
              isTagIcon=true
            }}
          {{else}}
            {{#one-icon-tagged
              class=(concat-classes "tag-right flippable-front" iconTaggedClass)
              icon=icon
              iconClass="file-icon"
              tagIcon=iconTag
              shadowType=(if iconTag "circle" "none")
            }}
              {{#if iconTip}}
                {{one-tooltip title=iconTip}}
              {{/if}}
            {{/one-icon-tagged}}
          {{/if}}
        </div>
      {{/if}}
      <div class="file-item-text">
        <div class="file-item-text-upper">
          <div class="file-info-container">
            <div class="file-name">
              {{#truncated-string class="file-name-inner"}}
                <span
                  onmouseover={{action "changeFileNameHover" true}}
                  onmouseout={{action "changeFileNameHover" false}}
                >
                  {{!-- NOTE: everything in one line because we avoid space --}}
                  <span class="file-base-name">{{fileNameBase}}</span>{{#if fileNameSuffix}}<span class="file-suffix conflict-label">{{fileNameSuffix}}</span>{{/if}}
                </span>
                {{#if fileLoadError}}
                  {{one-tooltip title=fileLoadError.message}}
                {{/if}}
              {{/truncated-string}}
            </div>
            {{#if showSecondaryInfo}}
              {{component secondaryInfoComponentName
                file=file
                previewMode=previewMode
                nameConflict=nameConflict
                fileRowModel=fileRowModel
                browserModel=browserModel
                invokeFileAction=invokeFileAction
                changeFileNameHover=(action "changeFileNameHover")
              }}
            {{/if}}
          </div>
          {{#if statusBarComponentName}}
            {{component statusBarComponentName
              file=file
              previewMode=previewMode
              nameConflict=nameConflict
              spacePrivileges=spacePrivileges
              fileRowModel=fileRowModel
              browserModel=browserModel
              isSpaceOwned=isSpaceOwned
              invokeFileAction=invokeFileAction
              disabled=isDisabled
            }}
          {{/if}}
        </div>
        {{#if showMobileSecondaryInfo}}
          {{component mobileSecondaryInfoComponentName
            file=file
            fileRowModel=fileRowModel
            browserModel=browserModel
            invokeFileAction=invokeFileAction
            disabled=isDisabled
          }}
        {{/if}}
      </div>
    </div>
  </td>
  {{#if columnsComponentName}}
    {{component columnsComponentName
      file=file
      previewMode=previewMode
      nameConflict=nameConflict
      fileRowModel=fileRowModel
      dirStatsServiceState=dirStatsServiceState
      invokeFileAction=invokeFileAction
      browserModel=browserModel
    }}
  {{/if}}
  {{#unless noItemsActions}}
    <td class="fb-table-col-actions-menu">
      {{#unless hideMenuTrigger}}
        {{one-menu-toggle
          class="file-row-actions-trigger"
          click=(if enableContextMenuToggle (disable-bubbling (action "openContextMenu")))
        }}
      {{/unless}}
    </td>
  {{/unless}}
{{/if}}
