<td class="fb-table-col-files">
  <div class="file-info-container">
    <div class="inline-icon-container file-icon-container">
      {{one-icon icon=icon class="file-icon"}}
    </div>
    <div class="file-name">
      {{#truncated-string}}
        {{displayName}}
      {{/truncated-string}}
    </div> 
  </div>
</td>
<td class="fb-table-col-size">
  {{bytes-to-string file.size}}
</td>
<td class="fb-table-col-modification">
  {{date-format file.modificationTime format="dateWithMinutes" blank="—"}}
</td>
<td class="fb-table-col-actions-menu">
  {{#unless hideMenuTrigger}}
    {{one-menu-toggle
      class="file-row-actions-trigger"
      click=(disable-bubbling (action "openContextMenu"))
    }}
  {{/unless}}
</td>
