{{#component headFirstCellComponentName
  browserModel=browserModel
  isDropBorderShown=isDropBorderShown
  headingDragOverAction=(action "headingDragOverAction")
  headingDragLeaveAction=(action "headingDragLeaveAction")
  headingDropAction=(action "headingDropAction")
}}
  {{yield}}
{{/component}}
{{#each columnsConfiguration.columnsOrder as |columnName i|}}
  {{#if (get columnsConfiguration (concat "columns." columnName ".isVisible"))}}
    <th
      class={{concat-classes
        (concat "fb-table-col-" columnName)
        "fb-table-secondary-col"
        "hidden-xs"
        (if isDropBorderShown "border-dashed")
      }}
      style={{get columnsConfiguration (concat "columnsStyle." columnName)}}
      draggable=true
      ondragstart={{action "headingDragAction" columnName}}
      ondragend={{action "headingDragEndAction"}}
    >
      <div class="column-info-container">
        <span class="column-name">
          {{one-icon icon="drag" class="column-move-icon"}}
          {{#if (eq (get columnsConfiguration (concat "columns." columnName ".type")) "xattr")}}
            {{get columnsConfiguration (concat "columns." columnName ".displayedName")}}
          {{else}}
            {{tt this (concat "headers.name." columnName)}}
          {{/if}}
          {{#if (get columnsConfiguration (concat "columns." columnName ".hasTooltip"))}}
            {{#one-icon icon="browser-info" class="column-info-icon"}}
              {{one-tooltip
                title=(if (eq (get columnsConfiguration (concat "columns." columnName ".type")) "xattr")
                (tt this "headers.tip.xattr")
                (tt this
                  (concat "headers.tip." columnName) oneprovider=currentProviderName
                )
                )
              }}
            {{/one-icon}}
          {{/if}}
        </span>
        {{#if (get columnsConfiguration (concat "columns." columnName ".hasSubname"))}}
          <div class="column-subname">
            {{#if (eq (get columnsConfiguration (concat "columns." columnName ".type")) "xattr")}}
              ({{tt this "headers.subname.xattr"}})
            {{else}}
              ({{tt this (concat "headers.subname." columnName)}})
            {{/if}}
          </div>
        {{/if}}
      </div>
      <div
        class="draggable-area"
        ondragover={{action "headingDragOverAction"}}
        ondragleave={{action "headingDragLeaveAction"}}
        ondrop={{action "headingDropAction" (add i 1)}}
      >
      </div>
    </th>
  {{/if}}
{{/each}}
{{columns-configuration-cell
  columnsConfiguration=columnsConfiguration
  browserModel=browserModel
  dragStartAction=(if browserModel.isUsingUploadArea (action "checkboxDragStart"))
  dragEndAction=(if browserModel.isUsingUploadArea (action "checkboxDragEnd"))
}}