<table class="table one-table one-infinite-list">
  <thead class="fb-table-thead">
    <tr>
      <th class="fb-table-col-files">{{tt this "header.files"}}</th>
      <th class="fb-table-col-size">{{tt this "header.size"}}</th>
      <th class="fb-table-col-modification">{{tt this "header.modification"}}</th>
    </tr>
  </thead>
  <tbody class="fb-table-tbody">
    {{!-- <tr class="first-row">
      <td colspan="9999" style={{firstRowStyle}}></td>
    </tr> --}}
    {{#each filesArray as |file|}}
      {{file-browser/fb-table-row
        file=file
        isSelected=(contains file selectedFiles)
        click=(action "fileClicked" file)
        openContextMenu=(action "openContextMenu" file)
        selectionContext=selectionContext
      }}
    {{/each}}
  </tbody>
</table>
{{!-- TODO: trigger selector for multiple file tables --}}
{{#one-webui-popover
  class="file-actions-popover"
  popoverStyle="with-dropdown"
  padding=false
  triggerSelector=(concat "#" elementId " .file-actions-trigger")
  open=fileActionsOpen
}}
  {{#click-outside action=(action "toggleFileActions" false)}}
    {{actions-popover-content
      actionsArray=contextMenuButtons
      actionClicked=(action "toggleFileActions" false)
      class="file-actions"
    }}
  {{/click-outside}}
{{/one-webui-popover}}
<div class="file-actions-trigger"></div>