{{#if isInvalidated}}
  <td colspan="9999" class="special-row-cell invalidated-row-cell">
    {{spin-spinner-block
      sizeClass="xs"
      class="absolute-middle-centered"
    }}
  </td>
{{else}}
  <td class="fb-table-col-files">
    <div class="file-info-container">
      <div class="file-icon-container">
        {{#if isLoadingOnIcon}}
          {{spin-spinner-block
            sizeClass="xs"
            class="on-icon-loading-spinner absolute-middle-centered"
          }}
        {{/if}}
        <div class="inline-icon-container inline-icon-container-file">
          {{one-icon-tagged
            class=(concat-classes "tag-right" (if hasErrorIconTag "danger"))
            icon=icon
            iconClass="file-icon"
            tagIcon=iconTag
            shadowType=(if iconTag "circle" "none")
          }}
        </div>
      </div>
      <div class="file-item-text">
        <div class="file-item-text-upper">
          <div class="file-name">
            {{#truncated-string}}
              <span class="file-name-inner">
                {{!-- NOTE: everything in one line because we avoid space --}}
                <span class="file-base-name">{{fileNameBase}}</span>{{#if fileNameSuffix}}<span class="file-suffix conflict-label">{{fileNameSuffix}}</span>{{/if}}
                {{#if fileLoadError}}
                  {{one-tooltip title=fileLoadError.message}}
                {{/if}}
              </span>
            {{/truncated-string}}
          </div>
          {{#if statusBarComponentName}}
            {{component statusBarComponentName
              file=file
              previewMode=previewMode
              nameConflict=nameConflict
              spacePrivileges=spacePrivileges
              fileRowModel=fileRowModel
              isSpaceOwned=isSpaceOwned
              invokeFileAction=invokeFileAction
            }}
          {{/if}}
        </div>
        {{#if (and media.isMobile mobileInfoComponentName)}}
          {{component mobileInfoComponentName
            file=file
            previewMode=previewMode
            nameConflict=nameConflict
            fileRowModel=fileRowModel
            invokeFileAction=invokeFileAction
          }}
        {{/if}}
      </div>
    </div>
  </td>
  {{#if columnsComponentName}}
    {{component columnsComponentName
      file=file
      previewMode=previewMode
      nameConflict=nameConflict
      fileRowModel=fileRowModel
      invokeFileAction=invokeFileAction
    }}
  {{/if}}
  <td class="fb-table-col-actions-menu">
    {{#unless hideMenuTrigger}}
      {{one-menu-toggle
        class="file-row-actions-trigger"
        click=(if enableContextMenuToggle (disable-bubbling (action "openContextMenu")))
      }}
    {{/unless}}
  </td>
{{/if}}
