<table class="table one-table one-infinite-list">
  <thead class="fb-table-thead">
    <tr>
      <th class="fb-table-col-files">{{tt this "header.files"}}</th>
      <th class="fb-table-col-size">{{tt this "header.size"}}</th>
      <th class="fb-table-col-modification">{{tt this "header.modification"}}</th>
      <th class="fb-table-col-actions-menu"></th>
    </tr>
  </thead>
  <tbody class="fb-table-tbody">
    <tr class="first-row">
      <td colspan="9999" style={{firstRowStyle}}></td>
    </tr>
    <div class="table-start-row"></div>
    {{#each filesArray as |file|}}
      {{file-browser/fb-table-row
        class="data-row"
        file=file
        previewMode=previewMode
        fileCut=(and (eq fileClipboardMode "move") (contains file fileClipboardFiles))
        isSelected=(contains file selectedFiles)
        touchTap=(action "fileTapped" file)
        touchHold=(action "fileTouchHeld" file)
        fastClick=(action "fileClicked" file)
        fastDoubleClick=(action "fileDoubleClicked" file)
        openContextMenu=(action "openContextMenu" file)
        fileActionsOpen=fileActionsOpen
        selectionContext=selectionContext
      }}
    {{/each}}
    {{#if (and initialLoad.isSettled fetchingNext)}}
      <tr class="loading-row">
        <td colspan="9999" class="special-row-cell loading-row-cell">
          {{spin-spinner-block
            sizeClass="sm"
            class="absolute-middle-centered"
          }}
        </td>
      </tr>
    {{/if}}
  </tbody>
</table>
<div class="table-bottom-spacing"></div>
{{#if initialLoad.isPending}}
  <div class="loading-dir-box">
    {{spin-spinner-block
      sizeClass="lg"
      class="absolute-middle-centered"
    }}
  </div>
{{/if}}
{{#if dirLoadError}}
  <div class="error-dir-box dir-box">
    <h1 class="error-dir-text dir-box-text">
      {{dirLoadErrorMessage.message}}
    </h1>
    <div class={{concat "error-dir-image dir-box-image error-dir-image-" dirLoadErrorPosix}}></div>
    {{#unless dirLoadErrorPosix}}
      <div class="error-dir-details application-error">
        <div class="error-details active">
          {{#if dirLoadError.errorJsonString}}
            <div class="error-json">{{dirLoadErrorMessage.errorJsonString}}</div>
          {{/if}}
        </div>
      </div>
    {{/unless}}
  </div>
{{/if}}
{{#if hasEmptyDirClass}}
  <div class="empty-dir-box dir-box">
    <h1 class="empty-dir-text dir-box-text">{{tt this "emptyDirBox.emptyDirectory"}}</h1>
    <div class="empty-dir-image dir-box-image"></div>
    {{#unless previewMode}}
      <h2 class="empty-dir-text dir-box-text">
        {{tt this "emptyDirBox.dragFilesHere"}}
        <a class="empty-dir-upload-action" {{action "emptyDirUpload"}}>
          <div class="inline-icon-container bind-right-text">
            {{one-icon icon="browser-upload"}}
          </div>&nbsp;{{tt this "emptyDirBox.upload"}}
        </a>
        {{tt this "emptyDirBox.or"}}
        <a class="empty-dir-new-directory-action" {{action "emptyDirNewDirectory"}}>
          <div class="inline-icon-container bind-right-text">
            {{one-icon icon="browser-new-directory"}}
          </div>&nbsp;{{tt this "emptyDirBox.createNewDirectory"}}</a>.
      </h2>
      {{#if fileManager.fileClipboardFiles.length}}
        <h2 class="empty-dir-text dir-box-text">
          {{tt this "emptyDirBox.youCanAlso"}}
          <a class="empty-dir-new-directory-action" {{action "emptyDirPaste"}}>
            <div class="inline-icon-container bind-right-text">
              {{one-icon icon="clipboard-copy"}}
            </div>&nbsp;{{tt this "emptyDirBox.paste"}}</a> {{tt this "emptyDirBox.filesFromClipboard"}}.
        </h2>
      {{/if}}
    {{/unless}}
  </div>
{{/if}}

{{#if showDirContextMenu}}
  {{#one-webui-popover
    class="file-actions-popover"
    popoverStyle="with-dropdown"
    padding=false
    triggerSelector=(concat "#" elementId " .file-actions-trigger")
    open=fileActionsOpen
  }}
    {{#click-outside action=(action "toggleFileActions" false)}}
      {{actions-popover-content
        actionsArray=contextMenuButtons
        actionClicked=(action "toggleFileActions" false)
        class="file-actions"
      }}
    {{/click-outside}}
  {{/one-webui-popover}}
  <div class="file-actions-trigger floating-actions-trigger"></div>
{{/if}}

{{file-browser/fb-download-modal
  file=downloadModalFile
  confirmDownload=(action "confirmDownload")
  onHide=(action "closeDownloadModal")
}}
