<td class="fb-table-col-files">
  <div class="file-info-container">
    <div class="inline-icon-container file-icon-container">
      {{one-icon icon=icon class="file-icon"}}
    </div>
    <div class="file-name file-item-text">
      {{#truncated-string}}
        {{displayName}}
      {{/truncated-string}}
    </div> 
    <div class="file-status-bar">
      {{#if isShared}}
        <div class="file-status-icon file-status-shared">
          <div class="inline-icon-container file-icon-container">
            {{#one-icon icon="browser-share"}}
              {{one-tooltip title=(tt this "isShared" type=(tt this file.type))}}
            {{/one-icon}}
          </div>
        </div>
      {{/if}}
      {{#if hasMetadata}}
        <div class="file-status-icon file-status-metadata">
          <div class="inline-icon-container file-icon-container">
            {{#one-icon icon="browser-metadata"}}
              {{one-tooltip title=(tt this "hasMetadata" type=(tt this file.type))}}
            {{/one-icon}}
          </div>
        </div>
      {{/if}}
    </div>
  </div>
</td>
<td class="fb-table-col-size">
  <span class="file-item-text">
    {{#if (eq file.type "file")}}
      {{#if file.isPollingSize}}
        {{spin-spinner-block sizeClass="xs" class="absolute-middle-centered"}}
      {{else}}
        {{bytes-to-string file.size}}
      {{/if}}
    {{else}}
      —
    {{/if}}
  </span>
</td>
<td class="fb-table-col-modification">
  <span class="file-item-text">
    {{date-format file.modificationTime format="dateWithMinutes" blank="—"}}
  </span>
</td>
<td class="fb-table-col-actions-menu">
  {{#unless hideMenuTrigger}}
    {{one-menu-toggle
      class="file-row-actions-trigger"
      click=(unless fileActionsOpen (disable-bubbling (action "openContextMenu")))
    }}
  {{/unless}}
</td>
