{{#if isInvalidated}}
  <td colspan="9999" class="special-row-cell invalidated-row-cell">
    {{spin-spinner-block
      sizeClass="xs"
      class="absolute-middle-centered"
    }}
  </td>
{{else}}
  <td class="fb-table-col-files">
    <div class="file-info-container">
      <div class="file-icon-container">
        {{#if isLoadingDownload}}
          {{spin-spinner-block
            sizeClass="xs"
            class="download-loading-spinner absolute-middle-centered"
          }}
        {{/if}}
        <div class="inline-icon-container inline-icon-container-file">
          {{one-icon-tagged
            class="tag-right"
            icon=icon
            iconClass="file-icon"
            tagIcon=iconTag
            shadowType=(if iconTag "circle" "none")
          }}
        </div>
      </div>
      <div class="file-item-text">
        <div class="file-item-text-upper">
          <div class="file-name">
            {{#truncated-string}}
              <span class="file-name-inner">
                {{!-- NOTE: everything in one line because we avoid space --}}
                <span class="file-base-name">{{fileNameBase}}</span>{{#if fileNameSuffix}}<span class="file-suffix conflict-label">{{fileNameSuffix}}</span>{{/if}}
                {{#if fileLoadError}}
                  {{one-tooltip title=fileLoadError.message}}
                {{/if}}
              </span>
            {{/truncated-string}}
          </div>
          <div class="file-status-bar">
            {{#if (and (not previewMode) (gt referencesCount 1))}}
              <div class="file-status-tag file-status-references">
                {{tt this "status.references" referencesCount=referencesCount}}
              </div>
            {{/if}}
            {{#if (and (not previewMode) isShared)}}
              <div class="file-status-tag file-status-shared" {{action (action "invokeFileAction" file "btnShare") bubbles=false}}>
                {{tt this "status.shared"}}
              </div>
            {{/if}}
            {{#if isForbidden}}
              <div class="file-status-tag file-status-tag-danger file-status-forbidden">
                {{tt this "status.forbidden"}}
                {{one-tooltip title=(tt this (concat "hintForbidden." file.type))}}
              </div>
            {{/if}}
            {{#if nameConflict}}
              <div class="file-status-tag file-status-tag-danger file-status-conflict">
                {{tt this "status.conflict"}}
                {{one-tooltip title=(tt this "otherFileSameName")}}
              </div>
            {{/if}}
            {{#if hasMetadata}}
              <div class="file-status-tag file-status-metadata" {{action (action "invokeFileAction" file "btnMetadata") bubbles=false}}>
                {{tt this "status.metadata"}}
              </div>
            {{/if}}
            {{#if hasAcl}}
              <div
                class={{concat-classes
                  "file-status-tag file-status-acl"
                  (if previewMode "file-status-tag-warning")
                }}
                {{action
                  (action "invokeFileAction" file "btnPermissions")
                  bubbles=false
                }}
              >
                {{tt this "status.acl"}}
                {{#if previewMode}}
                  {{one-tooltip title=(tt this "hintAclPreview" fileType=typeText)}}
                {{/if}}
              </div>
            {{/if}}
            {{#if (and (not previewMode) (or hasEffQos hasDirectQos))}}
              <div
                class={{concat-classes
                  "file-status-tag"
                  "file-status-qos"
                  (if hasDirectQos "file-status-qos-direct")
                  (if qosViewForbidden "file-status-tag-disabled")
                }}
                {{action
                  (if qosViewForbidden
                    (no-action)
                    (action "invokeFileAction" file "btnQos")
                  )
                  bubbles=false
                }}
              >
                {{#if hasDirectQos}}
                  {{tt this "status.qos"}}
                {{else}}
                  {{tt this "status.qos"}}&nbsp;{{one-icon class="qos-status-arrow" icon="arrow-long-up"}}
                {{/if}}
                {{#if qosViewForbidden}}
                  {{one-tooltip title=hintQosViewForbidden}}
                {{/if}}
              </div>
            {{/if}}
          </div>
        </div>
        {{#if media.isMobile}}
          <div class="file-info-mobile">
            <span class="file-info-mobile-inner file-info-mobile-left file-info-mobile-size">
              {{#if (eq file.linkedFile.type "file")}}
                {{#if file.linkedFile.isPollingSize}}
                  {{spin-spinner-block sizeClass="xs" class="absolute-middle-centered"}}
                {{else}}
                  {{bytes-to-string file.linkedFile.size}}
                {{/if}}
              {{else}}
                —
              {{/if}}
            </span>
            <span class="file-info-mobile-inner file-info-mobile-right file-info-mobile-modification">
              {{date-format file.linkedFile.modificationTime format="dateWithMinutes" blank="—"}}
            </span>
          </div>
        {{/if}}
      </div>
    </div>
  </td>
  <td class="fb-table-col-size">
    <span class="file-item-text">
      {{#if (eq file.linkedFile.type "file")}}
        {{#if file.linkedFile.isPollingSize}}
          {{spin-spinner-block sizeClass="xs" class="absolute-middle-centered"}}
        {{else}}
          {{bytes-to-string file.linkedFile.size}}
        {{/if}}
      {{else}}
        —
      {{/if}}
    </span>
  </td>
  <td class="fb-table-col-modification">
    <span class="file-item-text">
      {{date-format file.linkedFile.modificationTime format="dateWithMinutes" blank="—"}}
    </span>
  </td>
  <td class="fb-table-col-actions-menu">
    {{#unless hideMenuTrigger}}
      {{one-menu-toggle
        class=(concat-classes "file-row-actions-trigger" (if (eq type "broken") "disabled"))
        click=(if enableContextMenuToggle (disable-bubbling (action "openContextMenu")))
      }}
    {{/unless}}
  </td>
{{/if}}
