{{#if (or (eq dirStatsServiceState.status "initializing") dirStatsNotReady)}}
  <div class="no-statistics">
    <div class="no-statistics-message">
      {{tt this "noStatistics"}}
    </div>
  </div>
{{else}}
  {{#promise-proxy-container proxy=loadingProxy}}
    <div class="current-size-section">
       <h2 class="current-size-header">
        {{tt this "currentSize.header"}}
        <span class={{concat-classes
          "extra-info"
          classProvidersCount
        }}>({{currentSizeExtraInfo}})</span>
        {{#if isHeaderWarningIconVisible}}
          {{#one-icon icon="sign-warning-rounded" class="header-info-warning"}}
            {{one-tooltip title=(tt this "currentSize.currentSizeTip")}}
          {{/one-icon}}
        {{/if}}
      </h2>
      <p class="latest-dir-stats-values">
        <ul class="details-property-list">
          <li class="property-row property-contains">
            <span class="property-label">
              {{tt this "currentSize.fileCounters.containsLabel"}}:
            </span>
            <span class="property-value">
              {{stringifiedLatestElementsCount}}
              <span class="extra-info">
                {{stringifiedLatestElementsCountExtraInfo}}
              </span>
            </span>
          </li>
          <li class="property-row property-logical-size">
            <span class="property-label">
              {{tt this "currentSize.fileCounters.logicalSizeLabel"}}:
            </span>
            <span class="property-value">
              {{bytes-to-string latestDirSizeStatsValueRanges.minLogicalSize}}
              {{#if (not-eq
                latestDirSizeStatsValueRanges.minLogicalSize
                latestDirSizeStatsValueRanges.maxLogicalSize
              )}}
                 – {{bytes-to-string latestDirSizeStatsValueRanges.maxLogicalSize}}
              {{/if}}
              {{#if logicalSizeExtraInfo}}
                <span class="extra-info">
                  ({{logicalSizeExtraInfo}}&nbsp;B)
                </span>
              {{/if}}
              {{one-label-tip title=(tt this "currentSize.logicalSizeTip")}}
            </span>
          </li>
          <li class="property-row property-physical-size">
            <span class="property-label">
              {{tt this "currentSize.fileCounters.totalPhysicalSizeLabel"}}:
            </span>
            <span class="property-value">
              {{bytes-to-string totalPhysicalSize}}
              {{#if totalPhysicalSizeExtraInfo}}
                <span class="extra-info">({{totalPhysicalSizeExtraInfo}}&nbsp;B)</span>
              {{/if}}
              {{one-label-tip title=(tt this "currentSize.totalPhysicalSizeTip")}}
            </span>
          </li>
        </ul>
      </p>
    </div>
    {{#if (gt providersCount 1)}}
      <div class="size-stats-expand">
        <a
          class="toggle-expand"
          onClick={{action "toggleSizeStats"}}
        >
          {{#if (not areSizeStatsExpanded)}}
            {{tt this "showMoreStats"}}
            {{one-icon icon="arrow-down"}}
          {{else}}
            {{tt this "hideMoreStats"}}
            {{one-icon icon="arrow-up"}}
          {{/if}}
        </a>
      </div>
      {{#if areSizeStatsExpanded}}
        {{file-browser/size-stats-per-provider-table
          dirSizeStatsValues=latestDirSizeStatsValues
        }}
      {{/if}}
    {{/if}}
    {{#if areChartsRendered}}
      {{one-time-series-charts-section
        class="historical-size-section"
        sectionSpec=dashboardSpec.rootSection
        externalDataSources=chartsExternalDataSources
        onGetTimeSeriesSchemas=(action "getTimeSeriesSchemas")
        onQueryBatcherFetchData=(action "queryBatcherFetchData")
      }}
    {{/if}}
  {{/promise-proxy-container}}
{{/if}}
