{{#if (eq dirStatsServiceState.status "initializing")}}
  <div class="no-statistics">
    <div class="no-statistics-message">
      {{tt this "noStatistics"}}
    </div>
  </div>
{{else}}
  {{#promise-proxy-container proxy=loadingProxy}}
    <div class="current-size-section">
      <h2 class="current-size-header">{{tt this "currentSize.header"}}</h2>
      <p class="latest-dir-stats-values">
        <ul class="details-property-list">
          <li class="property-row property-contains">
            <span class="property-label">
              {{tt this "currentSize.containsLabel"}}:
            </span>
            <span class="property-value">
              {{stringifiedLatestElementsCount}}
            </span>
          </li>
          <li class="property-row property-logical-size">
            <span class="property-label">
              {{tt this "currentSize.logicalSizeLabel"}}:
            </span>
            <span class="property-value">
              {{bytes-to-string latestDirSizeStatsValues.logicalSize}}
              {{#if (gte latestDirSizeStatsValues.logicalSize 1024)}}
                <span class="extra-info">
                  ({{latestDirSizeStatsValues.logicalSize}} B)
                </span>
              {{/if}}
              {{one-label-tip title=(tt this "currentSize.logicalSizeTip")}}
            </span>
          </li>
          <li class="property-row property-physical-size">
            <span class="property-label">
              {{tt this "currentSize.physicalSizeLabel"}}:
            </span>
            <span class="property-value">
              {{bytes-to-string latestDirSizeStatsValues.physicalSize}}
              {{#if physicalSizeExtraInfo}}
                <span class="extra-info">{{physicalSizeExtraInfo}}</span>
              {{/if}}
              {{one-label-tip title=(tt this "currentSize.physicalSizeTip")}}
            </span>
          </li>
        </ul>
      </p>
    </div>
    {{one-time-series-charts-section
      class="historical-size-section"
      sectionSpec=dashboardSpec.rootSection
      externalDataSources=chartsExternalDataSources
      onGetTimeSeriesSchemas=(action "getTimeSeriesSchemas")
      onQueryBatcherFetchData=(action "queryBatcherFetchData")
    }}
  {{/promise-proxy-container}}
{{/if}}
