{{#file-browser/item-features-container
  item=item
  features=(array "effDatasetMembership" "effQosMembership")
  expanded=expanded
  as |displayed|
}}
  {{#if displayed.effDatasetMembership.isShown}}
    <div class="file-status-tag-group dataset-file-status-tag-group">
      <div
        class={{concat-classes
          "file-status-tag"
          "file-status-dataset"
          (if (eq displayed.effDatasetMembership.membership "ancestor")
            "file-status-tag-inherited"
          )
          (if effDatasetDisabled "file-status-tag-disabled")
        }}
        {{action
          (if (or disabled datasetsViewForbidden)
            (no-action)
            (action "tagClicked" "datasets")
          )
          bubbles=(bool disabled)
        }}
      >
        <span class="tag-text">{{tt this "status.dataset"}}</span>
        {{#if (eq displayed.effDatasetMembership.membership "ancestor")}}
          {{one-icon class="dataset-inherited-icon inherited-icon" icon=inheritedIcon}}
          {{one-tooltip title=(tt this "inheritedTip.ancestor.dataset")}}
        {{/if}}
        {{#if datasetsViewForbidden}}
          {{one-tooltip title=hintDatasetsViewForbidden}}
        {{/if}}
      </div>
      {{#if hasAnyProtectionFlag}}
        <div
          class="file-status-tag file-status-tag-warning file-status-tag-icon file-status-protected"
        >
          {{#if dataIsProtected}}
            {{one-icon
              icon="provider"
              class="file-protected-icon file-data-protected-icon"
            }}
          {{/if}}
          {{#if metadataIsProtected}}
            {{one-icon
              icon="browser-attribute"
              class="file-protected-icon file-metadata-protected-icon"
            }}
          {{/if}}
          {{#if protectionFlagsInfo}}
            {{one-tooltip title=protectionFlagsInfo}}
          {{/if}}
        </div>
      {{/if}}
      {{#if (eq displayed.effDatasetMembership.membership "directAndAncestor")}}
        <div
          class="file-status-tag file-status-tag-inherited-addon file-status-tag-icon file-status-inherited-addon"
        >
          {{one-icon
            icon=inheritedIcon
            class="inherited-icon"
          }}
          {{one-tooltip title=(tt this "inheritedTip.directAndAncestor.dataset")}}
        </div>
      {{/if}}
    </div>
  {{/if}}
  {{#if displayed.effQosMembership.isShown}}
    <div class="file-status-tag-group qos-file-status-tag-group">
      <div
        class={{concat-classes
          "file-status-tag"
          "file-status-qos"
          (if (eq displayed.effQosMembership.membership "ancestor")
            "file-status-tag-inherited"
          )
          (if effQosDisabled "file-status-tag-disabled")
        }}
        {{action
          (if disabled
            (no-action)
            (action "tagClicked" "qos")
          )
          bubbles=(bool disabled)
        }}
      >
        <span class="tag-text">{{tt this "status.qos"}}</span>
        {{#if (eq displayed.effQosMembership.membership "ancestor")}}
          {{one-icon class="qos-inherited-icon inherited-icon" icon=inheritedIcon}}
          {{one-tooltip title=(tt this "inheritedTip.ancestor.qos")}}
        {{/if}}
        {{#if qosViewForbidden}}
          {{one-tooltip title=hintQosViewForbidden}}
        {{/if}}
      </div>
      {{#if (eq displayed.effQosMembership.membership "directAndAncestor")}}
        <div
          class="file-status-tag file-status-tag-inherited-addon file-status-tag-icon file-status-inherited-addon"
        >
          {{one-icon
            icon=inheritedIcon
            class="inherited-icon"
          }}
          {{one-tooltip title=(tt this "inheritedTip.directAndAncestor.qos")}}
        </div>
      {{/if}}
    </div>
  {{/if}}
{{/file-browser/item-features-container}}
