{{yield displayedState itemWithFeatures}}
{{#if showInhertedTag}}
  <div
    class={{tagClassName}}
    {{action "inheritanceTagClicked" bubbles=false}}
  >
    {{one-icon
      icon="inheritance"
      class="item-inheritance-icon inherited-icon"
    }}
    {{one-tooltip title=(tt this "expandTip")}}
  </div>
{{/if}}