<td class="table-data-cell column-timestamp table-data-timestamp">
  <div class="table-data-cell-content">
    {{date-format timestamp format="report" blank="—"}}
  </div>
</td>
<td class="table-data-cell column-file table-data-file">
  <div class="table-data-cell-content">
    {{#if fileHref}}
      <a
        class="source-file navy underlined truncate"
        target={{navigateTarget}}
        href={{fileHref}}
      >
        <span class="file-name">{{fileName}}</span>
        {{one-tooltip title=filePath class="string-path-tooltip"}}
      </a>
    {{else}}
      <div class="source-file truncate">
        <span class="file-name">{{fileName}}</span>
        {{one-tooltip title=filePath class="string-path-tooltip"}}
      </div>
    {{/if}}
  </div>
</td>
<td class="table-data-cell column-message table-data-message">
  <div class="table-data-cell-content">
    {{#truncated-string class=messageClass}}
      {{message}}
    {{/truncated-string}}
  </div>
</td>