<td class="table-data-cell column-timestamp table-data-timestamp">
  <span class="table-data-text">
    {{date-format timestamp format="report" blank="—"}}
  </span>
</td>
<td class="table-data-cell column-file table-data-file">
  <span class="table-data-text truncated-string">
    {{!-- FIXME: use file name from parsed path --}}
    {{!-- FIXME: loading state --}}
    {{!-- FIXME: file link? --}}
    {{!-- <a
      href={{fileHref}}
    > --}}
      <span class="file-name">{{fileName}}</span>
    {{!-- </a> --}}
    {{one-tooltip title=filePath class="string-path-tooltip"}}
  </span>
</td>
<td class="table-data-cell column-message table-data-message">
  <span class="table-data-text">
    {{#truncated-string class=(concat-classes "table-data-text" messageClass)}}
      {{message}}
    {{/truncated-string}}
  </span>
</td>