{{#if ancestorDatasetsProxy.isFulfilled}}
  {{#if ancestorDatasets.length}}
    {{#file-datasets/dataset-item
      class=(concat-classes
        "parent-group-dataset-item dataset-item-head-row"
        (if ancestorDatasetsCollapsed "closed" "opened")
      )
      dataset=virtualParentDataset
      readonly=true
      protectionIcons=protectionIcons
      dataToggleReadonlyMessage=(tt this "summaryAncestorsReadonlyFlags"
        protectionType=(tt this "protectionType.data")
      )
      metadataToggleReadonlyMessage=(tt this "summaryAncestorsReadonlyFlags"
        protectionType=(tt this "protectionType.metadata")
      )
      click=(action "toggleParentDatasetsCollapse")
    }}
      <div class="parents-collapse-text">
        <div class="dataset-label-section">
          {{#one-icon
            class="path-icon"
            icon="browser-info"
          }}
            {{one-tooltip title=(tt this "ancestorDatasetsTip")}}
          {{/one-icon}}
          <div class="dataset-label">
            {{tt this "ancestorDatasets"}} ({{ancestorDatasets.length}})
          </div>
          <div class={{concat-classes
            "inline-icon-container collapse-icon-container"
            (if ancestorDatasetsCollapsed "closed" "opened")
          }}>
            {{one-icon
              class="collapse-icon"
              icon="arrow-down"
            }}
          </div>
        </div>
      </div>
    {{/file-datasets/dataset-item}}
    {{#file-datasets/datasets-list-container
      getDataUrl=getDataUrl
      datasets=ancestorDatasets
      as |dataList|
    }}
      {{#each dataList as |data|}}
        {{#file-datasets/dataset-item
          class=(concat-classes
            "parent-dataset-item"
            (if ancestorDatasetsCollapsed "closed" "opened")
          )
          dataset=data.dataset
          file=data.file
          readonly=readonly
          togglesReadonlyMessage=insufficientEditPrivilegesMessage
          protectionIcons=protectionIcons
          updateOpenedFileData=updateOpenedFileData
        }}
          <div class="dataset-label-section">
            {{one-icon class="path-icon" icon="browser-directory"}}
            <div class="dataset-label path-label">
              <a
                onclick={{action "fileLinkClicked"}}
                target={{navigateDataTarget}}
                class="azure file-path truncate"
                href={{data.fileHref}}
              >
                {{data.filePathString}}
              </a>
            </div>
          </div>
        {{/file-datasets/dataset-item}}
      {{/each}}
    {{/file-datasets/datasets-list-container}}
  {{else}}
    <tr class="dataset-item dataset-item-head-row no-parent-datasets-row">
      <td class="no-parent-datasets-cell col-dataset-info">
        <span class="parents-collapse-text parents-collapse-text-empty">
          <div class="dataset-label-section">
            {{#one-icon
              class="path-icon no-dataset-icon"
              icon="browser-info"
            }}
              {{one-tooltip title=(tt this "noAncestorDatasetsTip"
                fileType=(tt this (concat "fileType." fileType))
              )}}
            {{/one-icon}}
            <div class="dataset-label no-parent-datasets-text">
              {{tt this "noAncestorDatasets"}}
            </div>
          </div>
        </span>
      </td>
      <td class="col-dataset-protection"></td>
      <td class="col-dataset-protection"></td>
    </tr>
  {{/if}}
{{else}}
  <tr
    class="dataset-item loadable-row dataset-loadable-row dataset-items-loadable-row"
  >
    {{#if ancestorDatasetsProxy.isRejected}}
      <td class="col-dataset-info" colspan="3">
        {{resource-load-error
          message=(tt this "cannotLoadAncestorDatasets")
          reason=ancestorDatasetsProxy.reason
        }}
      </td>
    {{else}}
      <td class="col-dataset-info">
        {{spin-spinner-block class="dataset-items-spinner" sizeClass="xs"}}
      </td>
      <td class="col-dataset-protection col-dataset-protection-data"></td>
      <td class="col-dataset-protection col-dataset-protection-metadata"></td>
    {{/if}}
  </tr>
{{/if}}