{{#if directDatasetProxy.isRejected}}
  {{resource-load-error
    message=(tt this "cannotLoadDirectDataset")
    reason=directDatasetProxy.reason
  }}
{{else}}
  <div class="direct-dataset-control-inner">
    {{one-icon
      class="direct-dataset-col-icon"
      icon=statusIcon
    }}
    <div class="direct-dataset-col-text">
      {{#truncated-string class="status-text"}}
        {{statusText}}
      {{/truncated-string}}
      {{#if statusTip}}
        <div class="status-tip-container">
          {{one-label-tip title=statusTip tooltipClass="tooltip-lg tooltip-text-left"}}
        </div>
      {{/if}}
    </div>
    <div class="direct-dataset-col-label-action-trigger">
      {{#if (eq status "notEstablished")}}
        <div class="btn-tooltip-container">
          {{#one-button
            class="btn-sm establish-btn"
            type="primary"
            disabled=(bool establishButtonDisabledTip)
            onClick=(action "establishDirectDataset")
          }}
            {{tt this "establishDatasetHere"}}
          {{/one-button}}
          {{#if establishButtonDisabledTip}}
            {{one-tooltip title=establishButtonDisabledTip}}
          {{/if}}
        </div>
      {{else}}
        {{#one-button
          class="btn-sm direct-dataset-actions-trigger"
          onClick=(action "toggleActionsOpen")
        }}
          {{one-icon icon="settings"}}
          <span class="text">{{tt this "actionsButton"}}</span>
          {{one-icon class="menu-trigger-arrow" icon="arrow-down"}}
        {{/one-button}}
        {{#render-later triggerRender=areActionsOpened}}
          {{#one-webui-popover
            class="direct-dataset-actions"
            padding=false
            popoverStyle="with-dropdown"
            triggerSelector=actionsTriggerSelector
            open=areActionsOpened
            as |popover|
          }}
            {{#click-outside
              action=(action "toggleActionsOpen" false)
              except-selector=actionsTriggerSelector
            }}
              {{actions-popover-content
                actionsArray=directDatasetActions
                actionsArg=(array directDataset)
                actionClicked=(action "toggleActionsOpen" false)
              }}
            {{/click-outside}}
          {{/one-webui-popover}}
        {{/render-later}}
      {{/if}}
    </div>
  </div>
{{/if}}