{{#if directDatasetProxy.isRejected}}
  {{resource-load-error
    message=(tt this "cannotLoadDirectDataset")
    reason=directDatasetProxy.reason
  }}
{{else}}
  <div class="direct-dataset-control-inner">
    {{one-icon
      class=(concat-classes "direct-dataset-col-icon" statusIconClass)
      icon=statusIcon
    }}
    <div class="direct-dataset-col-text">
      {{#truncated-string class="status-text"}}
        {{statusText}}
      {{/truncated-string}}
    </div>
    <div class="direct-dataset-col-label-tip"></div>
    <div class="direct-dataset-col-label-action-trigger">
      {{#if (eq status "notEstablished")}}
        {{#one-button
          class="btn-sm establish-btn"
          type="primary"
          onClick=(action "establishDirectDataset")
        }}
          {{tt this "establishDatasetHere"}}
        {{/one-button}}
      {{else}}
        {{#one-button
          class="btn-sm direct-dataset-actions-trigger"
          onClick=(action "toggleActionsOpen")
        }}
          {{one-icon icon="settings"}}
          <span class="text">{{tt this "actionsButton"}}</span>
          {{one-icon class="menu-trigger-arrow" icon="arrow-down"}}
        {{/one-button}}
        {{#render-later triggerRender=areActionsOpened}}
          {{#one-webui-popover
            class="lane-run-actions"
            padding=false
            popoverStyle="with-dropdown"
            triggerSelector=actionsTriggerSelector
            open=areActionsOpened
            as |popover|
          }}
            {{#click-outside
              action=(action "toggleActionsOpen" false)
              except-selector=actionsTriggerSelector
            }}
              {{actions-popover-content
                actionsArray=directDatasetActions
                actionClicked=(action "toggleActionsOpen" false)
              }}
            {{/click-outside}}
          {{/one-webui-popover}}
        {{/render-later}}
      {{/if}}
    </div>
  </div>
{{/if}}