<td class="col-dataset-info">
  {{#if hasBlock}}
    {{yield}}
  {{else}}
    <div class="path-section">
      {{one-icon class="path-icon" icon="browser-directory"}}
      <div class="path-label">
        <a
          onclick={{action "fileLinkClicked"}}
          target={{navigateDataTarget}}
          class="file-path truncate"
          href={{fileHref}}
        >
          {{filePathString}}
        </a>
      </div>    
    </div>
  {{/if}}
</td>
{{#each (array "data" "metadata") as |protectionType|}}
  <td class="col-dataset-protection col-dataset-protection-{{protectionType}}">
    {{one-way-toggle
      inputId=(concat elementId "-" protectionType "-flag-toggle")
      class=(concat-classes (concat protectionType "-flag-toggle") "flag-toggle")
      checked=(get this (concat protectionType "IsProtected"))
      class=(if media.isMobile "pull-right right" "toggle-right-side")
      spinnerSide=(if media.isMobile "left" "right")
      isReadOnly=readonly
      lockHint=readonlyMessage
      update=(action "toggleDatasetProtectionFlag" (concat protectionType "_protection"))
    }}
  </td>
{{/each}}
