<div class="header-text-container">
  <h1 class="datasets-modal-header">
    <span class="header-text">
      {{tt this "datasets"}}
    </span>
    <div class="inline-icon-container">
      {{one-icon
        icon="sign-question-rounded"
        class="hint-trigger datasets-header-hint-trigger clickable"
      }}
    </div>
    {{#one-switchable-popover-modal
      class="datasets-hint"
      modalClass="modal-compact-help"
      triggersConfiguration=".datasets-header-hint-trigger"
      layoutType="modal"
      popoverStyle="datasets-hint-info"
      as |ospm|
    }}
      {{#ospm.modal.header}}
        <h1>{{tt this "hint.title"}}</h1>
      {{/ospm.modal.header}}
      {{#ospm.modal.body}}
        {{#with (tt this (concat "fileType." fileType)) as |fileTypeText|}}
          <p>{{tt this "hint.intro"}}</p>
          <p>{{tt this "hint.guide" fileType=fileTypeText}}</p>
          <ul>
            <li>{{tt this "hint.settingsTab" fileType=fileTypeText}}</li>
            <li>{{tt this "hint.archivesTab" fileType=fileTypeText}}</li>
          </ul>
        {{/with}}
      {{/ospm.modal.body}}
      {{#ospm.modal.footer}}
        <div class="btn-toolbar text-right visible-xs-block">
          {{#one-button class="btn btn-sm" type="info" onClick=ospm.close}}
            {{tt this "hint.close"}}
          {{/one-button}}
        </div>
      {{/ospm.modal.footer}}
    {{/one-switchable-popover-modal}}
  </h1>
  {{modal-file-subheader
    files=(array file)
  }}
</div>

