<OneDropdown
  @triggerClass={{concat-classes "small comparator-value provider-editor-trigger truncate dropdown-editor-trigger" guid}}
  @dropdownClass="small ember-basic-dropdown-content-comparator-value over-popover-over-modals dropdown-editor-options storage-editor-options"
  @options={{options}}
  @selected={{value}}
  @renderInPlace={{false}}
  @placeholder={{tt this "dropdownPlaceholder"}}
  @matcher={{action "search"}}
  @searchEnabled={{true}}
  @onChange={{action onValueChange}}
  @onClose={{action onFinishEdit}}
  @onBlur={{action "onSelectorBlur"}}
  as |itemValue|
>
  <div class="option-container">
    {{query-builder/model-presenters/provider
      tagName=""
      itemValue=itemValue
    }}
  </div>
</OneDropdown>
