<div class="icon-section">
  <OneIcon @icon={{objectIcon}} />
</div>
<div class="content-section">
  <div class="basic-info-row">
    <div class="basic-info-col">
      <div class="row modern-iconified-block-row title-row edm-object-title-row">
        <div class="edm-object-type item-name">{{objectTypeName}}</div>
        <OneIcon class="hint-trigger" @icon="sign-info-rounded" />
        {{#if isDeletable}}
          <div
            class="edm-delete-btn edm-object-delete-btn"
            onclick={{action "deleteObject"}}
          >
            <OneIcon class="edm-property-delete-icon" @icon="browser-delete">
              <OneTooltip @title={{deleteObjectTip}} />
            </OneIcon>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
  {{#if attrItems}}
    <ul class={{concat-classes
      "edm-object-attrs-container"
      "edm-object-list-container"
      "edm-attrs-container"
      (if (not attrItems.length) "hidden")
    }}>
      {{!-- FIXME: maybe to reuse in object --}}
      {{#each attrItems as |attrItem|}}
        <li class="edm-attr-container">
          <div class="edm-attr-name"><span class="name-value">{{attrItem.name}}</span>:</div>
          <div class="edm-attr-value">
            {{#if visualEdmViewModel.isReadOnly}}
              {{attrItem.value}}
            {{else}}
              <input class="form-control input-sm" value={{attrItem.value}} />
            {{/if}}
          </div>
        </li>
      {{/each}}
    </ul>
  {{/if}}
  <div class={{concat-classes
    "edm-object-properties-container"
    "edm-object-list-container"
    "main-content-row"
    "row modern-iconified-block-row"
    (if (not edmPropertyGroups.length) "hidden")
  }}>
    {{#each edmPropertyGroups as |propertyGroupViewModel|}}
      <VisualEdm::PropertyGroup @viewModel={{propertyGroupViewModel}} />
      {{!-- FIXME: hack, jeśli się spodoba to trzeba inaczej rozwiązać (jakaś lista obliczania w JS) --}}
      {{!-- {{#if (eq index 2)}}
        <div class="add-another-title-row">
          <a class="add-another-title-link" href="#">Add another title...</a>
        </div>
      {{/if}} --}}
    {{/each}}
  </div>
  {{#unless visualEdmViewModel.isReadOnly}}
    <div class="properties-list-buttons">
      {{!-- FIXME: można by zrefaktorować, także w ramach innego ticketa, zamknąć w komponencie (i refaktor direct-dataset-control) --}}
      <OneButton
        class="add-edm-property-btn"
        @type="default"
        @size="sm"
        @onClick={{action "toggleAddPropertyOpen"}}
      >
        <OneIcon @icon="plus" />
        <span class="text">{{tt this "listButtons.addProperty"}}</span>
        <OneIcon class="menu-trigger-arrow" @icon="arrow-down" />
      </OneButton>
      <RenderLater @triggerRender={{isAddPropertyOpened}}>
        <VisualEdm::AddPropertySelector
          @edmObjectModel={{viewModel.model}}
          @opened={{isAddPropertyOpened}}
          @triggerSelector={{addPropertyButtonSelector}}
          @onPropertyAdd={{action "addProperty"}}
          @onCancel={{action "cancelPropertySelect"}}
        />
      </RenderLater>
    </div>
  {{/unless}}
  {{#if viewModel.model.hasExtraData}}
    <VisualEdm::ExtraDataInfo @model={{viewModel.model}}/>
  {{/if}}
</div>
{{yield}}