<div class="edm-property-value-container">
  <div class="edm-property-type">
    {{model.edmPropertyType}}:
  </div>
  <div class="edm-property-value">
    {{model.value}}
  </div>
</div>
<ul class="edm-property-attrs-container edm-property-list-container">
  {{!-- FIXME: maybe to reuse in object --}}
  {{#each attrItems as |attrItem|}}
    <li class="edm-attr-container">
      <div class="edm-attr-name"><span class="name-value">{{attrItem.name}}</span>:</div>
      <div class="edm-attr-value">{{attrItem.value}}</div>
    </li>
  {{/each}}
</ul>
{{yield}}