<th class="pods-table-header-cell">
  <span class="column-label">{{tt this "columnLabel.name"}}</span>
  {{#bs-button-group
    value=podsFilter
    class="pods-filter-btn-group"
    type="radio"
    onChange=(action "podsFilterChange")
    as |bg|
  }}
    {{#bg.button type="default" class="btn-sm filter-working" value="working"}}
      <span class="text">{{tt this "filter.working"}}</span>
    {{/bg.button}}
    {{#bg.button type="default" class="btn-sm filter-all" value="all"}}
      <span class="text">{{tt this "filter.all"}}</span>
    {{/bg.button}}
  {{/bs-button-group}}
</th>
<th class="pods-table-header-cell">
  <span class="column-label">{{tt this "columnLabel.status"}}</span>
</th>
<th class="pods-table-header-cell">
  <span class="column-label">{{tt this "columnLabel.statusSince"}}</span>
</th>
