<td class="col-dataset-info">
  {{yield}}
</td>
{{#each toggleViewModels as |toggleViewModel|}}
  <td class="col-dataset-protection {{toggleViewModel.cellProtectionTypeClass}}">
    <div class="dataset-protection-control">
      {{#if (media "isMobile")}}
        <label for={{toggleViewModel.flagToggleId}}>
          {{toggleViewModel.protectionTypeText}}
        </label>
      {{/if}}
      <div class="toggle-container">
        {{one-way-toggle
          inputId=toggleViewModel.flagToggleId
          class=toggleViewModel.flagToggleClass
          checked=toggleViewModel.isChecked
          spinnerSide=(if (media "isMobile") "left" "right")
          isReadOnly=toggleViewModel.isReadOnly
          lockHint=toggleViewModel.lockHint
          icon=toggleViewModel.icon
          update=toggleViewModel.updateAction
        }}
      </div>
    </div>
  </td>
{{/each}}
