<div class="header-text-container">
  <h1 class="dataset-protection-modal-header">
    <span class="header-text">
      {{tt this "protectionHeader"}}
    </span>
    <div class="inline-icon-container">
      {{one-icon
        icon="sign-question-rounded"
        class="hint-trigger protection-header-hint-trigger clickable"
      }}
    </div>
    {{#one-switchable-popover-modal
      class="protection-hint"
      modalClass="modal-compact-help"
      triggersConfiguration=".protection-header-hint-trigger"
      layoutType="modal"
      popoverStyle="protection-hint-info over-modals"
      as |ospm|
    }}
      {{#ospm.modal.header}}
        <h1>{{tt this "hint.title"}}</h1>
      {{/ospm.modal.header}}
      {{#ospm.modal.body}}
        <p>{{tt this "hint.intro"}}</p>
      {{/ospm.modal.body}}
      {{#ospm.modal.footer}}
        <div class="btn-toolbar text-right visible-xs-block">
          {{#bs-button class="btn btn-sm" type="info" onClick=ospm.close}}
            {{tt this "hint.close"}}
          {{/bs-button}}
        </div>
      {{/ospm.modal.footer}}
    {{/one-switchable-popover-modal}}
  </h1>
  {{modal-dataset-subheader
    datasets=(array dataset)
  }}
</div>

{{dataset-protection/effective-info
  file=file
  mode="dataset"
}}
