<GlobalModal
  @classNames="xattr-modal"
  @modalId={{modalId}}
  @allowClose={{true}}
  @onHide={{action "onHide"}}
  as |modal|
>

  <modal.header>
    <h1>{{tt this "header" key=xattrKey}}</h1>
    <ModalFileSubheader @files={{file}} />
  </modal.header>

  <modal.body>
    <ClipboardLine
      @value={{xattrValue}}
      @type="textarea"
      @textareaRows="3"
      class="monospace-font compact"
    />
  </modal.body>

  <modal.footer>
    <OneButton
      @onClick={{modal.close}}
    >
      {{tt this "cancel"}}
    </OneButton>
  </modal.footer>

</GlobalModal>
