{{#one-icon icon=icon class="transfer-file-icon"}}
  {{#if enableMobileHint}}
    {{space-transfers/data-name-tooltip record=record}}
  {{/if}}
{{/one-icon}}
{{#if (or (eq dataSourceType "file") (eq dataSourceType "dir"))}}
  {{#if href}}
    <a
      class="transfer-file-name transfer-data-name azure"
      href={{href}}
      target={{navigateTarget}}
      onclick={{action "stopEventPropagation" bubbles=false}}
      onkeydown={{action "stopEventPropagation" bubbles=false}}
    >
      {{name}}
      {{#if enableDesktopHint}}
        {{space-transfers/data-name-tooltip record=record}}
      {{/if}}
    </a>
  {{else}}
    <span class="transfer-file-name transfer-data-name">
      {{name}}
      {{#if enableDesktopHint}}
        {{space-transfers/data-name-tooltip record=record}}
      {{/if}}
    </span>
  {{/if}}
{{else if (eq dataSourceType "view")}}
  <a
    class="transfer-db-index-name transfer-data-name azure"
    onclick={{action "openDbViewModal" bubbles=false}}
  >
    {{name}}
    {{#if enableDesktopHint}}
      {{space-transfers/data-name-tooltip record=record}}
    {{/if}}
  </a>
{{else}}
  <span class="transfer-data-name">
    {{name}}
    {{#if enableDesktopHint}}
      {{space-transfers/data-name-tooltip record=record}}
    {{/if}}
  </span>
{{/if}}