{{one-menu-toggle
  class=(concat-classes triggerClass)
  click=(disable-bubbling (action "toggleActions"))
}}

{{#render-later triggerRender=actionsOpened}}
  {{#one-webui-popover
    class="transfer-actions"
    popoverStyle="with-dropdown"
    padding=false
    triggerSelector=triggerSelector
    open=actionsOpened
    onToggle=(action "toggleActions")}}
    {{#click-outside
      onClickOutside=(action "toggleActions" false)
      exceptSelector=triggerSelector
    }}
      {{actions-popover-content
        actionsArray=menuActions
        actionClicked=(action "toggleActions" false)
        class="transfer-actions"
      }}
    {{/click-outside}}
  {{/one-webui-popover}}
{{/render-later}}

{{#if message}}
  <div class="action-message {{messageType}}">
    {{message}}
    {{one-icon
      icon="close"
      class="clickable close-message"
      click=(action "closeMessage")
    }}
  </div>
{{/if}}
