{{#one-icon icon=icon class="transfer-file-icon"}}
  {{#if enableMobileHint}}
    {{one-tooltip
      class="transfer-file-tooltip string-path-tooltip"
      placement="top"
      title=hint
    }}
  {{/if}}
{{/one-icon}}
{{#if (or (eq dataSourceType "file") (eq dataSourceType "dir"))}}
  {{#if href}}
    <a
      class="transfer-file-name azure"
      href={{href}}
      target={{navigateTarget}}
      onclick={{action "stopEventPropagation" bubbles=false}}
      onkeydown={{action "stopEventPropagation" bubbles=false}}
    >
      {{name}}
      {{#if enableDesktopHint}}
        {{one-tooltip
          class="transfer-file-tooltip string-path-tooltip"
          placement="top"
          title=hint
        }}
      {{/if}}
    </a>
  {{else}}
    <span class="transfer-file-name">
      {{name}}
      {{#if enableDesktopHint}}
        {{one-tooltip
          class="transfer-file-tooltip string-path-tooltip"
          placement="top"
          title=hint
        }}
      {{/if}}
    </span>
  {{/if}}
{{else if (eq dataSourceType "view")}}
  <a
    class="transfer-file-name transfer-data-name azure"
    onclick={{action "openDbViewModal" bubbles=false}}
  >
    {{name}}
    {{#if enableDesktopHint}}
      {{one-tooltip
        class="transfer-file-tooltip string-path-tooltip"
        placement="top"
        title=hint
      }}
    {{/if}}
  </a>
{{else}}
  <span class="transfer-file-name transfer-data-name">
    {{name}}
    {{#if enableDesktopHint}}
      {{one-tooltip
        class="transfer-file-tooltip string-path-tooltip"
        placement="top"
        title=hint
      }}
    {{/if}}
  </span>
{{/if}}