<div class="dropdown-toggle" data-toggle="dropdown" onclick={{disable-bubbling (action (mut opened) (not opened))}}>
  <span class="item-element item-icon transparent-not-hovered settings-icon">
    {{one-icon icon="arrow-down" class="dropdown-trigger-arrow"}}
  </span>
  <span class="one-label">{{selectedProviderName}}</span>
</div>

{{#one-webui-popover
  popoverStyle="with-dropdown provider-selector-dropdown"
  padding=false
  popoverTrigger="manual"
  triggerSelector=(concat "#" elementId " .dropdown-toggle .settings-icon")
  open=opened
  onHide=(action (mut opened) false)
  as |popover|
}}
  {{#click-outside action=popover.hide}}
    <ul class="dropdown-menu actions-popover-content">
      <li onclick={{action "selectProvider" null popover}}>
        <a class="clickable">
          {{one-icon icon="provider"}}
          <span class="one-label">
            {{tt this "allProviders"}}
          </span>
        </a>
      </li>
      {{#each-in providersNames as |providerId providerName|}}
        <li onclick={{action "selectProvider" providerId popover}} class="clickable">
          <a class="clickable">
            {{one-icon icon="provider"}}
            {{#truncated-string class="one-label" tooltipPlacement="right"}}
              {{providerName}}
            {{/truncated-string}}
          </a>
        </li>
      {{/each-in}}
    </ul>
  {{/click-outside}}
{{/one-webui-popover}}
