<div class="row row-active-transfers {{if stickyOverview "sticky"}}" style={{stickyOverviewStyle}} onclick={{action "stickyFocused"}}>
  <div class="row-overview">
    <div class="col-xs-12 col-md-6 col-providers-map map-column">
      <h2>
        {{tt this "providersMapOfDist"}}
      </h2>
      <div class="row loadable-row row-providers-map-inner">
        {{space-transfers/providers-map
          space=space
          providersColors=providersColors
          zoomOnScroll=false
        }}
      </div>
    </div>
    <div class="col-xs-12 col-md-5 col-throughput-pie-chart">
      <h2><span class="one-label">{{tt this "title"}}</span></h2>
      <div class="row loadable-row">
        {{space-transfers/throughput-chart
          space=space
          providers=providers
          providersColors=providersColors
        }}
      </div>
    </div>
  </div>

  <div class="col-xs-12 row-expand-handler hidden-sm" {{action "toggleOverview"}}>
    <span class="toggle-expand left {{if overviewExpanded "opened"}}">
      {{one-icon class="toggle-icon" icon="arrow-down"}}
    </span>
    <span class="one-label">
      {{tt this (if overviewExpanded "hide" "show")}}
    </span>
  </div>
</div>
