<table class="table one-table one-infinite-list">
  <thead class="transfers-table-thead">
    <tr>
      {{#each visibleColumns as |column|}}
        <th class={{concat "transfers-table-col-" column.id}}>
          {{tt this column.id}}
        </th>
      {{/each}}
    </tr>
  </thead>
  <tbody class="transfers-table-tbody">
    <tr class="first-row">
      <td colspan="9999" style={{firstRowStyle}}></td>
    </tr>
    <div class="table-start-row"></div>
    {{#each transfers as |transfer|}}
      {{space-transfers/transfer-row
        columns=visibleColumns
        transfer=transfer
        transfers=transfers
        providers=providers
        transferType=transferType
        updaterId=updaterId
        spaceId=spaceId
        transfersTable=this
        click=(action "toggleTransferDetails" transfer.entityId undefined)
      }}
      {{#if (contains transfer.entityId expandedTransferIds)}}
        {{space-transfers/transfer-details
          record=(transfer-table-record
            transfer=transfer
            transfers=transfers
            providers=providers
            transferCollection=transferType
            updaterId=updaterId
            actions=FIXME
            providersColors=providersColors
          )
          providersColors=providersColors
          columnsCount=visibleColumns.length
        }}
      {{/if}}
    {{/each}}
  </tbody>
</table>
