<div class="row row-active-transfers {{if stickyOverview "sticky"}}" style={{stickyOverviewStyle}} onclick={{action "stickyFocused"}}>
  <div class="row row-overview">
    <div class="col-xs-12 col-md-6 col-providers-map map-column">
      <h2>
        {{tt this "providersMapOfDist"}}
      </h2>
      <div class="row loadable-row row-providers-map-inner">
        {{space-transfers/providers-map
          space=space
          providersColors=providersColors
          zoomOnScroll=false
        }}
      </div>
    </div>
    <div class="col-xs-12 col-md-5 col-md-offset-1 col-throughput-pie-chart">
      <h2><span class="one-label">{{tt this "title"}}</span></h2>
      <div class="row loadable-row">
        {{#bs-tab
          fade=false
          class="bs-tab bs-tab-onedata bs-tab-modern throughput-chart-tab"
          customTabs=true
          activeId="throughput-chart-tab-pane"
          as |tab|
        }}
          {{#bs-nav type="tabs" class="throughput-tabs" as |nav|}}
            {{#nav.item active=(eq throughputTransferType "all")}}
              <a class="nav-link" role="tab" {{action (mut throughputTransferType) "all"}}>
                {{tt this "all"}}
              </a>
            {{/nav.item}}
            {{#nav.item active=(eq throughputTransferType "job")}}
              <a class="nav-link" role="tab" {{action (mut throughputTransferType) "job"}}>
                {{tt this "jobs"}}
              </a>
            {{/nav.item}}
            {{#nav.item active=(eq throughputTransferType "onTheFly")}}
              <a class="nav-link" role="tab" {{action (mut throughputTransferType) "onTheFly"}}>
                {{tt this "onTheFly"}}
              </a>
            {{/nav.item}}
            {{one-icon
              icon="sign-question-rounded"
              class="throughput-tabs-hint-trigger vertical-align-middle clickable"
            }}
            {{#one-switchable-popover-modal
              class="throughput-tabs-hint"
              triggersConfiguration=(concat "#" elementId " .throughput-tabs-hint-trigger")
              as |popmodal|
            }}
              <p>{{tt this "throughputTabsHint.intro"}}</p>
              <h1>{{tt this "throughputTabsHint.total"}}</h1>
              <p>{{tt this "throughputTabsHint.totalInfo"}}</p>
              <h1>{{tt this "throughputTabsHint.transferJobs"}}</h1>
              <p>{{tt this "throughputTabsHint.transferJobsInfo"}}</p>
              <h1>{{tt this "throughputTabsHint.onTheFly"}}</h1>
              <p>{{tt this "throughputTabsHint.onTheFlyInfo"}}</p>
              <div class="btn-toolbar text-right visible-xs-block">
                {{#bs-button type="default" onClick=popmodal.close}}
                  {{tt this "close"}}
                {{/bs-button}}
              </div>
            {{/one-switchable-popover-modal}}
          {{/bs-nav}}
          <div class="tab-content no-vertical-padding">
            {{#tab.pane elementId="throughput-chart-tab-pane"}}
              {{space-transfers/throughput-distribution
                space=space
                providers=providers
                providersColors=providersColors
                transferType=throughputTransferType
              }}
            {{/tab.pane}}
          </div>
        {{/bs-tab}}
      </div>
    </div>
  </div>
  
  <div class="col-xs-12 row-expand-handler hidden-sm" {{action "toggleOverview"}}>
    <span class="toggle-expand left {{if overviewExpanded "opened"}}">
      {{one-icon class="toggle-icon" icon="arrow-down"}}
    </span>
    <span class="one-label">
      {{tt this (if overviewExpanded "hide" "show")}}
    </span>
  </div>
</div>
