<table class="table one-table one-infinite-list drag-and-drop-column-order">
  <thead class="transfers-table-thead">
    <tr>
      {{#each visibleColumns as |column i|}}
        <th
          class={{concat-classes
            (concat "transfers-table-col-" column.id)
            column.className
            (if isDropBorderShown "border-dashed")
          }}
          style={{get columnsConfiguration.columnsStyle column.id}}
          draggable={{not-eq i 0}}
          ondragstart={{action "headingDragAction" column.id}}
          ondragend={{action "headingDragEndAction"}}
        >
          <span class="column-name">
            {{#if (not-eq i 0)}}
              <OneIcon @icon="drag" @class="column-move-icon visible-on-hover" />
            {{/if}}
            {{tt this (concat "headers.name." column.id)}}
          </span>
          <div
            class="draggable-area"
            ondragover={{action "headingDragOverAction"}}
            ondragleave={{action "headingDragLeaveAction"}}
            ondrop={{action "headingDropAction" i}}
          >
          </div>
        </th>
      {{/each}}
      <ColumnsConfigurationCell @columnsConfiguration={{columnsConfiguration}} />
    </tr>
  </thead>
  <tbody class="transfers-table-tbody">
    <tr class="first-row">
      <td colspan="9999" style={{firstRowStyle}}></td>
    </tr>
    <div class="table-start-row"></div>
    {{#unless transfers.length}}
      <tr class="table-is-empty-row">
        <td class="table-is-empty-cell" colspan="9999">
          {{tt this (concat "noTransfers." transferType)}}
        </td>
      </tr>
    {{else}}
      {{#if (and transfers.initialLoad.isSettled fetchingPrev)}}
        <tr class="loading-row loading-prev-row">
          <td colspan="9999" class="special-row-cell loading-row-cell loading-prev-cell">
            <SpinSpinnerBlock @sizeClass="sm" @class="absolute-middle-centered" />
          </td>
        </tr>
      {{/if}}
      {{#each transferRecords key="transfer" as |transferRecord|}}
        <SpaceTransfers::TransferRow
          @class="clickable"
          @record={{transferRecord}}
          @columns={{visibleColumns}}
          @transfersTable={{this}}
          @forbiddenOperations={{forbiddenOperations}}
          @transferActions={{transferActions}}
          @openDbViewModal={{action "openDbViewModal"}}
          @click={{action "toggleTransferDetails" transferRecord.transferId undefined}}
        />
        {{#if (contains transferRecord.transferId expandedTransferIds)}}
          <SpaceTransfers::TransferDetails
            @record={{transferRecord}}
            @providersColors={{providersColors}}
            @columnsCount={{allColumnsCount}}
          />
        {{/if}}
      {{/each}}
      {{#if (and transfers.initialLoad.isSettled fetchingNext)}}
        <tr class="loading-row loading-next-row">
          <td colspan="9999" class="special-row-cell loading-row-cell loading-next-cell">
            <SpinSpinnerBlock @sizeClass="sm" @class="absolute-middle-centered" />
          </td>
        </tr>
      {{/if}}
    {{/unless}}
  </tbody>
</table>
