<a href={{href}} target={{target}} class="space-share-list-item list-item one-collapsible-list-item">
  <div class="one-collapsible-list-item-header row list-header-row truncate hoverable">
    <div class="list-header-content">
      <span class="item-icon-container">
        {{one-icon-tagged
          icon=icon
          class="item-icon tag-right"
          tagIcon=(if pointsToDeletedFile "x")
          shadowType=(if pointsToDeletedFile "circle" "none")
        }}
        {{#if iconTip}}
          {{one-tooltip title=iconTip}}
        {{/if}}
      </span>
      <div class="share-name-container">
        <TruncatedString>
          <NameConflict
            @tagName="span"
            @item={{share}}
            @tagName="span"
            class="one-label share-name-header"
          />
        </TruncatedString>
        {{#if isPathNotAvailable}}
          <span class="share-file-path truncate">
            <span class="share-file-path-error">
              {{tt this "couldNotGetPath"}}
              {{#if shareFilePathErrorMessage}}
                <OneTooltip @title={{shareFilePathErrorMessage}} />
              {{/if}}
            </span>
          </span>
        {{else}}
          <TruncatedString @tooltipClass="string-path-tooltip" class="share-file-path">
            {{#if shareFilePath}}
              {{shareFilePath}}
            {{else}}
              …
            {{/if}}
          </TruncatedString>
        {{/if}}
      </div>
      {{#if isLabelsContanierShown}}
        <div class="share-labels-container">
          {{#if isNoPublicAccessLabelShown}}
            <span class="label label-warning">
              <span class="text">{{tt this "noPublicAccess"}}</span>
              <OneTooltip @title={{forbiddenTooltipTextProxy.content}} />
            </span>
          {{/if}}
          {{#if isOpenDataLabelShown}}
            <span class="label label-primary open-data-tag">
              <span class="text">{{tt this "openData"}}</span>
              <OneTooltip
                @title={{tt this "openDataTip"
                  fileType=(tt this (concat "fileType." (or share.rootFileType "item")))
                }}
              />
            </span>
          {{/if}}
        </div>
      {{/if}}
      {{one-menu-toggle
        class=(concat-classes triggerClass "share-menu-trigger")
        click=(disable-bubbling (action "toggleActions"))
      }}

      {{#render-later triggerRender=actionsOpened}}
        {{#one-webui-popover
          class="transfer-actions"
          popoverStyle="with-dropdown"
          padding=false
          triggerSelector=triggerSelector
          open=actionsOpened
          onToggle=(action "toggleActions")
        }}
          {{#click-outside
            onClickOutside=(action "toggleActions" false)
            exceptSelector=triggerSelector
          }}
            {{actions-popover-content
              actionsArray=menuActions
              actionClicked=(action "toggleActions" false)
              class="share-actions"
            }}
          {{/click-outside}}
        {{/one-webui-popover}}
      {{/render-later}}
    </div>
  </div>
</a>

