<a href={{href}} target={{target}} class="space-share-list-item list-item one-collapsible-list-item">
  <div class="one-collapsible-list-item-header row list-header-row truncate hoverable">
    <div class="list-header-content">
      {{#truncated-string class="icon-with-name"}}
        <span class="item-icon-container">
          {{one-icon-tagged
            icon=icon
            class="item-icon tag-right"
            tagIcon=(if pointsToDeletedFile "x")
            shadowType=(if pointsToDeletedFile "circle" "none")
          }}
          {{#if iconTip}}
            {{one-tooltip title=iconTip}}
          {{/if}}
        </span>
        {{name-conflict tagName="span" item=share tagName="span" class="one-label share-name-header"}}
      {{/truncated-string}}
      {{#if isViewForOtherForbiddenProxy.content}}
        <div class="share-labels-container">
          <span class="label label-warning">{{tt this "noPublicAccess"}}</span>
          {{one-tooltip title=tooltipTextProxy.content}}
        </div>
      {{/if}}
      {{one-menu-toggle
        class=(concat-classes triggerClass "share-menu-trigger")
        click=(disable-bubbling (action "toggleActions"))
      }}

      {{#render-later triggerRender=actionsOpened}}
        {{#one-webui-popover
          class="transfer-actions"
          popoverStyle="with-dropdown"
          padding=false
          triggerSelector=triggerSelector
          open=actionsOpened
          onToggle=(action "toggleActions")
        }}
          {{#click-outside action=(action "toggleActions" false) except-selector=triggerSelector}}
            {{actions-popover-content
              actionsArray=menuActions
              actionClicked=(action "toggleActions" false)
              class="share-actions"
            }}
          {{/click-outside}}
        {{/one-webui-popover}}
      {{/render-later}}
    </div>
  </div>
</a>

