{{!-- FIXME: to remove after move --}}
{{#proceed-process-modal
  opened=open
  i18nPrefix="components.spaceShares.publishModal"
  proceed=(action "submit")
  proceedButtonClass="btn btn-primary proceed"
  proceedDisabled=proceedDisabled
  modalClass="publish-share-modal"
  size="lg"
  close=(action "close")
  onHidden=(action (mut shareMetadata) "")
  as |proceedModal|
}}
  {{#promise-proxy-container proxy=handleServicesProxy}}
    {{#if handleServices.length}}
      <div class="row">
        {{#power-select
          triggerClass="handle-service-select-trigger"
          dropdownClass="handle-service-select-dropdown"
          options=handleServices
          selected=handleService
          disabled=proceedModal.processing
          onchange=(action (mut handleService))
          placeholder=(tt this "selectHandleServicePlaceholder")
          matcher=(action "nameMatcher")
          as |entity|
        }}
          <div class="option-container" data-entity-id={{entity.entityId}}>
            {{#truncated-string}}
              {{entity.name}}
            {{/truncated-string}}
          </div>
        {{/power-select}}
      </div>
      <p class="text-separated">{{tt this "dublinCoreLabel"}}</p>
      <div class="row">
        <textarea
          value={{shareMetadata}}
          oninput={{action (mut shareMetadata) value="target.value"}}
          disabled={{proceedModal.processing}}
          spellcheck="false"
          rows="10"
          class="form-control schema-textarea"></textarea>
      </div>
    {{else}}
      <p>{{tt this "noHandleServices"}}</p>
    {{/if}}
  {{/promise-proxy-container}}
{{/proceed-process-modal}}
