{{#proceed-process-modal
  opened=opened
  i18nPrefix="components.spaceShares.renameModal"
  proceed=(action "submit")
  modalClass="rename-share-modal"
  close=(action "close")
  onShown=(action (mut newName) share.name)
  onHidden=(action (mut newName) "")
  proceedDisabled=(not isNewNameValid)
  as |proceedModal|
}}
  <p>{{tt this "intro"}}:</p>
  <div class="row">
    <input
      id={{inputId}}
      type="text"
      class="form-control new-share-name"
      value={{newName}}
      oninput={{action (mut newName) value="target.value"}}
      onkeydown={{if isNewNameValid (invoke-on-enter proceedModal.proceed)}}
      disabled={{proceedModal.processing}}
      autofocus=true
    >
  </div>
{{/proceed-process-modal}}
