{{#bs-tab
  class="bs-tab bs-tab-onedata bs-tab-modern full-height"
  fade=false
  customTabs=true
  activeId=activeTab
  as |bsTab|
}}
  {{#bs-nav
    type="tabs"
    class="nav-tabs-metadata"
    as |nav|
  }}
    {{#each metadataTypes as |type|}}
      {{#nav.item active=(eq bsTab.activeId type) class="nav-item-wide"}}
        <a href={{concat "#" type}}
          class={{concat "nav-link nav-link-metadata-type nav-link-" type}}
          role="tab"
          {{action (mut activeTab) type}}
        >
          <span class={{concat "tab-name tab-state tab-state-" (get tabStateClassTypes (get this (concat type "TabState")))}}>
            {{capitalize (tt this (concat "types." type))}}
          </span>
          {{one-tooltip
            title=(tt this (concat "tabStateHint." (get this (concat type "TabState")))
              type=(tt this (concat "types." type))
              typeCapitalized=(capitalize (tt this (concat "types." type)))
            )
            triggerEvents="hover"
          }}
        </a>
      {{/nav.item}}
    {{/each}}
  {{/bs-nav}}
  <div class="tab-content tab-content-metadata no-vertical-padding">
    {{#each metadataTypes as |type|}}
      {{#bsTab.pane elementId=type class="full-height"}}
        {{#render-later triggerRender=(eq bsTab.activeId type)}}
          {{#promise-proxy-container proxy=(get this (concat type "OriginalProxy"))}}
            {{#if (and effectiveReadonly (eq (get this (concat type "TabState")) "blank"))}}
              <em>
                {{tt this "tabStateHint.blank" type=(tt this (concat "types." type))}}
              </em>
            {{else}}
              {{component
                (concat "file-metadata/" type)
                class="full-height"
                isActive=(eq bsTab.activeId type)
                metadata=(get this (concat type "Current"))
                metadataChanged=(action "metadataChanged" type)
                isValid=(get this (concat type "IsValid"))
                readonly=effectiveReadonly
              }}
            {{/if}}
          {{/promise-proxy-container}}
        {{/render-later}}
      {{/bsTab.pane}}
    {{/each}}
  </div>
{{/bs-tab}}