{{#bs-tab
  class="bs-tab bs-tab-onedata bs-tab-modern full-height"
  fade=false
  customTabs=true
  activeId=activeTab
  as |bsTab|
}}
  {{#bs-nav
    type="tabs"
    class="nav-tabs-metadata"
    as |nav|
  }}
    {{#each metadataTypes as |type|}}
      {{#let
        (get this (concat "viewModel." type "TabState"))
        as |tabState|
      }}
        {{#nav.item active=(eq bsTab.activeId type) class="nav-item-wide"}}
          <a href={{concat "#" type}}
            class={{concat "nav-link nav-link-metadata-type nav-link-" type}}
            role="tab"
            {{action "changeTab" type}}
          >
            <span class={{concat-classes
              "tab-name"
              "tab-state"
              (concat
                "tab-state-"
                (get tabStateClassTypes tabState)
              )
            }}>
              {{capitalize (tt this (concat "types." type))}}
            </span>
            {{one-tooltip
              title=(tt this (concat "tabStateHint." tabState)
                type=(tt this (concat "types." type))
                typeCapitalized=(capitalize (tt this (concat "types." type)))
              )
              triggerEvents="hover"
            }}
          </a>
        {{/nav.item}}
      {{/let}}
    {{/each}}
  {{/bs-nav}}
  <div class="tab-content tab-content-metadata no-vertical-padding">
    {{#each metadataTypes as |type|}}
      {{#let
        (get this (concat "viewModel." type "OriginalProxy"))
        (get this (concat "viewModel." type "TabState"))
        (get this (concat "viewModel." type "Current"))
        (get this (concat "viewModel." type "IsValid"))
        as |originalProxy tabState current isValid|
      }}
        {{#bsTab.pane elementId=type class="full-height"}}
          {{#render-later triggerRender=(eq bsTab.activeId type)}}
            {{#promise-proxy-container
              proxy=originalProxy
            }}
              {{#if (and effectiveReadonly (eq tabState "blank"))}}
                <em>
                  {{tt this "tabStateHint.blank" type=(tt this (concat "types." type))}}
                </em>
              {{else}}
                {{!-- TODO: VFS-9695 remove used of lastResetTime --}}
                {{component
                  (concat "file-metadata/" type)
                  class="full-height"
                  isActive=(eq bsTab.activeId type)
                  metadata=current
                  metadataChanged=(action "metadataChanged" type)
                  isValid=isValid
                  readonly=effectiveReadonly
                  lastResetTime=viewModel.lastResetTime
                }}
              {{/if}}
            {{/promise-proxy-container}}
          {{/render-later}}
        {{/bsTab.pane}}
      {{/let}}
    {{/each}}
  </div>
{{/bs-tab}}