<div class="btn-group-tabs metadata-type-tabs">
  {{#bs-button-group
    class="metadata-type-selector with-scroll-shadow"
    value=activeTab
    type="radio"
    onChange=(action "changeTab") as |bg|
  }}
    {{#each metadataTypes as |type|}}
      {{#let
        (get this (concat "viewModel." type "TabState"))
        (tt this (concat "types." type))
        as |tabState typeTranslation|
      }}
        {{#bg.button
          type="default"
          class=(concat-classes
            "btn-sm"
            "metadata-type-btn"
            (concat "metadata-type-btn-" type)
          )
          value=type
        }}
          <span class={{concat-classes
            "tab-name"
            "tab-state"
            (concat
              "tab-state-"
              (get tabStateClassTypes tabState)
            )
          }}>
            {{capitalize typeTranslation}}
          </span>
          {{one-tooltip
            title=(tt this (concat "tabStateHint." tabState)
              type=typeTranslation
              typeCapitalized=(capitalize typeTranslation)
            )
            triggerEvents="hover"
          }}
        {{/bg.button}}
      {{/let}}
    {{/each}}
  {{/bs-button-group}}
  {{#if effectiveReadonly}}
    <div class="editor-disabled-lock-container with-scroll-shadow hidden-xs">
      <div class="editor-disabled-lock-text">{{tt this "editorDisabled"}}</div>
      {{one-icon class="editor-disabled-lock-icon" icon="lock"}}
      {{#if effectiveReadonlyTip}}
        {{one-tooltip title=effectiveReadonlyTip}}
      {{/if}}
    </div>
  {{/if}}
</div>
